<div class="col-xs-12 no-padding-left" >
  <h3 class="title" ng-if="singleSite && orgLevel">
    {{selectedSitesInfo[0].name}}
  </h3>
</div>

<div  ng-if="orgLevel" class="col-xs-12  no-padding-left no-padding-right inline-block real-time">
  <div class="pull-left padding-right-7 filter-section"> 
    <div
      class="select-sites-dropdown-wrapper col-sm-12 col-md-4 col-lg-3 no-padding-left"
      ng-class="{'disabled-wrapper': siteDropdownIsDisabled()}">
      <div
        site-selector-popover sites="sites"
        language="::language"
        on-site-click="toggleSite(siteId)"
        select-all-sites="selectAllSites()"
        is-selected="siteIsSelected(siteId)"
        show-select-all-button="true"
        show-customer-site-id="true"
        class="select-sites-dropdown col-xs-12">
        <span class="sticon sticon-search"></span>
        <span translate>common.SELECTSITES</span>
        <span class="sticon sticon-chevron-down dropdown-icon"></span>
      </div>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-9 organization-filter-wrapper"
      ng-if="showFilter">
      <organization-filter-widget
        current-organization="::currentOrganization"
        update-selected-filters="setSelectedFilters(filterTags)"
        selected-tag-ids="selectedTags"
        set-selected-tags-sites="setSelectedTagsSites"
        selected-tag-data="selectedTagData"
        refresh-filter= "refreshFilter">
      </organization-filter-widget>
    </div>
  </div>
 
  <div class= "pull-right filter-clear">
     <button class="btn btn-default btn-group"  ng-disabled="!filterActive" ng-click="clearFilter()">
       <div class="pull-left padding-right-7">
         <span class="sticon sticon-trash" ng-class="{'active': filterActive}"></span>
         <span class="sticon-trash-label" ng-class="{'active': filterActive}" translate>common.CLEAR</span>
       </div>
       <div  class="pull-right">
         <span class="sticon sticon-list"></span>
       </div>       
     </button>
  </div>
</div>

<div class="row " >
  <real-time-data-widget
    org-id="currentOrganization.organization_id"
    site-id="currentSite.site_id"
    selected-sites="selectedSites"
    selected-sites-info="selectedSitesInfo"
    single-site ="singleSite"
    refresh-data="refreshData"
    zone-id="currentZone.id"
    current-organization="currentOrganization"
    sites="sites"
    current-site="currentSite"
    current-user="currentUser"
    on-export-click="exportWidget('real_time_data_widget')"
    export-is-disabled="widgetIsExported('real_time_data_widget')"
    widget-data="fiveKpiWidgetData"
    selected-tags="selectedTags"
    selected-tags-sites="selectedTagsSites"
    has-labor="orgHasLabor"
    has-sales="orgHasSales"
    language="language"
    enter-exit="enterExit"
    hide-export-to-custom-dashboard-icon="true">
  </real-time-data-widget>
</div>

<div class="row" >
  <real-time-interval-data-widget
    org-id="currentOrganization.organization_id"
    site-id="currentSite.site_id"
    zone-id="currentZone.id"
    current-organization="currentOrganization"
    sites="sites"
    selected-sites ="selectedSites"
    selected-sites-info="selectedSitesInfo"
    single-site ="singleSite"
    refresh-data ="refreshData"
    current-site="currentSite"
    current-user="currentUser"
    is-loading="intervalDataLoaded"
    on-export-click="exportWidget('real_time_interval_data_widget')"
    export-is-disabled="widgetIsExported('real_time_interval_data_widget')"
    widget-data="intervalWidgetData"
    selected-tags="selectedTags"
    selected-tags-sites="selectedTagsSites"
    selected-metrics="selectedMetrics"
    has-labor="orgHasLabor"
    has-sales="orgHasSales"
    language="language"
    show-table="showTable"
    business-days="businessDays"
    selected-time-option="selectedTimeOption"
    enter-exit="enterExit"
    set-show-table = "setShowTable"
    hide-export-to-custom-dashboard-icon="false">
  </real-time-interval-data-widget>
</div>

