.account-subtitle-h2 {
  margin:0 0 20px 0;
  font-weight:300;
}

.account-subtitle-h3 {
  font-weight:300;
}

.account-hr {
  border-color:#ccc;
}

.account-preferences {
  position: relative;
}

.account-preferences .alert {
  position: absolute;
  width: 100%;
  opacity: 0;
  top: -55px;
  transition: top 0.4s ease, opacity 0.4s ease;

  &.show {
    opacity: 1;
    top: -22px;
  }
}

.account-preferences > .account-preferences-form {
  min-height: 615px;

  .weather-options {
    margin-top:10px;
  }
}

.account-preferences-loading {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  color: transparent;
}

.account-preferences-loading > .account-preferences-loading-spinner {
  width: 32px;
  height: 32px;
  background-image: url(../assets/images/loader.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}

.account-preferences-loading > div{
  margin-top: 7px;
  display: block;
  color: #000;
}

ul.custom-select{
    list-style: none;
    -webkit-appearance: menulist;
    width:100%;
}

ul.custom-select li{
    height: 99%;
    width:100%;
    padding: 7px;
    padding-left: 3px;
}

ul.custom-select li span{
    padding-left:5px;
}

ul.custom-select li:hover{
    cursor: pointer;
    background: #f5f5f5;
}

ul.custom-select li.open {
    background: none;
}


ul.custom-select ul{
    width:100%;
}


.custom-select {
  padding:0;
  > li {
    &:hover {
      background: none !important;
    }
  }
}

.margin-bottom-40 {
  margin-bottom:40px;
}

.account-settings-form {
  .custom-select a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
    span.caret {
      display:none;
    }
  }
}

.version {
  .sticon {
    margin-right:10px;
  }
}
