
.market-intelligence-widget {

  $default-widget-height: 358px;

  .trend-chart-dropdowns {
    margin-top:10px;
    .dropdown {
      display: inline-block;

      .dropdown-header {
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 10px;

        &:first-child {
          padding-bottom:10px;
        }
        &:not(:first-child) {
          border-top:1px solid darken($gray-lighter, 2%);
        }
      }

      &:focus {
        outline: none;
      }
      .btn {
        background: none;
        &:active {
          box-shadow: none;
          outline: none;
        }

        .caret {
          margin-left:3px;
        }
      }
    }
  }

  .full-height {
    height: 100%!important;
    min-height:100px;
  }

  .editOverLayModal {
    background-color: white;
    z-index: 2;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    left: 0;
    opacity:0.9;
  }
  .white {
    opacity:1;
    background-color: white!important;
    div,a {
      background-color: white!important;
    }
    .caret {
      color:white!important;
    }
  }
  .panel-body {
    padding: 0px;
    min-height: $default-widget-height;
    &.has-table {
      padding-bottom: 0;
    }
  }

  .fontsize16 {
    font-size: 16px!important;
  }

  .permission-message {
    color: $gray-light;
    margin-top:20px
  }

  .loader {
    min-height:250px;
  }

  h3 {
    margin-top:10px;
    font-size:15px;
  }

  h2 {
    margin-top:0px;
    margin-bottom:0px;
  }

  .axis-title{
    color: $gray-light;
    font-size:12px;
  }

  .graph-container {
    height: 362px;
    padding-top: 30px;
  }

  .chart-tooltip {
    min-width: 165px;
    table > tbody > tr > td {
      border:none;
      border-right:none;
      background-color: transparent;
      padding:3px !important;
    }
    table > tbody > tr > th, td {
      padding:3px !important;
      border-top:none;
    }

    h4 {
      font-size:14px;
      font-weight: bold;
    }
  }

  div.active {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #0aaaff;
  }

  .table-open .table-toggle {
    top:12px
  }
  .table-toggle {
    margin-left:0px;
    .btn {
      position:relative;
      padding: 1px 10px;
      text-transform: uppercase;
    }
  }

  .margin-top-40 {
    margin-top:40px;
  }

  .margin-top-8 {
    margin-top:8px;
  }

  .chart-title {
    font-size: $font-size-small;
    text-transform: uppercase;
    color: $gray-light;
  }

  .chart-legend-label {
    font-size: $font-size-small;
    color: $gray-light;
  }


  .table-header-label {
    font-size: 10px;
    color: $gray-light;
  }

  .period-date-label {
    font-size: $font-size-small;
  }

  .info-title {
    padding-top: 10px;
    font-size: $font-size-small;
    color: $gray-dark;
    text-transform: uppercase;
  }

  .info-header {
    border-bottom: 1px dotted $gray-light;
    margin-bottom:5px;
  }

  .info-icon {
    float:right;
    right:-8px;
  }

  .show-table-button {
    bottom: -10px;
  }

  .hide-table-button {
    bottom: -10px;
  }
  .info-menu {
    min-width:250px;
  }

  .padding-left15 {
    padding-left: 15px;
  }

  .padding-left0 {
    padding-left: 0px;
  }

  .top-m4 {
    top:-4px!important;
  }

  .min-width {
    min-width:60px;
  }

  .table {
    width: 100%;
    font-size:12px;
    border-left:none;
    border-right:none;
    &.table-bordered {
      border-color: $gray-lighter;
      thead > tr > th {
        border-color: $gray-lighter;
        border-bottom-width:1px;
        text-transform: uppercase;
        text-align: center;
        padding-left: 0px!important;
        padding-right: 0px!important;
        &:first-child {
          border-left:none;

        }
        &:last-child {
          border-right:none;
        }
        &.link {
          //padding:0;
          a {
            display: block;
            //height: 34px;
            width: 100%;
            padding-top: 8px;
          }
        }
        &.active a {
          color: $brand-primary;
          background-color: white;
        }
        a {
          color:$gray-dark;
        }
      }
      .first-row-line tr:first-child > td{
        border-bottom:#000000 solid 1px;
      }
      tbody > tr > td,
      tfoot > tr > td {
        border-color: $gray-lighter;
        text-align: center;
        &:first-child {
          border-left:none;
        }
        &:last-child {
          border-right:none;
        }
      }

      tfoot > tr > td {
        border-color: $gray-lighter;
        border-top-color: black;
        text-align: center;
        &:first-child {
          border-left:none;
        }
        &:last-child {
          border-right:none;
        }
      }
    }
    .border-left {
      border-left: 1px solid $brand-primary !important;
      border-color: $brand-primary;
    }
    .no-border-right{
      border-right:none
    }
    .no-border-left{
      border-left:none
    }
    &.reduced-padding {
      tbody > tr > td,
      thead > tr > th,
      tfoot > tr > td {
        padding-top:6px;
        padding-bottom:6px;
        padding-right: 0px;
        padding-left: 0px;
      }
    }
  }


  .information .sticon-info-nega {
    float: right;
  }

  .conversion-chart svg > .highcharts-axis {
    width:100%!important;
    path {
      stroke-dasharray: 1,3;
      stroke: rgb(201, 201, 201);
    }
  }

  .conversion-chart .highcharts-series-group {
    width:100%!important;

  }

  .conversion-chart .highcharts-tooltip {
    background-color: white;
    span {
      width: 265px;
    }

    .tooltip-header {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
    }

    .tooltip-value {
      float: right;
      padding-right: 10px;
    }
  }

  @media (max-width: 991px) {
    .graph-container {
      margin-bottom: 12px;
    }
  }

  .pdf-export .market-intelligence-widget {
    .conversion-chart {
      width: 100%;
    }
  }

  .widget-action-buttons {
    padding-top:1px;
    .dropdown {
      margin-top:-1px;
    }
    .btn {
      display: block;
      padding: 0!important;
      width: 24px;
      height: 24px;
      line-height: 22px;
      color: #0aaaff;
      border-radius: 3px !important;
      a span {
        position: relative;
        top: -1px;
        vertical-align: middle;
        font-size: 16px;
      }
    }

    .period-info {
      padding-top:0px!important;
      margin-top:-5px!important;
      padding-bottom:0px!important;
    }

    .right .dropdown-menu {
      right:0px!important;
      left:auto;
    }

    .date-period-title {
      padding-top:0px!important;
      padding-bottom:0px!important;
      margin-top:-3px!important;
      font-size: 14px!important;
      font-weight: bold;
    }

    .compare-period-title {
      padding-top:0px;
      font-size: 12px!important;
      font-weight:lighter;
    }
  }

  .margin-right-15 {margin-right:15px; }

  .margin-right-5 {margin-right:5px; }

  .margin-left-5 {margin-left:5px; }

  .margin-left-7 {margin-left:7px; }

  .remove-side-space{
    margin-left: -15px;
    margin-right: -15px;
  }

 /* .table-open ~ .widget-actions {
    top: 9px;
  }*/
  .highcharts-tooltip span {
    width:205px!important;
    background-color:#ffffff;
    overflow:hidden;
    white-space:normal !important;
  }
  .highcharts-tooltip span table td{
    width: 100px;
    margin-left: auto;
    text-align: left;
  }
  .highcharts-tooltip span table tr:first-child td:nth-child(2) {
    text-align: right;
  }
  .display-title{
    position: absolute;
    top: 15px;
    left: 225px;
  }
  .display-title span {
    background: #CCCCCC;
    border-radius: 15px;
    padding: 5px 30px;
    text-transform: uppercase;
  }
  span.default-color{
    color: #000000;
  }

}