<div class="pull-left  inline-block actions">

  <div
    ng-if="!vm.previewInProgress && !vm.pdf"
    class="pull-right inline-block widget-action-buttons fontsize16 margin-left-7">

<!--    <div class="pull-left inline-block widget-action-buttons"
         ng-include="'components/widgets/market-intelligence-widget/y-axis.partial.html'">

    </div>

    <div class="pull-left inline-block widget-action-buttons fontsize16 margin-left-7"
         ng-include="'components/widgets/market-intelligence-widget/x-axis.partial.html'">

    </div>

    <div class="pull-left inline-block widget-action-buttons fontsize16 margin-left-7"
         ng-include="'components/widgets/market-intelligence-widget/group.partial.html'">

    </div>-->

    <div class="pull-left inline-block widget-action-buttons fontsize16 margin-left-7"
         ng-include="'components/widgets/market-intelligence-widget/view-more.partial.html'">

    </div>


    <div class="pull-left inline-block widget-action-buttons fontsize16 margin-left-7"
         ng-include="'components/widgets/market-intelligence-widget/export.partial.html'">

    </div>






  </div>

</div>
