<div class="dropdown inline-block multi-select-list" off-click="vm.menuCustomPeriodOpen = false">
  <button
    class="btn btn-default  dropdown-toggle"
    type="button"
    data-toggle="dropdown"
    ng-click="vm.menuCustomPeriodOpen = !vm.menuCustomPeriodOpen"
    aria-haspopup="true"
    aria-expanded="true"
    ng-disabled="vm.editMode!==''">
    <span class="sticon sticon-compare-small"></span>
  </button>

  <ul class="dropdown-menu right info-menu" ng-class="{'show': vm.menuCustomPeriodOpen}">
    <li>
      <div class="col-xs-12 chart-title information info-header">
        <label translate>.COMPAREPERIOD</label>
        <label class="sticon sticon-compare-small info-icon"> </label>
      </div>
    </li>
    <li ng-repeat="item in vm.comparePeriods track by $index" ng-class="{'active':vm.selectedComparePeriods[0].period_type == item.period_type}">
      <a class="padding-left15" href="" ng-click="vm.setCoparePeriod(item)" >
        <i class="glyphicon glyphicon-ok pull-right padding-left-10" ng-show="vm.selectedComparePeriods[0].period_type == item.period_type"></i>
        <label >
          <span translate>{{::item.transKey}}</span>
          <span class="col-xs-12 padding-left0 period-date-label" >( {{ ::item.datePeriod.start | amDateFormat: vm.dateFormatMask }} - {{:: item.datePeriod.end | amDateFormat: vm.dateFormatMask }} )</span>
        </label>
      </a>
    </li>
  </ul>
</div>
