<div class="market-intelligence-widget-wrapper display-title" translate-namespace="marketIntelligence">

  <widget class="market-intelligence-widget">
    <div class="display-title">
      <span>{{vm.geographyDisplayType}}</span>
      <span>{{vm.categoryDisplayName}}</span>
    </div>
    <widget-header
      widget-title="Trend Analysis"
      hide-left-icon="true"
      icon="entrance"
      export-is-disabled = "false"
      on-csv-export-click ="vm.onCsvExportClick()"
      hide-export-icon="true"
      hide-export-to-custom-dashboard-icon="true"
      disable-export="false"
      csv-export = "true">

    </widget-header>

    <widget-body>
      <div class="row trend-chart-dropdowns" ng-show="vm.isLoading === false">
        <div class="col-xs-12 text-center">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
              <span translate>.SAMESTOREINDEX</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-header" translate>.YAXIS</li>
              <li><a translate>.SAMESTOREINDEX</a></li>
            </ul>
          </div>

          <span translate>
            .BY
          </span>

          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
              {{vm.selectedGroupingName}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li
               ng-repeat="dropdown in vm.trendAnalysisDropDownArray track by dropdown.name"
               ng-class="{'dropdown-header': dropdown.type === 'group', 'active': dropdown.selected === true}">
               <span ng-if="::dropdown.type === 'group'">
                 {{::dropdown.name}}
               </span>
               <a 
                 href=""
                 ng-if="::dropdown.type !== 'group'"
                 ng-click="vm.updateDataPoints(dropdown)">
                   {{::dropdown.name}}
                 <i class="glyphicon glyphicon-ok pull-right padding-left-10" ng-show="dropdown.selected"></i>
               </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row full-height">
        <div class="col-xs-12 loader full-height" ng-show="vm.isLoading === true">
          <span translate>Loading...</span>
        </div>

        <div class="col-xs-12 full-height text-center error-message" ng-if="vm.isLoading === false && vm.hasData === false && vm.requestFailed === false">
          <span translate>common.NODATA</span>
        </div>

        <div class="col-xs-12 text-center error-message full-height" ng-if="vm.isLoading === false && vm.requestFailed === true && vm.hasData === true">
          <span translate>common.ERROR</span>
        </div>


        <div class="data-section chart-body col-xs-12 full-height" ng-if="vm.isLoading === false && vm.hasData === true && vm.requestFailed === false">

          <div class="graph-container">
            <highchart
              class="conversion-chart"
              config="vm.chartConfig">
            </highchart>
          </div>

          <div
            ng-class= "{'table-open':vm.showTable}"
            ng-if="!vm.showTable">
            <div
              class="no-vertical-padding margin-top-8 overflow-hidden"
              ng-include="'components/widgets/market-intelligence-widget/market-intelligence-table.partial.html'">
            </div>
          </div>

          <div
            ng-class= "{white :vm.editMode ==='edit'}"
            class="col-xs-12 text-center table-toggle widget-actions"
            ng-show="!vm.showTable">
            <a href=""
               ng-disabled= "vm.editMode ==='edit'"
               class="btn btn-default btn-xs hide-table-button"
               ng-click="vm.toogleTableShow()">
              <span translate>.HIDETABLE</span>
              <span class="caret"></span>
            </a>
          </div>
          <div class="col-xs-12 text-center table-toggle widget-actions"
               ng-show="vm.showTable">
            <a href=""
               class="btn btn-default btn-xs show-table-button"
               ng-click="vm.toogleTableShow()"
               ng-disabled= "vm.editMode ==='edit'">
              <span translate>.SHOWTABLE</span>
              <span class="caret up"></span>
            </a>
          </div>
        </div>
      </div>
    </widget-body>

  </widget>
</div>
