<table class="table table-striped table-bordered reduced-padding">
  <thead>
  <tr>
    <th translate>.CATEGORY</th>
    <th translate>.GEOGRAPHYLEVEL</th>
    <th translate>.GEOGRAPHYNAME</th>
    <th translate>.PERIODTYPE</th>
    <th ng-if="!vm.isTimePeriodSelected" translate>.PERIOD</th>
    <th ng-if="vm.isTimePeriodSelected" translate>.SELECTEDPERIOD</th>
    <th ng-if="vm.isTimePeriodSelected && vm.showCompareColumn" translate>.COMPAREPERIOD</th>

    <th ng-if="!vm.isPriorYear && !vm.isTimePeriodSelected" translate>.COMPAREPERIOD</th>

    <th ng-if="vm.isPriorYear" translate>.YOYCHANGEMKT</th>
    <th ng-if="vm.showOrgIndex && vm.isPriorYear" translate>.YOYCHANGEORG</th>

    <th ng-if="!vm.isPriorYear" translate>.CHANGEMKT</th>
    <th ng-if="vm.showOrgIndex && !vm.isPriorYear" translate>.CHANGEORG</th>
  </tr>
  </thead>

  <tbody ng-class="{ 'first-row-line': vm.showGeographyNames }">
  <tr ng-repeat="item in vm.dataPoints track by $index">

    <td>{{item.categoryname}}</td>
    <td>{{item.geographytype}}</td>
    <td>{{item.geographyname}}</td>
    <td>
      <span ng-if="vm.periodType.period !== 'periodToDate'">{{vm.showCustom}}</span>
      <span ng-if="vm.periodType.period === 'periodToDate'">{{vm.periodToDateLabels[$index]}}</span>
    </td>
    <td ng-if="!vm.isTimePeriodSelected || vm.periodType.period === 'periodToDate'">
      {{item.startDates}}
      <span translate>dateRangePicker.TO</span>
      {{item.endDates}}
    </td>

    <td ng-if="vm.isTimePeriodSelected && vm.periodType.period !== 'periodToDate'">{{item.startDates}}</td>

    <td ng-if="vm.isTimePeriodSelected && vm.showCompareColumn">
      {{item.comStartDates}}
      <span ng-if="vm.periodType.period === 'periodToDate'">
          <span translate>dateRangePicker.TO</span>
          {{item.comEndDates}}
        </span>
    </td>

    <td ng-if="!vm.isPriorYear && !vm.isTimePeriodSelected">
      {{item.comStartDates}}
      <span translate>dateRangePicker.TO</span>
      {{item.comEndDates}}
    </td>

    <td class="change-label {{item.marketCssClass}}">
      <span class="default-color" ng-if="item.zeroMarketIndex">&#8212;</span>
      <span ng-if="!item.zeroMarketIndex">{{item.zeroMarketIndex}}{{item.error}}{{item.marketIndexData | formatNumber: 2 : vm.numberFormatName}}&#37;</span>
    </td>
    <td ng-if="vm.showOrgIndex" class="change-label {{item.orgCssClass}}">
      <span class="default-color" ng-if="item.zeroOrgIndex">&#8212;</span>
      <span ng-if="!item.zeroOrgIndex">{{item.zeroOrgIndex}}{{item.orgPrefix}}{{item.orgIndexData | formatNumber: 2 : vm.numberFormatName}}&#37;</span>
    </td>
  </tr>
  </tbody>
</table>