<div class="dropdown inline-block multi-select-list top-m4" off-click="vm.menuInfoOpen = false">
  <button
    class="btn btn-default  dropdown-toggle {{::vm.dropdownClass}}"
    type="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="true">
    <span class="sticon sticon-x-axis_small"></span>
  </button>

</div>

