<widget class="line-high-chart-widget" ng-class="{'hourly' : lineHighChartWidget.isHourly}" translate-namespace="lineHighChartWidget">
  <widget-header
    widget-title="{{ 'kpis.kpiTitle.' + lineHighChartWidget.kpi | translate }}"
    icon="{{ ::lineHighChartWidget.widgetIcon }}"
    hide-export-icon="lineHighChartWidget.hideExportIcon"
    hide-export-to-custom-dashboard-icon="lineHighChartWidget.hideExportToCustomDashboardIcon"
    disable-export="lineHighChartWidget.exportIsDisabled"
    on-export-click="lineHighChartWidget.onExportClick()"
    set-selected-widget="lineHighChartWidget.setSelectedWidget()">
    <left>
      <span
        ng-if="lineHighChartWidget.groupBy != 'hour' && !lineHighChartWidget.isHourly && lineHighChartWidget.showMetrics && lineHighChartWidget.options.length > 1"
        class="dropdown kpi-dropdown btn-group"
        ng-class="{ 'open' : optionDropdownIsOpen }">
        <button class="btn btn-default btn-xs dropdown-toggle"
          ng-click="optionDropdownIsOpen = !optionDropdownIsOpen"
          off-click="optionDropdownIsOpen = false" >
          <span translate>
            {{ ('kpis.options.' + lineHighChartWidget.selectedOption.name)}}
          </span>
          <span class="caret" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="option in lineHighChartWidget.options track by option.propertyName">
            <a href ng-click="lineHighChartWidget.setOption(option)" translate>
              {{:: ('kpis.options.' + option.name) }}
            </a>
          </li>
        </ul>
      </span>

      <metric-selector
        ng-if="::lineHighChartWidget.weatherEnabled && !lineHighChartWidget.hideExportIcon && !lineHighChartWidget.isHourly && lineHighChartWidget.groupBy != 'hour'"
        class="weather-metric-selector right left-padding"
        title="'customCompare.CHANGEMETRICS'"
        btn-tooltip="'customCompare.CHANGEMETRICS'"
        id-property="'kpi'"
        hide-button-title="::lineHighChartWidget.trueVal"
        show-list-title="::lineHighChartWidget.trueVal"
        list-title="'customCompare.CHANGEMETRICS'"
        button-icon="'sticon sticon-weather'"
        selected-metrics="lineHighChartWidget.selectedWeatherMetrics"
        metrics="::lineHighChartWidget.weatherMetricsDisplayInfo"
        min-length="::lineHighChartWidget.minWeatherMetricsLength"
        max-length="::lineHighChartWidget.maxWeatherMetricsLength">
      </metric-selector>

      <span class="btn-group group-by"
        ng-if="!lineHighChartWidget.isHourly && lineHighChartWidget.dateRangeSpansOverTwoCalendarWeeks">
        <button
          ng-disabled="lineHighChartWidget.isLoading"
          ng-class="{'active': lineHighChartWidget.groupBy === 'day'}"
          ng-click="lineHighChartWidget.setGroupBy('day')"
          class="btn btn-xs btn-default">
          <span translate>common.DAY</span>
        </button>

        <button
          ng-disabled="lineHighChartWidget.isLoading"
          ng-class="{'active': lineHighChartWidget.groupBy === 'week'}"
          ng-click="lineHighChartWidget.setGroupBy('week')"
          class="btn btn-xs btn-default">
          <span translate>common.WEEK</span>
        </button>

        <button
          ng-disabled="lineHighChartWidget.isLoading"
          ng-if="lineHighChartWidget.dateRangeSpansOverTwoCalendarMonths"
          ng-class="{'active': lineHighChartWidget.groupBy === 'month'}"
          ng-click="lineHighChartWidget.setGroupBy('month')"
          class="btn btn-xs btn-default">
          <span translate>common.MONTH</span>
        </button>
      </span>
    </left>
    <right>
        <sales-categories-selector
        ng-if="lineHighChartWidget.showSalesCategoriesSelector === true"
        categories="::lineHighChartWidget.currentOrganization.portal_settings.sales_categories"
        selected-categories="lineHighChartWidget.salesCategories">
        </sales-categories-selector>
    </right>
  </widget-header>

  <widget-body>
    <div
      class="chart-section"
      ng-class="::[lineHighChartWidget.isPdf ? 'col-xs-12 pdf' : 'col-md-8 col-lg-9', lineHighChartWidget.isDailyBreakdown ? 'daily-breakdown' : '']"
      ng-show="!lineHighChartWidget.isLoading &&
       !lineHighChartWidget.requestFailed &&
       !lineHighChartWidget.noData">
      <div class="col-xs-12 graph-container">
        <highchart
          ng-if="lineHighChartWidget.dataReady && lineHighChartWidget.chartConfig"
          config="lineHighChartWidget.chartConfig">
        </highchart>
       </div>
       <div class="col-xs-12 chart-legend">
         <div ng-include="'components/widgets/line-high-chart-widget/partials/high-chart-legend.partial.html'">
         </div>
       </div>
    </div>

    <div
      class="kpi-detail-widget-legend"
      ng-class="::[lineHighChartWidget.isPdf ? 'col-xs-12' : 'col-md-4 col-lg-3']"
      ng-if="!lineHighChartWidget.isLoading &&
        !lineHighChartWidget.requestFailed &&
        !lineHighChartWidget.noData &&
        lineHighChartWidget.dataReady &&
        lineHighChartWidget.chartConfig"
      ng-include="'components/widgets/line-high-chart-widget/partials/line-high-chart-summary.partial.html'">
    </div>

    <div
      class="text-center error-message"
      ng-if="!lineHighChartWidget.isLoading && !lineHighChartWidget.requestFailed && lineHighChartWidget.noData === true">
        <span translate>common.NODATA</span>
    </div>

    <div
      class="loader"
      ng-if="lineHighChartWidget.isLoading && !lineHighChartWidget.requestFailed">
        <span translate>common.LOADING</span>
    </div>

    <div
      ng-if="lineHighChartWidget.requestFailed && !lineHighChartWidget.isLoading"
      class="text-center error-message">
        <span translate>common.DATAERROR</span>
    </div>

    <div ng-if="!lineHighChartWidget.isLoading && !lineHighChartWidget.noData && !lineHighChartWidget.requestFailed">
      <div ng-if="lineHighChartWidget.isHourly">
        <div 
          ng-include="'components/widgets/line-high-chart-widget/partials/hourly-table.html'">
        </div>
      </div>

      <div class="col-xs-12 text-center table-toggle widget-actions" ng-if="lineHighChartWidget.showTableToggleButton && !lineHighChartWidget.showTable.selection && !lineHighChartWidget.isLoading">
        <a href="" class="btn btn-default btn-xs show-table-button" ng-click="lineHighChartWidget.toggleTableVisibility()">
          <span translate>.SHOWTABLE</span>
          <span class="caret"></span>
        </a>
      </div>

      <div class="col-xs-12 text-center table-toggle widget-actions" ng-if="lineHighChartWidget.showTableToggleButton && lineHighChartWidget.showTable.selection">
        <a href="" class="btn btn-default btn-xs show-table-button" ng-click="lineHighChartWidget.toggleTableVisibility()">
          <span translate>.HIDETABLE</span>
          <span class="caret up"></span>
        </a>
      </div>
    </div>
  </widget-body>
</widget>
