.entrance-contribution-widget {
  min-height: $widget-height;

  .dashboard__widget & {
    min-height: inherit;

    .panel-body {
      padding:0;
      border:0;
      margin-bottom:-20px;
    }
  }
}

.entrance-table-wrapper {
  display: block;
  position: relative;
  border: 1px solid $gray-lighter;

  .dashboard__widget & {
    border:0;
  }

  .table-header {
    display:table;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid $gray-lighter;
    z-index: 1;
    background:$white;
    padding-right:14cc px;

    .column {
      display: table-cell;
      vertical-align:top;
      padding: 8px;
      color:$gray-darker;
      font-weight: 700;
      &.sortable {
        cursor:pointer;
        &:hover {
          color:$gray-darker;

        }
      }

      input {
        font-weight:400;
        outline:none;
      }

      &.border-left {
        border-left:1px solid $gray-lighter;
      }

      &:first-of-type {
        width: 25%;
      }
    }
  }
  .table-wrap {
    max-height: 380px;
    overflow-y: scroll;
    display: block;
    margin-top: 41px;
    overflow-x: hidden;

    .entrance-table {
      width:99.9%;

      tbody {
        tr {
          td {
            font-weight:700;
          }
          th {
            width: 25%;
            font-weight:400;
            color: #222;
            border-top: 1px solid $gray-lighter !important;
            border-right: 1px solid $gray-lighter !important;
          }
        }
      }
    }
  }
}

.pdf-export {
  .entrance-table-wrapper {
    .table-wrap {
      max-height: inherit;
      margin-top: 54px;
      overflow-y: visible;
    }
  }
}

.trend-indicator-positive {
  color: $brand-success;
}
.trend-indicator-negative {
  color: $brand-danger;
}

.load-all-button {
  width:100%;
  padding:10px;
  outline:none;

  &.less {
    .icon {
    transform: rotate(180deg);
    top: auto;
    bottom: -5px;
    padding-right:5px;
    padding-left: 0;
    }
  }
}
