<widget class="entrance-contribution-widget" translate-namespace="entranceContributionWidget">

  <widget-header
    widget-title="{{ 'kpis.kpiTitle.entrance_contribution' | translate }}"
    hide-export-icon="vm.hideExportIcon"
    disable-export="vm.exportIsDisabled"
    icon="entrance-fat"
    on-export-click="vm.onExportClick()"
    set-selected-widget="vm.setSelectedWidget()">
  </widget-header>

  <widget-body>

    <div
      ng-if="vm.requestFailed"
      class="text-center error-message">
      <span translate>common.ERROR</span>
    </div>

    <div ng-if="!vm.requestFailed && !vm.isLoading && vm.entranceItems.length === 0" class="error-message">
      <span translate>common.NODATA</span>
    </div>

    <div ng-if="!vm.requestFailed && vm.isLoading" class="loader">
      <span translate>common.LOADING</span>
    </div>

      <div class="table-responsive entrance-table-wrapper" ng-if="!vm.requestFailed && !vm.isLoading && vm.entranceItems.length > 0">

        <div class="table-header">
          <div class="column table-header__filter">
            <input type="text" placeholder="{{ 'entranceContributionWidget.FILTER' | translate}}" ng-model="vm.filterEntrances" />
          </div>
          <div class="text-center sortable border-left column" ng-click="vm.orderBy('traffic*1')" translate>
            .CURRENTPERIOD
          </div>
          <div class="text-center sortable border-left column" ng-click="vm.orderBy('change*1')" translate>
            .CHANGE
          </div>
          <div class="text-center sortable border-left column" ng-click="vm.orderBy('trafficCompare*1')">
            <span ng-if="vm.compareRangeIsPriorPeriod(vm.compareRange1Type)" translate>common.PRIORPERIOD</span>
            <span ng-if="vm.compareRangeIsPriorYear(vm.compareRange1Type)" translate>common.PRIORYEAR</span>
            <span ng-if="!vm.compareRangeIsPriorPeriod(vm.compareRange1Type) && !vm.compareRangeIsPriorYear(vm.compareRange1Type)" translate>common.CUSTOMCOMPARE1</span>
            <span translate>.TRAFFIC</span>
          </div>
          <div class="text-center sortable border-left column" ng-click="vm.orderBy('changeYear*1')" translate>
            .CHANGE
          </div>
          <div class="text-center sortable border-left column" ng-click="vm.orderBy('trafficYearCompare*1')">
            <span ng-if="vm.compareRangeIsPriorPeriod(vm.compareRange2Type)" translate>common.PRIORPERIOD</span>
            <span ng-if="vm.compareRangeIsPriorYear(vm.compareRange2Type)" translate>common.PRIORYEAR</span>
            <span ng-if="!vm.compareRangeIsPriorPeriod(vm.compareRange2Type) && !vm.compareRangeIsPriorYear(vm.compareRange2Type)" translate>common.CUSTOMCOMPARE2</span>
            <span translate>.TRAFFIC</span>
          </div>
        </div>
        <div class="table-wrap">
          <table class="table entrance-table" ng-if="!vm.requestFailed && !vm.isLoading && vm.entranceItems.length > 0">

            <tbody>

              <tr ng-repeat="entranceItem in (vm.filteredEntrances = (vm.entranceItems | orderBy: vm.sortType | filter: vm.filterEntrances)) track by $index"
                  ng-if="$index > 0 || vm.showAllEntrances || vm.filterEntrances.length > 0 || vm.hideExportIcon">

                <th>
                  <span class="zone-name-label zone-name-label--gray">
                  {{ entranceItem.name }}
                  </span>
                </th>

                <td class="text-center"> {{ entranceItem.traffic | formatNumber:0:vm.numberFormatName }}</td>

                <td class="text-center">
                  <span
                    ng-if="entranceItem.traffic > entranceItem.trafficCompare && entranceItem.change !== '' && entranceItem.change !== 0"
                    class="trend-indicator trend-indicator-positive sticon sticon-triangle-up-filled"
                    aria-hidden="true"></span>
                  <span
                    ng-if="entranceItem.traffic < entranceItem.trafficCompare && entranceItem.change !== '' && entranceItem.change !== 0"
                    class="trend-indicator trend-indicator-negative sticon sticon-triangle-down-filled"
                    aria-hidden="true"></span>
                 {{ vm.displayPercentageChangeLabel( entranceItem.change, vm.numberFormatName ) }}
                </td>
                <td class="text-center"> {{ entranceItem.trafficCompare | formatNumber:0:vm.numberFormatName }} </td>

                <td class="text-center">
                  <span
                    ng-if="entranceItem.traffic > entranceItem.trafficYearCompare && entranceItem.changeYear !== '' && entranceItem.changeYear !== 0"
                    class="trend-indicator trend-indicator-positive sticon sticon-triangle-up-filled"
                    aria-hidden="true"></span>
                  <span
                    ng-if="entranceItem.traffic < entranceItem.trafficYearCompare && entranceItem.changeYear !== '' && entranceItem.changeYear !== 0"
                    class="trend-indicator trend-indicator-negative sticon sticon-triangle-down-filled"
                    aria-hidden="true"></span>
                  {{ vm.displayPercentageChangeLabel( entranceItem.changeYear, vm.numberFormatName ) }}
                </td>

                <td class="text-center" ng-if="entranceItem.trafficYearCompare > 0"> {{ entranceItem.trafficYearCompare | formatNumber:0:vm.numberFormatName }} </td>
                <td class="text-center" ng-if="entranceItem.trafficYearCompare === 0">-</td>

              </tr>

            </tbody>

          </table>
        </div>
      </div>

  </widget-body>
</widget>
