.search-box,.close-icon,.search-wrapper {
    position: relative;
    width:100%;
}

.close-icon {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    width: 0px;
    padding: 0px;
    margin-top: -3px;
}

.close-icon span{
    background-color: #666666;
    color: white;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -35px;
    border-radius: 50%;
}

.search-box:not(:valid), .search-box:not(:valid):focus {
    border:1px solid #f00 !important;
}
