.location-navigation-popover {
  width: 480px;
  max-width: 480px;
  padding: 0;

  // Display popover under navbar, but over Leaflet map controls
  z-index: 1001;
}
.select-all{
  padding: 5px 40px 10px;
}