.location-selector.bottom > .arrow:after {
  border-bottom-color: $gray-dark;
}
.location-selector .location-selector-header {
  background-color: $gray-dark;
  border-bottom: none;
}
.location-selector .location-selector-content {
  color: #ffffff;
  background-color: $gray-dark;
  padding: 0;
  scrollbar-track-color: $gray-light * 0.8;
  scrollbar-face-color: $gray-light;
  scrollbar-highlight-color: $gray;
}
.location-selector .site-link {
  display: block;
  padding: 7px 14px;
  font-size: $font-size-h4;
  line-height: $line-height-computed;
  border-top: 1px solid $gray-darker;
}
.location-selector .site-link:hover,
.location-selector .site-link:focus {
  color: $brand-primary;
  background-color: $gray-darker;
  text-decoration: none;
}
.location-selector .site-link.is-selected {
  background-color: $brand-primary;
  color: #ffffff;
}
.location-selector .location-tree-container {
  max-height: 520px;
  overflow: auto;
}
.location-selector .location-tree-item {
  position: relative;
  border-top: 1px solid $gray-darker;
  font-size: $font-size-h4;
  line-height: $line-height-computed;
    &:last-child{
    border-bottom:1px solid $gray-darker;    
  }
}
.location-selector ul ul .location-tree-item {
  font-size: $font-size-base;
}
.location-selector .location-tree-item-label {
  display: block;
  padding: 7px 14px 7px 40px;
  color: inherit;
  cursor: pointer;
}
.location-selector .location-tree-item-label:after {
  content:"";
  position: relative;
  top: -1px;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: 5px;
  border-radius: 3px;
  vertical-align: middle;
}
.location-selector .location-tree-item-gray>.location-tree-item-label:after {
  background-color: $gray-light;
}
.location-selector .location-tree-item-green>.location-tree-item-label:after {
  background-color: $brand-success;
}
.location-selector .location-tree-item-red>.location-tree-item-label:after {
  background-color: $brand-danger;
}
.location-selector .location-tree-item-orange>.location-tree-item-label:after {
  background-color: $brand-warning;
}
.location-selector .location-tree-item-blue>.location-tree-item-label:after {
  background-color: $brand-primary;
}
.location-selector ul ul .location-tree-item-label { padding-left: 60px; }
.location-selector ul ul ul .location-tree-item-label { padding-left: 80px; }
.location-selector ul ul ul ul .location-tree-item-label { padding-left: 100px; }
.location-selector ul ul ul ul ul .location-tree-item-label { padding-left: 120px; }
.location-selector .location-tree-item-label:hover {
  background-color: $gray-darker;
}
.location-selector .location-tree-item.is-selected>.location-tree-item-label {
  color: #ffffff;
  background-color: $brand-primary;
}
.location-selector .location-tree-item-label.is-disabled:hover {
  text-decoration:none;
  background-color: $gray-dark;
}
.location-selector .location-tree-item.is-collapsed>ul {
  display: none;
}
.location-selector .location-tree-item-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: $line-height-computed + 14px;
  text-align: center;
  line-height: $line-height-computed + 14px;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}
.location-selector ul ul .location-tree-item-toggle { left: 20px; }
.location-selector ul ul ul .location-tree-item-toggle { left: 40px; }
.location-selector ul ul ul ul .location-tree-item-toggle { left: 60px; }
.location-selector ul ul ul ul ul .location-tree-item-toggle { left: 80px; }
.location-selector .location-tree-item-toggle-icon {
  transform: rotate(180deg);
}
.location-selector .location-tree-item.is-collapsed .location-tree-item-toggle-icon {
  transform: rotate(0deg);
}
