@import 'components/common/variables';

organization-filter-widget-small {
  display:inline-block;

  .red-dot-container {
    position: relative;
    .red-dot {
      position:absolute;
      width: 10px;
      height:10px;
      background-color: red;
      border-radius: 10px;
      top:5px;
      left: -5px;
    }
  }



  /* header */
  .filter-header {
    background: #fff;
    display: flex;
    border: 1px solid #ddd;

    .filter-title {
      padding: 10px 14px;
      border-right: 1px solid #ddd;
      float: left;
      font-size: 12px;

      &.filter-main-title {
        padding: 7px 12px 6px 0px;
        font-size: 18px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .sticon-list {
      color: inherit !important;
      &.open {
        background-color: #e6e6e6;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        border-top: 1px solid #adadad;
        border-right: 1px solid #adadad;
        margin-top:-1px;
      }
    }

    .sticon-trash, .sticon-list {
      color: $light-blue;
      padding: 6px 10px 6px 13px;
      font-size: 25px;

      &:hover {
        cursor: pointer;
      }
    }

    &.no-filters-selected {
      .sticon-trash, .filter-main-title {
        color: $gray-light;
        &:hover {
          cursor: auto;
        }
      }
    }
  }

  /* base element styling */
  ul {
    padding-left: 0;
    margin-bottom: 0;
    display: inline-block;
  }

  li {
    list-style: none;
  }

  a:hover {
    text-decoration: none;
  }

  .panel {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    background: transparent;
  }

  .filter-caret {
    border: none;
    float: right;

    &.open {
      transform: rotate(180deg);
      background: transparent;

      .caret {
        padding-left: 0;
        right: 4px;
      }
    }
  }

  /* body */

  .filter-selection {
    position: absolute;
    left:15px;
    right:15px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0 2px #929090;
    padding-top: 15px;
    margin-bottom: 15px;
    min-width: 1000px;

    h3 {
      text-transform: uppercase;
      font-size:14px;
      margin-top:5px;
      font-weight: bold;
    }

    .row {
      .form-group {
        margin-bottom: 0px;
        margin-left: inherit;
        margin-right: inherit;
      }
      margin-bottom: 15px;
      border-bottom: 1px solid $border-grey;
      padding-bottom: 20px;

      &:last-child {
        margin-bottom: 0px;
        border-bottom: none;
      }
    }

    .footer {
      .btn {
        margin-right:10px;
      }
    }


  }
}
