.bulk-action-modal {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-body {
    max-height: 250px;
    overflow-y: scroll;
    div {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
