.site-campaign-list {
	.row .table {
		width:99.95%;
	}

	.row .table > thead > tr > th, .row .table > tbody > tr > th {
		border: 0;
		padding: 10px !important;
	}

	.row .table > tbody > tr > td {
		padding: 10px !important; // ToDo: Check this
		background: white;
		border-right: 1px solid #ddd;
	}

	.table td.actions {
		text-align: center;
	}

	td.actions a {
		font-weight: bold;
	}

	td.actions a.delete {
		margin-left:10px;
		color:#fa5736;
	}
}