/*------------------------------------------------------------------------------
    PDF Renderer styles
--------------------------------------------------------------------------------
    This file contains styles for the main layout used to generate PDFs.
    Basic styles should be kept separate from renderer-specific fixes.

    PhantomJS-specific styles are at the bottom of this file
------------------------------------------------------------------------------*/

html.state-pdf {
  $pdf-export-viewport-width: 800px;

  /*----------------------------------------------------------------------------
    Global styles
  ----------------------------------------------------------------------------*/
  body {
    background:#fff;
  }

  .pdf-export {
    width: $pdf-export-viewport-width;
  }


  /*----------------------------------------------------------------------------
    Header
  ----------------------------------------------------------------------------*/
  .pdf-export-logo {
    width: 151px;
    height: 32px;
    display:block;
    background-image: url(/assets/images/retailmanager-logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 151px 32px;

    &__image {
      display:block;
      width:100%;
    }
  }

  .export-contents > hr {
    margin-left: 15px;
    margin-right: 15px;
    border-width:1px !important;
  }

  .pdf-export-widget-info {
    font-size: 10px;
    margin-bottom: 10px;

    &:nth-of-type(1) ~ .pdf-export-widget-info {
      color:red;
    }
  }

  .pdf-export-title {
    margin-top: 0;
    margin-bottom: 0;
  }


  /*----------------------------------------------------------------------------
    Global fixes for PDF rendering
  ----------------------------------------------------------------------------*/

  // Remove box shadow:
  *,
  *::after,
  *::before {
    box-shadow: none !important
  }


  // Widget fixes: -------------------------------------------------------------
  .export-widget,
  .add-to-custom-dashboard {
    display:none !important
  }

  .line-high-chart-widget {

    .chart-section {
      width: $pdf-export-viewport-width !important;
    }
    .highcharts-container {
      width: $pdf-export-viewport-width - 10px !important;
    }
    .graph-container {
      width: $pdf-export-viewport-width -10px !important;
    }
  }

  .zone-table .zone-name-label div {
    display: inline-block;
  }

  .page-break-before {
    page-break-before: always !important;
    float: none;
  }

  .page-break-avoid {
    page-break-inside: avoid !important;
    float: none;
  }

  .page-break-after {
    page-break-after: always !important;
    float: none;
  }

  .widget-heading {
    .btn {
      background:none !important;

      // Hide caret visibility:
      .caret {
        visibility: hidden;
        width: 2px;
      }
    }
  }


  // PhantomJS-specific fixes: -------------------------------------------------
  // (only visible inside PhantomJS / PDF output)
  &.is-phantomjs-pdf.is-phantomjs-pdf {

    // Fix extra blank pages
    height:0;

    body {

      // Fixes scale issue (renders at 96dpi instead of 72dpi)
      // https://github.com/ariya/phantomjs/issues/12685
      zoom: 0.65;

      // Fixes text color:
      color: inherit !important;
    }

    // Fixes unstyled checkbox inputs:
    input[type=checkbox]:not(.checkbox) {
      -webkit-appearance:none;
      border: 1px solid #ccc;
      border-radius:2px;
      height:1.16em;
      width:1.16em;
      margin:0 0 0 0;
      display:inline-block;
      vertical-align:text-bottom;
      position:relative;

      &:checked::after {
        content:'✔';
        display:inline-block;
        width:1em;
        height:1em;
        -webkit-transform: translate(0, -1px);
      }
    }

    // Chartist SVG fixes:
    .ct-chart svg {
      .ct-grid.ct-vertical {
        stroke-dasharray: none; // default value is '0', doesn't work the same in PhantomJS
        stroke: #eeeeee !important;
      }
    }


    .widget {
      // Border fixes:
     .widget-heading {
        border-bottom: 1px solid  #ddd;
      }

      // Button fixes:
      .btn {
        padding-bottom: 3px;
      }
    }
  }

  // wkhtmltopdf-specific fixes: -------------------------------------------------
  // visible in PDF output, but only for wkhtmltopdf's benefit really
  // This basically breaks the pdf HTML output view for reliable debugging because
  // it now includes debug stuff
  // TODO: Remove all this stuff when wkhtmltopdf is properly deprecated
  &.is-not-phantomjs-pdf {

    .pdf-export {
      width: 800px;
      background-color: #fff;
      margin-top:-30px; // Fixes top margin offset issue

      .line-high-chart-widget .panel-body {
        .chart-section {
          width: 800px !important;
        }
        .highcharts-container {
          width: 790px!important;
        }
        .graph-container {
          width: 790px!important;
        }
      }

    }

  }

}
