<div ng-if="currentUserLoaded" class="pdf-export" translate-namespace="pdf">

  <header class="clearfix">
    <a class="pdf-export-logo pull-left" ng-href="#/">
      <img class="pdf-export-logo__image" src="assets/images/retailmanager-logo.svg" alt="ShopperTrak" />
    </a>
    <div class="pull-right">
      <h4 class="pdf-export-title text-uppercase"><small translate>.ANALYTICS</small></h4>
      <div ng-show="siteList !== ''"><small><strong translate>.PROPERTIES</strong>{{siteList}}</small></div>
      <div ng-show="siteList === '' && orgList !== ''"><small><strong translate>.PROPERTIES</strong>{{orgList}}</small></div>
    </div>
  </header>

  <article ng-if="exportsParsed" class="row export-contents clearfix">

    <hr />


    <div
      ng-repeat="(key,export) in exports | orderByProperty track by export.order"
      class="{{ getColumnCssClass(export.summaryKey) }} {{ getPageBreakCssClass(export.summaryKey, key, export.isHourly) }}">


      <header class="pdf-export-widget-info">
        <div>
          <strong><span translate>.ORGANIZATION</span>:</strong> {{:: organizations[export.organizationId].name }}
        </div>
        <div ng-if="hasSiteId(export)">
          <strong><span translate>.SITE</span>:</strong> {{:: sites[export.organizationId][export.siteId].name }}
        </div>
        <div ng-if="hasLocationId(export)">
          <strong><span translate>.AREA</span>:</strong> {{:: locations[export.organizationId][export.siteId][export.locationId].description }}
        </div>
        <div ng-if="hasZoneId(export)">
          <strong><span translate>.ZONE</span>:</strong> {{:: zones[export.organizationId][export.siteId][export.zoneId].name }}
        </div>
        <div ng-if="!hasZoneId(export) && !hasLocationId(export) && hasSiteId(export)">
          <strong><span translate>.AREA</span>:</strong> <span translate>.PROPERTYOVERALL</span>
        </div>
        <div ng-show="export.tags.length > 0">
          <strong translate>.SELECTEDTAGS</strong> <span ng-repeat="tag in ::export.tags track by tag">{{::orgTags[export.organizationId][tag]}}<span ng-show="!$last">, </span></span>
        </div>

        <div ng-show="::export.salesCategories && export.salesCategories.length > 0">
          <strong><span translate>.SALESCATEGORIES</span>:</strong>
          <span ng-repeat="salesCategory in ::export.salesCategories track by salesCategory.id">{{::salesCategory.name}}
            <span ng-show="::export.salesCategories.length > 0 && !$last">, </span>
          </span>
        </div>
        <div><strong translate>.TIMEPERIOD</strong> {{::getExportTimePeriodTitle(export)}}</div>
      </header>

      <div ng-include="'app/pdf/partials/' + getPartialPageKey(export) + '.partial.html'"></div>

    </div>
  </article>

</div>
