.button-top0 {
  top: 0px;
}

.expired-calendar-alert {
  margin-top: 10px;
  padding: 7px;
  .pull-left {
    height: 50px;
    .sticon {
      top: 11px;
    }
  }
  .message {
    padding-left: 20px;
    p {
      margin-bottom: 0px;
    }
  }
}

.analytics-header {
  .hr-selector {
    padding: 7px;
  }
}
