<div ng-controller="DateRangeSelectorCtrl" translate-namespace="analyticsHeader">
  <div class="toolbar-label"><small translate>.SELECTTIMEPERIOD</small></div>
   <div class="btn-group btn-group-date-range">
    <button
      ng-if="showRealTimeData"
      class="sticon sticon-real-time btn btn-default button-top0"
      type="button"
      ng-click="showRealTimaData()"
      ng-class="{ 'active' : realTimeDataShown === true}">
    </button>
    <button
      ng-repeat="dateRangeShortcut in dateRangeShortcuts track by $index"
      class="btn btn-default hidden-print"
      type="button"
      ng-click="setDateRange(dateRangeShortcut.type)"
      ng-class="{ 'active' : calendarsLoaded && activeDateRange === dateRangeShortcut.type && !realTimeDataShown}">
      {{::dateRangeShortcut.label}}
    </button>
    <button
      type="button"
      class="btn btn-default date-range-dropdown"
      ng-class="{ 'active-header-button' : showDateRangePicker || activeDateRange === 'custom' && realTimeDataShown === false}"
      off-click-filter="'#date-range-picker'"
      ng-click="setCustomRangeActive()">
      {{ selectedDateRange.start | amDateFormat: dateFormat }} - {{ selectedDateRange.end | amDateFormat: dateFormat }} <span class="caret" aria-hidden="true"></span>
    </button>
    <date-range-picker
      ng-show="showDateRangePicker"
      id="date-range-picker"
      off-click="showDateRangePicker=false"
      selected-range="selectedDateRange"
      compare-range1="compareRange1"
      compare-range2="compareRange2"
      date-format-mask="dateFormat"
      current-organization="currentOrganization"
      organization-calendars="organizationCalendars"
      all-calendars="allCalendars"
      current-user="currentUser"
      visible="showDateRangePicker"
      show-compare-options="true"
      real-time-data-shown="realTimeDataShown"
      language="language"
      has-only-one-compare="hasOnlyOneCompare"
    >
    </date-range-picker>
  </div>

  <div ng-if="::currentCalendarIsExpired" class="alert alert-danger expired-calendar-alert" role="alert">
    <div class="pull-left">
      <span class="sticon sticon-notice"></span>
    </div>
    <div class="message">
      <p>
        <span translate>
          .CALENDAREXPIRED
        </span>:
        {{::calendarName}}.
      </p>
      <p translate>
        .DEFAULTINGCALENDAR
      </p>
    </div>
  </div>

  <div class="date-range-detail-selector">
    <span class="selector-label"
          ng-if="showBusinessHourOption"
          translate>
          .OPHOURS
    </span>
    <span class="operating-hours-selector btn-group"
          ng-if="showBusinessHourOption"
          ng-class="{ 'open' : opHoursSelectorIsOpen }">
      <button
        type="button"
        class="btn btn-xs btn-default dropdown-toggle"
        ng-click="opHoursSelectorIsOpen=!opHoursSelectorIsOpen"
        off-click="opHoursSelectorIsOpen = false">
        <span ng-if="operatingHoursType === 'BUSINESS_DAYS'" translate>.BUSINESSDAYS</span>
        <span ng-if="operatingHoursType === 'BUSINESS_HOURS'" translate>.BUSINESSHOURS</span>
        <span class="caret" aria-hidden="true"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <li><a ng-click="changeOperatingHoursType('BUSINESS_DAYS')" translate>.BUSINESSDAYS</a></li>
        <li><a ng-click="changeOperatingHoursType('BUSINESS_HOURS')" translate>.BUSINESSHOURS</a></li>
      </ul>
    </span>
    </div>

  </div>
