@import 'components/common/variables';


div.mi-view {

  .no-mi {
    margin: auto;
    padding-top: 50px;
    color: lighten($gray-light, 7%);
    div {
      text-align: center;
      padding-top: 15px;
    }
    span.no-active-mi {
      font-size: 40px;
    }
    .sticon-market-insight {
      font-size: 46px;
    }
  }

  div.header {
    .sticon-market-insight {
      font-size: 36px;
      & .no-compare {
        font-size: 46px;
      }
    }
    .select-mi-dropdown {
      margin-top: 1px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top:8px;
      padding-bottom:8px;
    }

    .toolbars {
      color: $gray-dark;

      .toolbar-label {
        text-transform: uppercase;
        color: darken($gray-lighter, 30%);
      }
    }

    .mi-title {
      padding-top:12px;
    }
  }

  .select-mi-dropdown-wrapper {

    .select-mi-dropdown {
      background: $white;
      padding: $padding-base-horizontal;
      padding-bottom: 10px;
      cursor: pointer;
      margin-bottom: 15px;
      font-size: 14px;
      color: $gray-dark;

      .sticon {
        vertical-align: middle;
        color: $brand-primary;
        margin-right: 5px;
        margin-top: -5px;
      }

      .dropdown-icon {
        float: right;
        margin-top: 2px;
      }

      &.disabled {
        cursor: not-allowed;
        > span {
          opacity: 0.44;
        }
        .sticon {
          color: $gray-dark;
        }
        &:hover {
          background: $white !important;
        }
      }
    }

    &.disabled-wrapper {
      .mi-selector-popover {
        display: none !important;
      }
    }
  }

  .mi-selector-wrapper {
    padding: 0;
    .mi-selector {
      background: $white;
      box-shadow: 0 0 1px $gray-light;
      padding: $padding-base-horizontal;

      // Rounded corners
      &:nth-of-type(1) {
        border-top-left-radius: $border-radius-large;
        border-top-right-radius: $border-radius-large;
      }
      &:last-of-type {
        border-bottom-left-radius: $border-radius-large;
        border-bottom-right-radius: $border-radius-large;
      }
    }
  }

  div.market-data-label {
    display: inline-block;
    margin-top: 11px;
  }

  .editMI {
    margin-top: 30px;
  }

  .title-section {
    .widget-name {
      font-weight: bold;
    }
    input.like-label {
      background-color: inherit;
      border: none;
      font-size: 30px;
      margin-bottom: 15px;
      width: 90%;
      &:focus {
        outline: none;
      }
    }
    .sticon {
      font-size: 30px;
      color: lighten($gray-light, 5%);
      &:hover {
        cursor: pointer;
      }
    }
  }

  .mi-block-wrapper {
    border-top: solid 1px #c0c0c0;
    margin-top: 35px;
    margin-left: 0px;
  }

  .mi-block-left {
    margin-top: 27px;

    .left-block-filter {
      padding-right:35px;
    }
  }
  .mi-block-wrapper-dashboard {
    position: relative;
    top: -62px;

    .mi-block-left, .mi-block-right {
      margin-bottom: 0px;
      padding-top: 20px;
      position: relative;
    }

    .dashboard-filter-label {
      padding-bottom: 10px;
    }

    .border-bottom {
      border-bottom: solid 1px #c0c0c0;
    }
  }
  .sticon-trash, .sticon-list {
    .sticon-trash {
      vertical-align: middle;
      font-size: 1.1em;
      background-color: $white;
    }
    .sticon-list {
      color: $gray-dark;
      border-left: solid 1px #adadad;
      padding-left: 10px;
    }
    .sticon-trash {
      color: $gray-light;
    }
  }
  .action-buttons {
    margin-bottom: 15px;
    margin-left: 0px;
    .btn {
      margin-right: 15px;
    }
  }

  .clear-text {
    vertical-align: bottom;
    color: #929090;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.9em;
  }
  .block-title-text {
    position: relative;
    top: -11px;
    background-color: #edebeb;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;

    @include media-up-to-sm() {
      left:97%;
    }

    @include media-sm() {
      left:75%;
    }

    @include media-md() {
      left:50%;
    }
  }
  .block-bottom-text {
    position: relative;
    top: -30px;
  }
  .selected-item{
    display: block;
    padding-top: 9px;
  }
  .mi-footer {
    margin-left: 55px;
  }
  .advanced-button {
    border: solid #ffffff 1px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: none;
    position: relative;
    top: -30px;
    right: -15px;
    color: $gray-dark;
    padding: 3px 10px 3px 10px;
    text-transform: uppercase;
    z-index: 10;
  }

  .mi-preview-view .modal{
   top:20%;
  }
  .mi-preview-view .modal-footer{
    border: none;
  }

  .right-section, .mi-block-right {
    organization-filter-widget-small .filter-selection {
      left: auto;
      right:17px;
    }
  }

  .form-group {
    organization-filter-widget-small {
      float:right;
    }
  }

  .margin-top-20 {
    margin-top:20px;
  }
  .loader {
    display: inline-block;
    padding-right: 5px;
    span {
      margin-bottom: -6px;
      display: inline-block;
      overflow: hidden;
      width: 20px;
      height: 20px;
      background-image: url('../assets/images/loader.gif');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      color: transparent;
    }
  }
  .subscription-error {
    padding: 10px;
    margin: 10px;
  }
  .border-line{
    border-top: solid 1px #bfbebe;
    position: relative;
    top: 21px;
    height: 1px;
  }
  .selected-option-display{
    border: solid 1px #cccccc;
    padding: 9px;
    background: #ffffff;
  }
  .compare-period-display{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: 5px;
    text-align: right;
    color: #999999;
    font-size: 12px;
    text-transform: uppercase;
  }
  .compare-period-display span:last-child{
    margin-left: 5px;
  }

  .first-time-configure {
    margin: auto;
    text-align: center;
    color: #a4a2a2;
    font-size: 40px;
    padding-bottom: 20px;
  }

  .mi-access-warning {
    color: #a4a2a2;
    font-size: 30px;
    padding-bottom: 20px;
    .sticon {
      top: 4px;
    }
  }

  .alert.unequal-days {
    display: inline-block;
    margin-top: 3px;
    padding: 5px;
    margin-bottom: 0;
    .sticon {
      margin-right:5px;
      top: 2px;
    }
    p {
      text-align: right;
      margin-bottom: 0;
    }
  }
}
