.shoppers-vs-others-detail-widget .panel-body {
  height: 650px;
  padding: 0;

  .dashboard__widget & {
    margin-bottom:-20px;
  }

  .dashboard__widget.widget-layout-1x & {
    .chart-container {
      width:100%;
    }

    .shoppers-vs-others-detail-widget-legend  {
      width:100%;
      min-height: 0px !important;
      height:auto;
    }

    .line-high-chart-widget-summary {
      border-top:1px solid $gray-lighter;
      padding-top:10px;
      width:100%;

      .value {
        padding-top: 20px !important;
      }
    }
    .line-high-chart-widget-compare {
      display:none;
    }

    .panel-body {
      min-height: inherit !important;
      height:auto;
    }
  }
}
.shoppers-vs-others-detail-widget .chart-container {
  height: 40%;
  padding: $line-height-computed $line-height-computed / 2 $line-height-computed * 2 0;

  &.bordered {
    border-right:1px solid $gray-lighter;
  }
}
.shoppers-vs-others-detail-widget .ct-chart {
  height: 100%;
}
.shoppers-vs-others-detail-widget .ct-chart .ct-point:not(.is-hovered) {
  stroke-width: 1px;
}
.shoppers-vs-others-detail-widget .chart-label td, th {
  padding: 2px 10px;
}
.shoppers-vs-others-detail-widget .chart-legend {
  position: absolute;
  margin-top: $line-height-computed / 2;
  margin-left: $line-height-computed * 2;
}

.shoppers-vs-others-detail-widget-compare {

  .dashboard__widget.widget-layout-1x &,
  .dashboard__widget.widget-layout-2x & {

    .share-info {
      font-size:18px;
    }
  }
}

.shoppers-vs-others-detail-widget .ct-chart .ct-label.ct-horizontal {
  display: block;
  margin-left: -15px;
  padding-top: 10px;
  text-align: left;
  word-spacing: 30000px;
  padding-left: 2px;
  text-indent:-2px;
}
.shoppers-vs-others-detail-widget .ct-grids .ct-grid {
  stroke:rgba(255,255,255,0.5);
}
.shoppers-vs-others-detail-widget .ct-series-b .ct-area {
  fill:$brand-primary;
  fill-opacity:0.4;
}
.shoppers-vs-others-detail-widget .ct-series-a .ct-area {
  fill:$brand-primary;
  fill-opacity:0.8;
}
.shoppers-vs-others-detail-widget .ct-area {
  fill-opacity:0.8;
}
.shoppers-vs-others-detail-widget .ct-series-a .ct-point {
  stroke:darken($brand-primary,0.8) !important;
  fill-opacity:1 !important;
  opacity:1;
}
.shoppers-vs-others-detail-widget .ct-series-b .ct-point {
  opacity:0;
}
.shoppers-vs-others-detail-widget .chart-legend-label:nth-of-type(2):before {
    background-color: rgba($brand-primary,0.5);
}

.shoppers-vs-others-detail-widget .chart-legend-label:nth-of-type(1):before {
    background-color: $brand-primary;
}

.shoppers-vs-others-detail-widget-legend {
  text-align:center;
  font-size:16px;
  color:$gray-dark;
  padding: 0;
  height:60%;
  border-top:1px solid $gray-lighter;
}

.shoppers-vs-others-detail-widget-legend-container {
  padding-top: 10px;

  .dashboard__widget.widget-layout-1x &,
  .dashboard__widget.widget-layout-2x & {
    padding-top:0;
  }
}

.shoppers-vs-others-detail-widget-delta {
  left: 16px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
}
.shoppers-vs-others-detail-widget-delta-icon {
  font-size: 20px;
  top: 6px;
}
.shoppers-vs-others-detail-widget-delta-icon-positive {
  color: $brand-success;
}
.shoppers-vs-others-detail-widget-delta-icon-negative {
  color: $brand-danger;
}
.shoppers-vs-others-detail-widget-delta-label {
  font-size:11px;
  display:inline-block;
  vertical-align:middle;
  line-height:1;
  margin-top:-14px;
  margin-right:5px;
  width:70px;
  color:$gray-light;
}

.shoppers-vs-others-detail-widget-alert-icon {
  color: #f75c38 !important;
  top:2px;
}

.shoppers-vs-others-detail-widget-current {
  .period-label {
    font-weight:bold;
    font-size:15px;
    text-align:left;

    .dashboard__widget.widget-layout-1x &,
    .dashboard__widget.widget-layout-2x & {
      font-size: 13px;
      line-height: 15px;
      width: 100%;
      margin-top:10px;
    }
  }
  .period-label:before {
    content: "";
    position: relative;
    top: 7px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    margin-right: 4px;
    border-radius: 5px;
    background:$brand-success;

    .dashboard__widget.widget-layout-1x &,
    .dashboard__widget.widget-layout-2x & {
      top:3px;
    }
  }
  .selected-period {
    font-size:10px;
    font-weight:400;
    line-height:25px;
    color: $gray-light;
    text-align:right;

    .dashboard__widget.widget-layout-1x &,
    .dashboard__widget.widget-layout-2x & {
      width: 100%;
    }
  }
  .share-info {
    font-weight:700;
    line-height:1;
    font-size:28px;
    padding-top:40px;

    .dashboard__widget.widget-layout-1x &,
    .dashboard__widget.widget-layout-2x & {
      width:100%;
      padding-top:10px;
      padding-bottom:4px;

      small {
        margin-top:6px;
        display:block;
      }
    }

    &.shoppers {
      clear:both;
    }

    small {
      font-weight:400;
      text-transform:uppercase;
      color:$gray-light;
      font-size:11px;
    }
  }
}

.shoppers-vs-others-detail-widget-compare {
  padding-top:10px;
  border-top:1px solid darken($gray-lighter,2%);
  background:lighten($gray-lighter,4%);
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;

  .dashboard__widget.widget-layout-1x &,
  .dashboard__widget.widget-layout-2x & {
    bottom: inherit;
    height:inherit;
    position: inherit;
  }

  .period-label {
    font-weight:600;
    font-size:12px;
    color: $gray-light;
    text-transform:uppercase;
    text-align:left;

    .dashboard__widget.widget-layout-1x &,
    .dashboard__widget.widget-layout-2x & {
      width: 100%;
    }

    &.year:before {
      background:#be64f0;
    }
  }
  .period-label:before {
    content: "";
    position: relative;
    top: 5px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    margin-right: 4px;
    border-radius: 5px;
    background:#0aaaff;
  }
  .selected-period {
    font-size:10px;
    font-weight:400;
    line-height:19px;
    color: $gray-light;
    text-align:right;

    .dashboard__widget.widget-layout-1x &,
    .dashboard__widget.widget-layout-2x & {
      width: 100%;
      margin-left:-3px;
    }
  }

  .share-info {
    text-align:center;
    font-size: 24px;
    font-weight: 600;
    line-height:2.5;
  }

  &.prior-period {
    bottom:100px;
  }
}

.alert-widget-small {
  margin-top:30px;
  padding:5px;
}

// PDF export fixes

.pdf-export .shoppers-vs-others-detail-widget-legend .shoppers-vs-others-detail-widget-compare .period-label,
.pdf-export .shoppers-vs-others-detail-widget-legend .shoppers-vs-others-detail-widget-current .period-label {
  font-size:10px;
  padding:0 0 0 10px;

  &:before {
    display:none;
  }
}
.pdf-export .shoppers-vs-others-detail-widget-legend .shoppers-vs-others-detail-widget-compare .selected-period,
.pdf-export .shoppers-vs-others-detail-widget-legend .shoppers-vs-others-detail-widget-current .selected-period {
  font-size:11px;
}
.pdf-export .shoppers-vs-others-detail-widget-legend .shoppers-vs-others-detail-widget-compare .value {
  padding:0;
}

@include media-md {
  .shoppers-vs-others-detail-widget .panel-body {
    height: 400px;
  }
  .shoppers-vs-others-detail-widget .chart-container,
  .shoppers-vs-others-detail-widget-legend {
    height: 100%;
  }

  .shoppers-vs-others-detail-widget-legend {
    border-top:0;
  }
}

@include media-sm {
  .dashboard__widget .shoppers-vs-others-detail-widget .panel-body {
    margin-bottom:-67px !important;
  }
}

.pdf-export {
  .shoppers-vs-others-detail-widget .panel-body {
    height: auto;
  }

  .shoppers-vs-others-detail-widget-current {
    height:140px;
  }

  .shoppers-vs-others-detail-widget .chart-container {
    height:310px;
  }

  .shoppers-vs-others-detail-widget-legend {
    height: auto;
    margin-top: 10px; 
  }

  .shoppers-vs-others-detail-widget-compare {
    position:relative;
    bottom:0px;
  }

  .shoppers-vs-others-detail-widget-legend  {
    border-top:1px solid $gray-lighter;
  }
}
