<widget class="shoppers-vs-others-detail-widget" translate-namespace="shoppersVsTravellersWidget">

  <widget-header
    widget-title="{{ 'kpis.kpiTitle.shoppers_vs_others' | translate }}"
    icon="{{widgetIcon}}"
    hide-export-icon="hideExportIcon"
    disable-export="exportIsDisabled"
    on-export-click="onExportClick()"
    set-selected-widget="setSelectedWidget()">
    <left>
      <div class="btn-group" ng-if="dateRangeSpansOverTwoCalendarWeeks(dateRangeStart, dateRangeEnd)">
        <button
          ng-class="{'active': groupBy === 'day'}"
          ng-click="setGroupBy('day')"
          class="btn btn-xs btn-default"
          translate>
          common.DAY
        </button>

        <button
          ng-class="{'active': groupBy === 'week'}"
          ng-click="setGroupBy('week')"
          class="btn btn-xs btn-default"
          translate>
          common.WEEK
        </button>

        <button
          ng-if="dateRangeSpansOverTwoCalendarMonths(dateRangeStart, dateRangeEnd)"
          ng-class="{'active': groupBy === 'month'}"
          ng-click="setGroupBy('month')"
          class="btn btn-xs btn-default"
          translate>
          common.MONTH
        </button>
      </div>
    </left>

  </widget-header>

  <widget-body>

    <div
      class="chart-container"
      ng-class="{'bordered': chartData.series[0].length > 0 && !isPdf, 'col-xs-12' :isPdf, 'col-md-8 col-lg-9': !isPdf }"
      ng-if="!isLoading && !requestFailed && chartData.series[0].length > 0">
      <linechart
        data="chartData"
        options="chartOptions">
        <linechart-tooltip>
          <table>
            <thead>
              <th colspan="2">{{tooltipData[seriesItemIndex].date}}</th>
            </thead>
            <tbody>
              <tr>
                <th translate>.SHOPPERS</th>
                <td>{{ tooltipData[seriesItemIndex].shoppers | formatNumber : 1 : numberFormatName }}%</td>
              </tr>
              <tr>
                <th translate>.OTHERS</th>
                <td>{{ tooltipData[seriesItemIndex].others | formatNumber : 1 : numberFormatName }}%</td>
              </tr>
            </tbody>
          </table>
        </linechart-tooltip>
      </linechart>

      <div class="chart-legend">
        <span class="chart-legend-label" translate>.SHOPPERS</span>
        <span class="chart-legend-label" translate>.OTHERS</span>
      </div>
    </div>
    <div
      class="shoppers-vs-others-detail-widget-legend"
      ng-if="!isLoading && chartData.series[0].length > 0"
      ng-class="[isPdf ? 'col-xs-12'  : 'col-md-4 col-lg-3']">

      <div class="shoppers-vs-others-detail-widget-legend-container">

        <div class="shoppers-vs-others-detail-widget-current">
          <div class="col-xs-6 period-label" translate>
            common.SELECTEDPERIOD
          </div>
          <div class="col-xs-6 selected-period">
            {{firstDate[0]}} - {{endDate[0]}}
          </div>
          <div class="col-xs-6 share-info shoppers">
            <span>{{ averageReportData[0].shopper_percent | formatNumber : 1 : numberFormatName }}%</span><br />
            <small translate>.SHOPPERS</small>
          </div>
          <div class="col-xs-6 share-info others">
            <span>{{ averageReportData[0].others_percent | formatNumber : 1 : numberFormatName }}%</span><br />
            <small translate>.OTHERS</small>
          </div>
        </div>

        <div class="shoppers-vs-others-detail-widget-compare prior-period">
          <div class="col-xs-6 period-label" ng-if="compareRangeIsPriorPeriod(compareRange1Type)" translate>common.PRIORPERIOD</div>
          <div class="col-xs-6 period-label" ng-if="compareRangeIsPriorYear(compareRange1Type)" translate>common.PRIORYEAR</div>
          <div class="col-xs-6 period-label" ng-if="!compareRangeIsPriorPeriod(compareRange1Type) && !compareRangeIsPriorYear(compareRange1Type)" translate>common.CUSTOMCOMPARE1</div>

          <div class="col-xs-6 selected-period">
            {{firstDate[1]}} - {{endDate[1]}}
          </div>
          <div class="share-info">
            <span>{{ averageCompareData[0].shopper_percent | formatNumber : 1 : numberFormatName }}%</span>
            <span> / </span>
            <span>{{ averageCompareData[0].others_percent | formatNumber : 1 : numberFormatName }}%</span>
          </div>
        </div>
        <div class="shoppers-vs-others-detail-widget-compare prior-year">
          <div class="col-xs-6 period-label year" ng-if="compareRangeIsPriorPeriod(compareRange2Type)" translate>common.PRIORPERIOD</div>
          <div class="col-xs-6 period-label year" ng-if="compareRangeIsPriorYear(compareRange2Type)" translate>common.PRIORYEAR</div>
          <div class="col-xs-6 period-label year" ng-if="!compareRangeIsPriorPeriod(compareRange2Type) && !compareRangeIsPriorYear(compareRange2Type)" translate>common.CUSTOMCOMPARE2</div>

          <div class="col-xs-6 selected-period">
            {{firstDate[2]}} - {{endDate[2]}}
          </div>
          <div class="share-info" ng-show="averageYearData[0].shopper_percent > 0">
            <span>{{ averageYearData[0].shopper_percent | formatNumber : 1 : numberFormatName }}%</span>
            <span> / </span>
            <span>{{ averageYearData[0].others_percent | formatNumber : 1 : numberFormatName }}%</span>
          </div>
          <div class="share-info" ng-hide="averageYearData[0].shopper_percent > 0">
            <small translate>.NODATA</small>
          </div>
        </div>
      </div>

    </div>

    <div
      class="text-center error-message"
      ng-if="!isLoading && !requestFailed && (chartData.series[0].length === 0)">
      <span translate>common.NODATA</span>
    </div>

    <div class="loader" ng-if="isLoading">
      <span translate>common.LOADING</span>
    </div>

    <div
      ng-if="requestFailed"
      class="text-center error-message">
      <span translate>common.DATAERROR</span>
    </div>

  </widget-body>

</widget>
