<div class="analytics-container analytics-container--org" ui-view>
  <div class="analytics-menu-container" ui-view="analyticsMenu"></div>
  <div class="analytics-inner-container">
    <div ui-view="analyticsHeader"></div>
    <div ui-view="analyticsMain">
      <div class="row" ng-if="vm.sites.length === 0">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <br/>
          <div class="alert alert-info">
            This organization has no properties.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
