<div class="analytics-container analytics-container--site" ui-view>
  <div class="analytics-menu-container" ui-view="analyticsMenu"></div>
  <div class="analytics-inner-container">
    <div ui-view="analyticsHeader"></div>
    <div ui-view="analyticsMain"></div>
  </div>
</div>
