/*------------------------------------------------------------------------------
    Custom Dashboard
------------------------------------------------------------------------------*/
.dashboard {
  @include media-up-to-sidebar {
    padding: 0 $grid-gutter-small !important;
  }

  .add-to-custom-dashboard {
    display:none !important;
  }

  &__header {
    padding-top:26px;
    color: lighten($gray-light,5%);
    padding-bottom: 7px;
    border-bottom: 1px solid lighten($gray-light,18%);
    margin-bottom: 20px;
    @include media-sidebar {
    display:flex;
    padding-top:14px;
    }

    &__buttons {
      margin-top:-3px;

      .btn {
        margin-right:5px;

        &:last-child {
          margin-right:0;
        }
      }
      .sticon-settings {
        // TODO: Fix the actual icon normalization...
        font-size:170%;
        line-height:0.3em;
      }
      .sticon {
        vertical-align:text-top;
        margin-right:4px;
        &.sticon-check-small {
          margin-top: -1px;
        }
      }
      .saveMessage {
        display: inline-block;
        p {
          display: inline-block;
          padding: 0 5px 0 0;
        }
        .loader {
          display: inline-block;
          padding-right: 5px;
          span {
            margin-bottom: -6px;
            display: inline-block;
            overflow: hidden;
            width: 20px;
            height: 20px;
            background-image: url('/assets/images/loader.gif');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
            color: transparent;
          }
        }
      }
      &__date-control {
        display: inline-block;
        .caret {
          vertical-align: middle;
        }
      }
      &__default-range {
        float: left;
        margin-right: 15px;
        margin-top: 9px;
      }
    }

  }
  &__title {
    font-size: 16px;
    font-weight: 500;
    margin:0;
    line-height:1em;
    min-height:50px;
    @include media-sidebar {
      min-height:auto !important;
      flex-grow:1;
    }

      .text {
        color:inherit !important;
        margin-top:5px !important;
        display:inline-block;
      }

      .sticon {
        vertical-align:top;
        padding:0 8px 0 0;
        margin: -4px 0 0 8px;
        font-size: 36px;

          .dashboard.is-edit-mode & {
            margin-top:0px;
          }
      }

      &__edit-title {
        display:inline-block !important;

        .form-control {

          &:focus {
            width:25vw;
            display:block;
            transition: $default-transition-duration width $ease;
            @include media-md {
              width:40vw;
            }
          }
        }
      }

      .dashboard.is-edit-mode & {
        margin-top:-4px;
      }
  }
  &__widget {
    position:relative; // Fixes out of place spinners

    &__pre-header {
      position: relative;
      padding:8px 2px 0 2px;
      margin-bottom:2px;

      .widgetDetails {
        position:relative;
      }

      .editButtons {
        top:33px; // Fixed button alignment
      }

      p {
        padding:0;
        margin:0 0 10px 0;
        height:1em;
        overflow:hidden;
        cursor: help;
      }

      .text {
        font-size:12px;
        color: #888;
        padding-bottom:8px;
        display:inline-block;
        line-height:1em;
        height:1em;
        overflow: hidden;
      }

      .period {
        position:absolute;
        background: $gray-lighter;
        padding-left:4px;
        border-radius: 6px;
        top: 2px;
        right:0;
        z-index:1;
        box-shadow: -2px 0 3px 2px $gray-lighter;
      }
      .period--edit {
        position:absolute;
        right:-3px;
        bottom:3px;
        box-shadow: -2px 0 3px 2px $gray-lighter;
      }
      .dateSelector {
        margin-top: -25px;
        button {
          border-radius: 15px;
          margin-right: 0px;
          margin-top: -10px;
          padding: 2.5px 10px;
        }
        .dropdown-menu {
          left: auto;
          right: 0px;
        }
      }
    }

    .custom-compare-data-widget {
      .widget-title-part {
        width: calc(50% - 15px);
      }
      .widget-actions-part {
        float: right;
        width: calc(50% - 1px);
        &>div {
          width: calc(100% - 40px);
        }
        .widget-actions {
          width: calc(100% - 39px);
        }
      }
    }

    &__chart-type-overrides {
      position:absolute;
      bottom:32px;
      right:10px;
    }

    &__content.activeEdit, {
      z-index: 0;

      .widget-actions {
        opacity: 1;
        pointer-events: auto;
      }
      .export-widget {
        margin-right: 30px;
        visibility:hidden;
      }

      .panel-body>div,
      .panel-title .widget-actions-part .export-widget,
      .retail-organization-summary-widget .table-responsive,
      .retail-organization-summary-widget  .table-legend,
      .organization-summary-widget .table-responsive,
      .organization-summary-widget .scrollArea,
      .heatmap-widget > .panel-body {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
        z-index: 0;
      }

      .panel-body .table-responsive {
        opacity: 1;
        pointer-events: auto;
        .table-header {
          .column.sortable {
            opacity: 0.5;
            pointer-events: none;
          }
          &__filter {
            opacity: 1;
            pointer-events: auto;
          }
        }
        table {
          th,
          td {
            opacity: 0.5;
            pointer-events: none;
          }
          thead th:first-of-type {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }

      .panel {
        overflow: inherit;
      }

      .table-toggle {
        display:none;
      }

      .retail-organization-summary-widget {
        .csv.export-widget {
          margin-right: 30px;
        }
      }

      .custom-compare-data-widget {
        .widget-actions-part {
          margin-top: -1px;
          .export-widget {
            margin-right: 30px;
          }
          .widget-actions {
            width: calc(100% - 69px);
          }
        }
      }

    }

    .widget-container {
      margin-bottom: 40px;
    }

    .add-widget-section {
      border: 2px dashed rgba($gray-light, 0.3);
      padding: 30px;
      margin-bottom: 30px;
      text-align: center;
    }

    .add-widget-dropdown {
      display: inline-block;
    }

    .locations-should-be-copied-checkbox {
      margin-left: 20px;
    }

    .replace-widget-dropdown {
      display: inline-block;
    }
    .custom-compare-data-widget .widget-action-buttons {
      padding-right: 7px;
    }

    //widget modifications
    .zone-table {
      .zone-name-label div {
        display: inline-block;
      }
    }
  }

  &__empty {
    color: lighten($gray-light,5%);
    width: 100%;

    i {
      color: lighten($gray-light,5%);
      font-size: 60px;
    }
  }
}

.editButtons {
  z-index: 10;
  position: absolute;
  right: 9px;
  top:  25px;

  .btn {
    color: $light-blue;
    padding: 0;
    margin-top: 11px;
    font-size: 13px;
    margin-left: 5px;
  }


  .sticon-edit {
    margin: 4px 4px;
  }
  .sticon-delete-small {
    color: $white;
    height: 17px;
    border-radius: 8px;
    width: 16px;
    background: #f75c38;
    cursor: pointer;
    font-size: 12px;
    padding-top: 2px;
    margin: 2px 3px 3px;
  }
}

.custom-compare-data-widget-wrapper {
  padding: 0;
}


/*------------------------------------------------------------------------------
    Dashboard List Component
--------------------------------------------------------------------------------
    Vertical radiobutton list based on bootstrap behaviour.
------------------------------------------------------------------------------*/
$dashboard-list-border-radius: 4px;
$dashboard-list-padding-left: 36px;
$dashboard-list-item-min-height: 42px;

.dashboard-list {
  &.btn-group { // specificity workaround
  position:relative;
  counter-reset: dashboard-count;
  width:100%;
  }

  // Components:
  &__create {
    .text {
      color:$gray-light;
    }
    &__textinput {
      display:none !important;
    }
    &.hide-tick-icon .max-limit::after {
      display:none;
    }
    &.active {

      & + .dashboard-list__create__textinput {
        display:block !important;
        margin-top:10px;
        position:absolute;
        bottom:1px;
        left:1px;
        text-indent:1px;
        padding-left: 0 !important;
        border-radius: $dashboard-list-border-radius - 1px;
        height: $dashboard-list-item-min-height - 2px !important;
        padding-left: $dashboard-list-padding-left !important;
        padding-right: $dashboard-list-padding-left !important;
        width: calc(100% - 2px);
        color: $active-color !important;
        box-shadow:none;
        opacity: 1;
        transition: $default-transition;
        background:transparent;
        z-index: 2;
      }
      .text {
        display:none;
      }
    }
    &.has-focus {
      cursor:text !important;
    }
  }

  > label.btn { // specificity workaround
    width:100%;
    margin:0 !important;
    line-height: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius:0;
    padding-left:$dashboard-list-padding-left; // space for icon
    padding-top: 10px;
    padding-bottom: 10px;
    counter-increment: dashboard-count; // dashboard number
    box-shadow:none; // override bootstrap
    outline:none;
    min-height: $dashboard-list-item-min-height !important;

    &.is-first {
      border-top-left-radius: $dashboard-list-border-radius !important;
      border-top-right-radius: $dashboard-list-border-radius !important;
    }
    &.is-last {
      border-bottom-left-radius: $dashboard-list-border-radius !important;
      border-bottom-right-radius: $dashboard-list-border-radius !important;
    }
    &::before{
      content: '\E120'; // sticon-dashboard
      font-family: 'retailmanager-icons';
      display:inline-block;
      padding-right: 10px;
      font-size:20px;
      position:absolute;
      left:8px;
      font-weight:light;
      top:50%;
      transform: translateY(-50%);
    }
    &::after {
      content: counter(dashboard-count);
      position:absolute;
      font-size: 10px;
      font-weight:bold;
      left:15px;
      text-align:center;
      top:calc(50% + 3px);
      transform: translateY(-50%);
    }

    + label.btn:not(.dashboard-list__create) {
      border-top:0 !important;
    }

    &.dashboard-list__create {
      margin-top:10px !important;
      border-radius: $dashboard-list-border-radius !important;

      &::after {
        content: '+';
        font-size:13px;
      }
    }

    // Components:
    .text {
      word-break: break-word; // For very long words
      white-space: normal;
    }
    .max-limit {
      color:#ccc;
      padding-left:5px;
      top:50%;
      position:absolute;
      right:12px;
      transform: translateY(-50%);
    }

    // States:
    &.active + label.btn:hover {
      z-index:1 !important;
    }
    &.active:not(.disabled) {
      box-shadow: 0 0 4px rgba($brand-primary, 0.5);
      color: $active-color !important;
      outline:0;

      .max-limit {
      color:transparent;

        &::after {
          content:'\E057'; //sticon-check-small
          font-family: 'retailmanager-icons';
          color: $brand-success;
          font-size:20px;
          position:absolute;
          right:1px;
        }
      }
    }
    &.disabled {
      background-color:#fafafa;
      pointer-events: none;

      &::before,
      &::after {
        color:#888;
      }

      .max-limit {
        color:$brand-danger;
      }
    }
  }
}


/*------------------------------------------------------------------------------
    Widget Layouts & Widget grid
--------------------------------------------------------------------------------
    This allows widgets to render at multiples sizes layouts: 1x, 2x, 4x
    They are placed into column sizes independently by JS in controller.
------------------------------------------------------------------------------*/
$dashboard-grid-gutter: 5px;
$dashboard-transition-duration: 240ms; // Requires parity with JS
$dashboard-widget-min-height: 200px;

.dashboard__widgets--grid {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin:0 -10px;
}

.dashboard__widget {
  width:100%;
  padding: $dashboard-grid-gutter;
  display:flex;
  flex-direction: column;
  align-self: stretch;
  position:relative;
  transition: $dashboard-transition-duration width $default-easing;
  min-height: $dashboard-widget-min-height;

  // Grid width classes (if changed, update customDashboard.constants):
  &.grid-12-5pc {
    width: 12.5%;
  }
  &.grid-25pc {
    width: 25%;
  }
  &.grid-50pc {
    width: 50%;
  }
  &.grid-100pc {
    width: 100%;
  }

  &__content {
    height:100%;
    width:100%;
    background: #ddd;
    min-height: $dashboard-widget-min-height;

    .panel.widget {
      height: 100%;
    }
  }

  &__grid-layout {
    position:absolute;
    bottom:20px;
    left:20px;
  }

  &__chart-type-overrides {
    right:20px;
    bottom:20px;
  }

  .btn-group--glow {
    box-shadow: 0 0 10px 4px #fff;
    border-radius:1em;
    background: $gray-lighter;
    z-index: 1000;
  }
}



/*------------------------------------------------------------------------------
    Widget Drag and Drop
--------------------------------------------------------------------------------
    These styles are applied to classes add by Dragula (drag-n-drop component)
------------------------------------------------------------------------------*/

.state-analyticsorganizationsitecustom-dashboard,
.state-analyticsorganizationcustom-dashboard {
  $drag-transition: all 0.2s ease-in-out;

  // This class is added by a mousemove event:
  &.is-dragging-dashboard {

    .dashboard__widget {
      opacity:0.7;
    }
    .gu-transit {
      opacity: 1;

      .panel {
        box-shadow: 0 0 8px 2px rgba($brand-primary,.4);
        transition: $drag-transition;
      }
    }

    .btn, .btn-group {
      visibility:hidden !important;
    }
  }

  .gu-mirror {
    transition: $drag-transition;
    opacity: 1 !important;
    cursor: grabbing !important;

    // Drag and drop mirror masked transparency:
    mask-image: -webkit-gradient(linear, left top, left bottom,
      color-stop(0.15, rgba(0,0,0,1)),
      color-stop(0.45, rgba(0,0,0,0))
    );

    .dashboard__widget__pre-header {
      visibility: hidden;
    }
  }
}


/*------------------------------------------------------------------------------
    Modals
------------------------------------------------------------------------------*/
.modal--custom-dashboard {

  .dashboard-name {
    margin-left: 20px;
  }

  .maximum-widgets {
    display: block;
    margin-left: 20px;
  }
}


/*------------------------------------------------------------------------------
    Analytics Menu
------------------------------------------------------------------------------*/
.analytics-menu-items {
  counter-reset: menu-dashboard-count;
}

.analytics-menu-item--custom-dashboard {
  counter-increment: menu-dashboard-count;
  position:relative;

  .analytics-menu-item__link::before {
    content: counter(menu-dashboard-count);
    position:absolute;
    display:block;
    font-size: 11px;
    font-weight:bold;
    left:50%;
    transform: translate(-50%, -50%);
    top:calc(50%);
    line-height:1em;
    text-align:center;
    text-indent:2px;
    transition: $analytics-menu-transition;
    @include media-sidebar {
    left: 22px;
    top:calc(55%);
    }
  }

  &.is-active {
    .analytics-menu-item__link::before {
      color: #fff !important;
      top:calc(50% + 4px);
      text-indent:1px;
      @include media-sidebar {
      left: 23px;
      font-size:12px;
      }
    }
  }

  &:hover:not(.is-active) .analytics-menu-item__link::before {
    color: $analytics-menu-icon-hover-color;
  }
}
