<aside ng-class="{ 'is-disabled is-waiting': vm.wasSubmitted }" class="modal modal--custom-dashboard fade" id="addToDashboardModal" role="dialog">
  <div class="modal-dialog dash">
    <form
      ng-submit="dashboardModalForm.$invalid !== true && vm.submitModalForm()"
      name="dashboardModalForm"
      class="modal-content form"
      autocomplete="off"
      novalidate>

      <header class="modal-header text-center">
        <button type="button" class="close" ng-click="vm.closeModal()">&times;</button>
        <i class="modal-header__icon sticon sticon-dashboard" aria-hidden="true"></i>
        <h4 class="modal-heading" translate>customDashboard.SAVEWIDGETTODASHBOARD</h4>
      </header>

      <article class="modal-body">

          <!--Error messages:-->
          <p ng-if="vm.errorMessage.length > 0" class="alert alert-danger form-row">{{vm.errorMessage}}</p>

          <section class="form-row">
            <div class="btn-group dashboard-list">

              <label
                ng-repeat="dashboard in vm.customDashboards track by $index"
                ng-class="{
                  'is-first': $index === 0,
                  'is-last': $index === vm.customDashboards.length - 1
                }"
                ng-model="vm.selectedDashboardName"
                uib-btn-radio="dashboard.name"
                ng-disabled="dashboard.widgets.length >= vm.MAXIMUM_WIDGETS_PER_DASHBOARD"
                ng-click="vm.toggleCreateDashboardRadioFocus(false)"
                class="btn"
              >
                <small class="pull-right max-limit">
                    {{ dashboard.widgets.length || 0 }} / {{ vm.MAXIMUM_WIDGETS_PER_DASHBOARD }}
                </small>
                <span class="text">{{ dashboard.name }}</span>
              </label>

              <label
                ng-if="vm.customDashboards.length < vm.MAX_DASHBOARDS"
                ng-model="vm.selectedDashboardName"
                uib-btn-radio="'__newdashboard__'"
                ng-click="vm.toggleCreateDashboardRadioFocus(true)"
                ng-class="{
                  'has-focus': vm.isCreateDashboardRadioFocused,
                  'hide-tick-icon': dashboardModalForm.dashboardName.$invalid === true || dashboardModalForm.dashboardName.$pristine === true
                }"

                class="btn dashboard-list__create"
              >
                <small class="pull-right max-limit">{{ dashboard.widgets.length || 0 }} / {{ vm.MAXIMUM_WIDGETS_PER_DASHBOARD }}</small>
                <span class="text">{{ vm.newDashboardName || 'customDashboard.CREATEANEWDASHBOARD' | translate }}</span>
              </label>
              <input
                ng-model="vm.newDashboardName"
                ng-maxlength="vm.dashboardNameMaxlength"
                ng-class="{
                  'has-focus': vm.isCreateDashboardRadioFocused
                }"
                blacklisted-values="vm.customDashboardNames"
                blacklisted-characters="special"
                placeholder="{{ 'customDashboard.NEWDASHBOARDNAME' | translate }}"
                class="form-control input--skinny dashboard-list__create__textinput"
                aria-describedby="dashboardNameCount"
                id="dashboardName"
                name="dashboardName"
                type="text"
                spellcheck="false"
                ng-required="vm.selectedDashboardName === '__newdashboard__'"
              />
            </div>

            <!--Form Validation messages: -->
            <small
              ng-class="{
                'show': vm.selectedDashboardName === '__newdashboard__' && dashboardModalForm.dashboardName.$error.required && !dashboardModalForm.dashboardName.$pristine
              }"
              class="validation-feedback"
              translate>
              formValidation.THISFIELDISREQUIRED
            </small>
            <small
              ng-class="{
                'show': vm.selectedDashboardName === '__newdashboard__' && dashboardModalForm.dashboardName.$error.maxlength
              }"
              class="validation-feedback"
              translate>
              formValidation.THISFIELDISTOOLONG
            </small>
            <small
              ng-class="{
                'show': vm.selectedDashboardName === '__newdashboard__' && dashboardModalForm.dashboardName.$error.blacklistedCharacters
              }"
              class="validation-feedback"
              translate>
              formValidation.THISFIELDCONTAINSINVALIDCHARACTERS
            </small>
            <small
              ng-class="{
                'show': vm.selectedDashboardName === '__newdashboard__' && dashboardModalForm.dashboardName.$error.blacklistedValues
              }"
              class="validation-feedback"
              translate>
              customDashboard.DASHBOARDALREADYEXISTS
            </small>
          </section>

      </article>

      <footer class="modal-footer" ng-switch="vm.selectedDashboardName === '__newdashboard__'">
        <button
          ng-switch-when="true"
          ng-disabled="dashboardModalForm.$invalid === true || vm.newDashboardName === '' || !vm.newDashboardName"
          class="btn btn-primary"
          type="submit"
        >
          <translate>customDashboard.ADDTONEWDASHBOARD</translate>
        </button>
        <button
          ng-switch-default
          ng-disabled="vm.selectedDashboardName === '' || vm.hasMaximumWidgets"
          type="submit"
          class="btn btn-primary margin-right-15"
        >
          <translate>customDashboard.ADDTOEXISTINGDASHBOARD</translate>
        </button>
        <button class="btn btn-default margin-right-15"
          ng-click="vm.closeModal()"
          type="button"
          translate
        >
          common.CANCEL
        </button>
      </footer>

    </form>
  </div>
</aside>
