.organization-summary-widget .panel-body {
  position: relative;
  height: 400px;
}

.organization-summary-widget {
  .widget-actions { //to allow buttons & filter on same line without cutting off placeholder text.
    width: 60%;
  }
  .dashboard__widget & {
    margin-bottom:0;
  }
}
.organization-summary-widget {

  .table a {
    color: #000;
  }

  .dt-body {
    height: 500px;
    width: 12.5%;
    align-items: center;
  }

  .delta-positive {
    color: $brand-success;
  }

  .delta-negative {
    color: $brand-danger;
  }

  .value {
    font-size: 16px;
  }

  .dt-row:first-of-type .dt-cell {
    border-top: 1px solid $table-border-color;
  }
}

  .organization-summary-widget .dt-row {
    .dt-cell:first-of-type {
      min-width: 300px;
      text-align: left;

      a {
        padding: 0 0 0 5px;
        text-decoration: none;
        color: black;
        background: transparent;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .dt-cell {
      border-left: 2px solid $table-border-color;
      border-bottom: 1px solid $table-border-color;
      text-align: center;
      vertical-align: center;
      min-height: 50px;
    }

    .dt-cell:first-of-type {
      border-left: 0;
    }
  }

  .organization-summary-widget {
    input {
      width: 20%;
      padding: 1px 5px;
      border-radius: 15px;
      font-size: 12px;
      word-wrap: break-word;
      line-height: 1.5;
    }

  }

  .organization-summary-widget .dt-header {
    .dt-header-cell {
      min-height: 70px;
      padding-top: 12px;
      border-left: 2px solid $table-border-color;
      border-bottom: 1px solid $table-border-color;
      text-align: center;


      .metric-label {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
      }

      .sort-btn {
        font-family: 'retailmanager-icons';
        font-size: 6pt;
      }

      .sort-btn.sort-desc {
        &:before {
          content: "\E022";
          color: $brand-primary;
        }
      }

      .sort-btn.sort-asc {
        &:before {
          content: "\E021";
          color: $brand-primary;
        }
      }
    }

    .dt-header-cell:first-of-type {
      border-left: 0;
    }

  }




