.admin {
  .disabled {
    opacity: 0.2;
    cursor: default;
  }
  button {
    box-shadow: 0 2px 2px #969696;
    &[disabled] {
      box-shadow: 0 2px 2px #969696;
    }
  }
  .ui-switch {
    background: #C5C3C3;
    &.chosen {
      background-color: $brand-success;
    }
  }
  .ui-button {
    background: $light-blue;
    color: #fff;
  }
  .search-bar {
    background: inherit;
    .sticon-search {
      float: right;
      z-index: 1;
      right: 6px;
      top: -5px;
      font-size: 28px;
      color: $light-blue;
    }
    input {
      float: right;
      position: relative;
      right: -17px;
      height: 30px;
      width: 100%;
      max-width: 250px;
      padding: 0 25px 0 7px;
      border: 1px solid #bdbcbc;
      border-radius: 4px;
    }
  }
  .modal {
    .modal-footer button {
      text-transform: capitalize;
    }
  }
}

.admin .action-bar {
  color: $gray-light;
  padding: 20px 0px;
  display: flex;
  .header {
    padding: 0;
  }
  >h1 {
    margin: 0;
    padding: 0 9px 0 0;
  }
  >div {
    padding: 0 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    >span.icon {
      width: 32px;
      min-width: 32px;
      height: 32px;
      border-radius: 16px;
      text-align: center;
    }
    span.icon-add,
    span.icon-import {
      background-color: $primary-color;
      >.sticon {
        color: white;
        &.sticon-add {
          font-size: 110%;
          line-height: 210%;
        }
      }
    }
    span.icon-refresh {
      background-color: $brand-success;
      >.sticon {
        color: white;
        &.sticon-refresh {
          font-size: 125%;
          line-height: 175%;
        }
      }
    }
    >span.label-text {
      color: #8d8b8c;
      font-size: 110%;
      padding: 0 0 0 9px;
    }
  }
}

.admin {
  .table-responsive {
    padding-left: 1px;
    padding-right: 1px;
    border: 1px solid #c4c1c1;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .table {
    background-color: #fff;
    margin-bottom: 0;
    input[type="checkbox"] {
      display: none;
    }
    .sortable {
      cursor: pointer;
      .header-name {
        margin-right: 3px;
      }
    }
    .sorted {
      color: #20abfc;
    }
    th {
      border: none;
      color: $disabled-color;
      font-weight: 400;
    }
    .sticon-arrow-right {
      transform: rotate(90deg);
      font-size: 12px;
      &.reverse {
        transform: rotate(-90deg);
      }
    }
    td {
      vertical-align: middle;
      border-right: 1px solid #ddd;
      * {
        vertical-align: middle;
      }
      &:last-child {
        border-right: none;
      }
    }
    th[data-field*="type"],
    th[data-field*="actions"],
    td[class*="type"] {
      text-align: center;
    }
    td[data-field*="type"],
    td[class*="type"] {
      width: 136px;
      span {
        display: inline-block;
        background-color: #d3d1d2;
        border-radius: 10px;
        padding: 3px 16px;
        color: white;
        text-transform: uppercase;
        font-size: 80%;
      }
    }
    td[class*="actions"] {
      width: 205px;
      text-align: center;
      >span {
        display: inline-block;
        padding: 0 7px;
        .sticon {
          font-size: 16px;
          line-height: 18px;
          &.sticon-refresh-small {
            color: #86BB00;
          }
          &.sticon-edit-small {
            font-size: 17px;
            color: #21ACFC;
          }
          &.sticon-delete-small {
            background-color: #D73E2E;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            color: white;
            font-size: 8px;
            padding: 2px;
            box-sizing: border-box;
            line-height: 13px;
          }
        }
      }
      .tooltip .tooltip-inner {
        border-radius: 0;
        text-transform: uppercase;
      }
    }
    .table-selector {
      label {
        position: relative;
        padding-left: 25px;
        margin-bottom: 0;
        font-weight: inherit;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          top: 1px;
          left: 0;
          width: 17px;
          height: 17px;
          border: 1px solid #aaa;
          border-radius: 2px;
        }
        &.noFullname:before {
          top: -10px;
        }
      }
      [type="checkbox"]:checked+label {
        &:before {
          border: 1px solid #000;
        }
        &:after {
          content: '\E057';
          position: absolute;
          top: 6px;
          left: 4px;
          font-family: 'retailmanager-icons';
          font-size: 10px;
          line-height: 0.8;
        }
        &.noFullname:after {
          top: -5px;
        }
      }
    }
    th.table-selector {
      [type="checkbox"]:checked+label:after {
        top: -8px;
        color: #000;
      }
      label {
        &:before {
          top: -13px;
        }
      }
    }
  }
  [ui-view="adminMain"]:nth-child(3) {
    display: none;
  }
}

.admin .loading-spinner {
  float: left;
  overflow: hidden;
  width: 100%;
  height: 100px;
  padding: 0 60px;
  background-image: url(../assets/images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 30%;
  color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 768px) {
  .admin {
    margin: 48px 0;
  }
}

@media (max-width: 675px) {
  .admin .admin-user-management .action-bar-container {
    .bulk-action,
    .search {
      width: 50%;
      float: inherit;
    }
  }
}
