<div class="admin analytics-container" translate-namespace="admin">
  <div class="analytics-menu-container" ui-view="adminMenu"></div>
  <div class="analytics-inner-container" ui-view="adminMain"></div>
</div>
