<div class="csv-export" translate-namespace="csvExportView">
  <div class="row organization-csv-section">
    <div class="csv-export col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="clearfix">
        <h1 class="page-header" ng-show="vm.currentSite === null">
          <span class="organization-csv-subtitle org-name" translate>.EXPORTCSV</span><br />
          <span class="organization-csv-org-name">{{ vm.currentOrganizationName }}</span>
        </h1>
        <h1 class="page-header" ng-show="vm.currentSite !== null">
          <span class="organization-csv-subtitle site-name" translate>.EXPORTCSV</span><br />
          <span class="organization-csv-site-name">{{ vm.currentSiteName }}</span>
        </h1>
      </div>
    </div>
  </div>
  <div class="row organization-csv-section">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <h2 class="organization-csv-section-title date-time" translate>.DATEANDTIMESETTINGS</h2>

      <div class="csv-export-block op-hours">
        <div><small class="text-muted text-uppercase" translate>.OPERATINGHOURS</small></div>
        <div class="dropdown op-hours-selection-dropdown" ng-class="{ 'open' : vm.opHoursDropdownIsOpen }">
          <button
            class="btn btn-default dropdown-toggle"
            ng-click="vm.opHoursDropdownIsOpen = !vm.opHoursDropdownIsOpen"
            off-click="vm.opHoursDropdownIsOpen = false">
            <span ng-show="vm.businessHours===true" translate>.BUSINESSHOURS</span>
            <span ng-show="vm.businessHours===false" translate>.BUSINESSDAYS</span>
            <span class="caret" aria-hidden="true"></span>
          </button>
          <ul class="dropdown-menu op-hours-dropdown-options">
            <li ng-class="{'disabled': vm.hoursDisabled}">
              <a ng-click="vm.hoursDisabled ? void(0) : vm.businessHours = true" translate>
                .BUSINESSHOURS
              </a>
            </li>
            <li>
              <a ng-click="vm.businessHours = false" translate>
                .BUSINESSDAYS
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="csv-export-block groupby">
        <div><small class="text-muted text-uppercase" translate>.GROUPBY</small></div>
        <div class="dropdown groupby-selection-dropdown" ng-class="{ 'open' : vm.groupbySelectionDropdownIsOpen }">
          <button
            class="btn btn-default dropdown-toggle"
            ng-click="vm.groupbySelectionDropdownIsOpen = !vm.groupbySelectionDropdownIsOpen"
            off-click="vm.groupbySelectionDropdownIsOpen = false">
            <span translate>{{ vm.getSelectedGroupByName() }}</span>
            <span class="caret" aria-hidden="true"></span>
          </button>
          <ul class="dropdown-menu group-by-dropdown-options">
            <li
              ng-repeat="groupByChoice in vm.groupByChoices"
              ng-class="{ 'active' : vm.groupBySetting === groupByChoice.name, 'disabled' : 'hour' === groupByChoice.name && vm.hoursDisabled }">
              <a ng-click="'hour' === groupByChoice.name && vm.hoursDisabled ? void(0) : vm.setGroupBy(groupByChoice.name)" translate>
                {{ groupByChoice.translation_label }}<br/>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="csv-export-block csv-time-period-selector">
        <div><small class="text-muted text-uppercase" translate>.SELECTTIMEPERIOD</small></div>
        <button
          type="button"
          class="btn btn-default date-range-dropdown"
          ng-click="vm.showDateRangePicker=!vm.showDateRangePicker">
          {{ vm.dateRange.start | amDateFormat: vm.dateFormat }} -
          {{ vm.dateRange.end | amDateFormat: vm.dateFormat }}
          <span class="caret" aria-hidden="true"></span>
        </button>
        <date-range-picker
          ng-show="vm.showDateRangePicker"
          align="left"
          selected-range="vm.dateRange"
          current-organization="vm.currentOrganization"
          date-format-mask="vm.dateFormat"
          organization-calendars="vm.organizationCalendars"
          language="vm.language"
          current-user="vm.currentUser"
          visible="vm.showDateRangePicker">
        </date-range-picker>
      </div>

    </div>
  </div>

  <metric-switch-selector
    current-organization="vm.currentOrganization"
    current-site="vm.currentSite"
    selected-metrics="vm.selectedMetrics"
    active-group="vm.activeGroup">
  </metric-switch-selector>

  <div
    class="row organization-csv-section export-site-picker"
    ng-include="'app/csv-export/partials/select-sites.partial.html'"
    ng-if="!vm.siteLevel">
  </div>

  <div
    class="row organization-csv-section export-area-picker"
    ng-include="'app/csv-export/partials/select-locations.partial.html'"
    ng-if="vm.siteLevel && vm.activeGroup === 'interior' && vm.hasSubscription('interior')">
  </div>

  <div
    class="row organization-csv-section export-zone-picker"
    ng-include="'app/csv-export/partials/select-zones.partial.html'"
    ng-if="vm.siteLevel && vm.activeGroup === 'perimeter' && vm.hasSubscription('perimeter')">
  </div>

  <sales-switch-selector
    ng-if="vm.showSalesCategories && vm.salesMeasureIsSelected"
    sales-categories="vm.salesCategories"
    selected-sales-categories="vm.selectedSalesCategories">
  </sales-switch-selector>

  <div class="row organization-csv-section csv-export-actions">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <button class="csv-export-action-export-csv btn btn-primary" ng-click="vm.doExport()" ng-disabled="!vm.canBeExported() || vm.numExportsInProgress > 0">
        <span ng-show="vm.numExportsInProgress === 0" translate>.EXPORTCSV</span>
        <span ng-show="vm.numExportsInProgress > 0" translate>.EXPORTING</span>
      </button>
      <button class="csv-export-action-schedule-report btn btn-primary" ng-click="vm.toggleSchedulingForm()" ng-disabled="!vm.canBeExported()" translate>.SCHEDULEREPORT</button>
      <button class="btn btn-default" ng-show="vm.formIsVisible" ng-click="vm.toggleSchedulingForm()" translate>.CANCEL</button>
      <span class="csv-export loading-spinner" ng-show="vm.numExportsInProgress > 0"></span>
    </div>
  </div>

  <ng-include src="'app/csv-export/partials/schedule-form.partial.html'"></ng-include>

  <ng-include src="'app/csv-export/partials/separator.partial.html'"></ng-include>

  <ng-include src="'app/csv-export/partials/active-exports.partial.html'"></ng-include>

</div>
