<div class="row login-form" ng-show="vm.loginFormIsVisible">
  <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 col-lg-4 col-lg-push-4">
    <!-- Form name attribute required by ShopperTrak's single sign-on system -->
    <form ng-submit="vm.handleLoginFormSubmit()" name="loginForm">
      <h1 class="page-header">Sign in</h1>
      <div class="form-group">
      <div class="error-box">
        <span class="error" ng-bind="vm.loginError"></span>
        <spam class="error" ng-bind="vm.missingFields"></spam>
      </div>
      <div class="form-group">
        <label>Username</label>
        <!-- Input name attribute required by ShopperTrak's single sign-on system -->
        <input ng-class=" { 'not-valid' : vm.usernameValidation } " class="form-control" type="text" name="username" ng-model="vm.username" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <!-- Input name attribute required by ShopperTrak's single sign-on system -->
        <input ng-class=" { 'not-valid' : vm.passwordValidation } " class="form-control" type="password" name="password" ng-model="vm.password" />
      </div>
      <!-- Input name attribute required by ShopperTrak's single sign-on system -->
      <button class="btn btn-primary" name="submitButton">Sign in</button>
      <div class="page-loading-indicator" ng-show="vm.isBusy"></div>
      </div>
    </form>
  </div>
</div>
