$power-hours-color-high: #64abe7;
$power-hours-color-medium: #aed3f1;
$power-hours-color-low: transparent;

.power-hours-widget {
  min-height: $widget-height;
}
.power-hours-table {
  width: 100%;
  font-size: $font-size-small;
  font-weight: bold;
  margin-bottom: 15px;
}
.power-hours-table td {
  width: 11.1111%;
  text-align: center;
  line-height: 21px;
}
.power-hours-table th,
.power-hours-table thead {
  text-transform: uppercase;
  color: $gray-light;
}
.power-hours-table thead {
  text-align: center;
}
.power-hours-table th {
  text-align: right;
  padding-right: 20px;
}
.power-hours-table td {
  background: linear-gradient( to bottom, $gray-lighter, #fff 4%, #fff );
  background-size: 100% 23px;
}

.power-hours-table .traffic-indicator span {
  display: block;
  height: 21px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: $power-hours-color-medium;
  color: $gray-dark;
}

.power-hours-table .traffic-indicator.has-low-traffic span {
  background-color: $power-hours-color-low;
}

.power-hours-table .traffic-indicator.has-high-traffic span {
  background-color: $power-hours-color-high;
}

.power-hours-table .traffic-indicator.has-medium-traffic span {
  background-color: $power-hours-color-medium;
}

.power-hours-table .summary-row td {
  background-color: transparent;
  border-top: 1px solid $gray-dark;
}

.power-hours-table-legend {
  font-size: $font-size-small;
  font-weight: bold;
  text-align:center;
}

.power-hours-table-legend-item {
  display: inline-block;
  padding:3px;
  margin-right:6px;

  &.medium-traffic {
    background-color: $power-hours-color-medium;
  }

  &.high-traffic {
    background-color: $power-hours-color-high;
  }
}
