<widget class="power-hours-widget" translate-namespace="powerHoursWidget">
  <widget-header icon="power-hours" widget-title="{{:: vm.widgetTitle}}" hide-export-icon="vm.hideExportIcon" disable-export="vm.exportIsDisabled"
    on-export-click="vm.onExportClick()" set-selected-widget="vm.setSelectedWidget()">
    <left>
      <div class="dropdown btn-group" ng-class="{ 'open' : optionDropdownIsOpen }">
        <button class="btn btn-default btn-xs dropdown-toggle" ng-click="optionDropdownIsOpen =!optionDropdownIsOpen" off-click="optionDropdownIsOpen = false">
          <span translate>{{'kpis.options.' + vm.selectedOption.name}}</span>
          <span class="caret" aria-hidden="true"></span>
        </button>

        <ul class="dropdown-menu">
          <li ng-repeat="option in vm.options  track by $index">
            <a href ng-click="vm.setOption(option)" translate>{{ ('kpis.options.' + option.name) }}</a>
          </li>
        </ul>
      </div>
    </left>
    <right>
      <sales-categories-selector
        ng-if="::!vm.isPdf"
        categories="::vm.currentOrganization.portal_settings.sales_categories"
        selected-categories="vm.salesCategories"
        multiple-select="false">
      </sales-categories-selector>
    </right>
  </widget-header>

  <widget-body>
    <div ng-if="vm.showNoData" class="error-message">
      <span translate>common.NODATA</span>
    </div>

    <div ng-if="!vm.dataIsLoading && !vm.totalsAreLoading && !vm.isColourLoading && (vm.requestForColorFailed || vm.requestFailed)" class="error-message">
      <span translate>common.DATAERROR</span>
    </div>

    <div ng-if="!vm.dataIsLoading && !vm.totalsAreLoading && !vm.isColourLoading && !vm.requestForColorFailed && !vm.requestFailed && vm.periodHasData">
      <table class="power-hours-table">
        <thead>
          <tr>
            <td>&nbsp;</td>
            <td ng-repeat="day in vm.days track by $index">
              {{:: day.key | translate }}
            </td>
            <td ng-if="vm.showTotalColumn" translate>.TOTAL</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="hourRow in vm.hours | orderBy: 'index' track by hourRow.index">
            <th>{{:: hourRow.yAxisLabel }}</th>
            <td ng-repeat="day in vm.days track by $index" class="{{vm.getColorClass(hourRow,day)}}">
              <span>
               {{ vm.getDayData(hourRow,day) | formatNumber : vm.selectedOption.metric.precision : vm.numberFormatName  }}
              </span>
            </td>
            <td ng-if="vm.showTotalColumn">
              <span>
                {{ vm.selectedOption.metric.prefixSymbol }}
                {{ hourRow.total | formatNumber : vm.selectedOption.metric.precision : vm.numberFormatName }}
                {{ vm.selectedOption.metric.suffixSymbol }}
              </span>
            </td>
          </tr>
          <tr class="summary-row">
            <th>
              <span ng-if="!vm.averageMetricSelected" translate>
                .DAILYTOTAL
              </span>
              <span ng-if="vm.averageMetricSelected" translate>
                .DAILYAVERAGE
              </span>
            </th>
            <td ng-repeat="day in vm.days track by $index">
              <span>
                {{ vm.selectedOption.metric.prefixSymbol }}
                {{ day.dailyTotal | formatNumber : vm.selectedOption.metric.precision : vm.numberFormatName }}
                {{ vm.selectedOption.metric.suffixSymbol }}
              </span>
            </td>
            <td ng-if="vm.showTotalColumn">
              <span>
                {{ vm.selectedOption.metric.prefixSymbol }}
                {{ vm.summedAverage | formatNumber : vm.selectedOption.metric.precision : vm.numberFormatName }}
                {{ vm.selectedOption.metric.suffixSymbol }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="power-hours-table-legend">
        <div class="power-hours-table-legend-item medium-traffic">
          {{ vm.lowThreshold*100 | formatNumber : 1 : vm.numberFormatName }}% &lt;= <span translate>.TRAFFIC </span> &lt; {{ ::vm.highThreshold*100 | formatNumber : 1 : vm.numberFormatName }}%
        </div>
        <div class="power-hours-table-legend-item high-traffic">
          {{ vm.highThreshold*100 | formatNumber : 1 : vm.numberFormatName }}% &lt;= <span translate>.TRAFFIC</span>
        </div>
      </div>
    </div>

    <div class="loader" ng-if="(vm.totalsAreLoading || vm.dataIsLoading) || vm.isColourLoading">
      <span translate>common.LOADING</span>
    </div>
  </widget-body>
</widget>
