$table-padding: 8px;

$search-col-width: 148px;
$metric-col-width: 110px;
$change-col-width: 56px;

$color-positive: #81AE09;
$color-negative: #F7522E;

.retail-organization-summary-widget {
  .panel-body {
    position: relative;
    padding: 15px 0 0 0;
    min-height: 580px;

    .dashboard__widget & {
      min-height:0 !important;
      margin-bottom:-35px;
      @include media-sm {
        margin-bottom:-21px;
      }
    }
  }

  .dt-body {
    height: 500px; // because lib defaults to 300px if scrollbar present
    width: 100%;
  }

  .widget-heading {

    .export-widget a {
      height: 26px;
    }

    .widget-actions {

      top: 0;

      .filter-label {
        color: #878889;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 5px;
        float: left;
        margin-top: 8px;
        margin-left:10px;
      }

      > button {
        font-size: 12px;
        line-height: 1;
        padding: 4px;

        &:focus {
          outline: 0;
        }
      }

      > ul.select {

        li > a {
          padding: 3px 20px 3px 32px;
        }
        li > a > i {
          float: left !important;
          margin: 2px 0 0 -22px;
          font-size: 80%;
          background: #21ABF7;
          padding: 2px;
          color: white
        }
        li.active > a {
          background-color: white;
          color: black;
        }
      }

      .btn {
        outline:none;
      }

      .kpi-dropdown {
        &:not(.btn-group) { margin-top: 0; }
        &.btn-group {  margin-top: 4px; }
        &.open { background:transparent; }
        .btn { padding: 1px 10px; }
        ul {
          padding: 0;
          li a {
            padding: 5px 10px !important;
          }
        }
      }
    }
  }
}

.retail-table {

  border-top: 1px solid $gray-lighter;

  /*
  .ps-container.ps-active-y > .ps-scrollbar-y-rail {
    background-color: #eee;
    border-radius: 0px;
    right: 2px;
    width: 2px;
  }

  .ps-container.ps-active-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: #201C1E;
    border-radius: 0px;
    right: 0;
    width: 2px;
  }
  */
}


.retail-organization-summary-widget {
  .dt-header-cell {
    .sort-btn {
      font-family: 'retailmanager-icons';
      font-size: 6pt;
    }

    .sort-btn.sort-desc {
      &:before {
        content: "\E022";
        color: $brand-primary;
      }
    }

    .sort-btn.sort-asc {
      &:before {
        content: "\E021";
        color: $brand-primary;
      }
    }
  }

  .dt-header-cell:first-of-type {
    .sort-btn {
    }

    .sort-btn.sort-desc {
      &:before {
        content: "";

      }
    }

    .sort-btn.sort-asc {
      &:before {
        content: "";

      }
    }
  }
}

// Loader for next page
.retail-organization-summary-widget {

  .dt-row-odd {
    background: #fafafa !important;
  }

  .dt-header {
    border-bottom: 1px solid $gray-lighter !important;

    .dt-header-cell {
      min-height: 70px;
      padding-top: 12px;
      border-left: 1px solid $brand-primary;
      //border-top: 1px solid $gray-lighter !important;
      //border-right: none !important;
      text-align: center;
      overflow: hidden;
      vertical-align: middle;
    }

    .dt-header-cell-label {
      padding-left: 30px;
      padding-right: 30px;
    }


    .dt-header-cell:first-of-type {
      border-left: 0;
      width: $search-col-width;
    }
  }

  .dt-header-cell:first-of-type {
    .dt-header-cell-label {
      padding-left: inherit;
      padding-right: inherit;
    }
  }

  .dt-cell:first-of-type {
    border-left: 1px solid $gray-lighter;
    flex: 110;
    width: $search-col-width;
    //max-width: 220px;
    //min-width: 80px;

    a {
      font-weight: normal;
      padding: 0 0 0 5px;
      text-decoration: none;
      color: black;
      background: transparent;

      &:hover {
        cursor: pointer;
      }
    }
  }


  .dt-body .dt-row {
  }

  .dt-row:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }

  .dt-body .dt-row:first-of-type {
    //border-top: 1px solid $gray-lighter !important;
  }

  .dt-header-cell {
    .metric-label {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .dt-cell {
    border-left: 1px solid $brand-primary;
    //border-bottom: 1px solid $gray-lighter !important;
    flex: 110;
    max-width: 220px;
    text-align: center;

    .td-change, .th-change {
      width: $change-col-width !important;

      .change-label {
        color: black;

        &.positive {
          color: $color-positive;
        }

        &.negative {
          color: $color-negative;
        }
      }
    }
  }

  .dt-cell:last-child,
  .dt-header-cell:last-child {
    border-right: 1px solid $gray-lighter !important;
  }

  .filter {
    width: 100%;
    display: flex;

    .filter-sites {
      border: 0;
      outline: none;
      padding: 4px 8px;
      width: 88%;
      float: left;
      box-sizing: border-box;
      color: gray;

      &.valid-chars {
        color: black;
      }
    }

    .sticon {
      width: 10%;
      display: block;
      float: right;
      font-size: 17px;
      color: $brand-primary;
      box-sizing: border-box;
      padding: 4px 4px 0 0;
    }
  }
}

.retail-organization-table {
  width: 100%;
  border-collapse: collapse;
  border-color: #e1e1e1;
}

.retail-organization-table thead,
.retail-organization-table tbody,
.retail-organization-table tr,
.retail-organization-table td,
.retail-organization-table th {
  display: block;
}

.site-link {
  display: block;
  max-height: 32px;
  overflow: hidden;
  top: 50%;
}

.site-name-label {
  color: inherit;
}

.site-name-label:before {
  content: "";
  position: relative;
  top: -1px;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  border-radius: 3px;
  vertical-align: middle;
  background-color: $gray-light;
}

.site-name-label--orange:before {
  background-color: #ff8200 !important;
}
.site-name-label--yellow:before {
  background-color: #ffc800 !important;
}
.site-name-label--purple:before {
  background-color: #c882ff !important;
}
.site-name-label--cyan:before {
  background-color: #00c8c8 !important;
}

.table-legend .site-name-label {
  margin-right: 6px;
  &::before {
    margin: 0 4px 0 8px;
  }
}

.table-legend {
  margin: 0px 0 15px;
  clear: both;
  overflow: auto;

  .site-name-label {
    float: left;
  }
}




@media screen and (min-width: 768px) and (max-width: 1200px) {
  .retail-organization-table-widget .widget-actions {
    width: 80%;
  }

  .dtable {
    .dt-header {
      min-width: 140px;

      &:first-child {
        min-width: 100px !important;
      }
      .sticon-sort {
        right: 15px;
      }
    }

    .dt-row .dt-header-cell {
      &:first-child {
        width: 100px !important;
      }
      &.sortable.colgroup-start {
        //min-width: 132px;
      }
      span {
        font-size: 11px;
      }
    }

    .dt-row .dt-header-cell {
      padding: 10px 5px 5px 5px;

      &.colgroup-start {
        min-width: 76px;
      }
      span {
        font-size: 13px;
      }
    }

    .site-name-label {
      font-size: 13px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .retail-table {
    .tablehead .tr .th .sticon-sort {
      right: 1px;
    }

    .dt-row .dt-header-cell.sortable.colgroup-start, .dt-row .dt-cell-content.colgroup-start {
      min-width: 35px;
    }
    .dt-row .dt-header-cell span, .dt-row .dt-cell-content span {
      font-size: 11px;
    }

    .dt-row .dt-cell-content {
      min-width: 40px;
    }

    .site-name-label {
      font-size: 12px;
    }
  }
}
