<widget class="retail-organization-summary-widget" translate-namespace="retailOrganization">

  <widget-header
    widget-title="{{:: 'retailOrganization.ORGANIZATIONSUMMARY' | translate}}"
    icon="{{::vm.widgetIcon}}"
    hide-export-icon="true"
    csv-export="true"
    on-csv-export-click="vm.exportToCSV()"
    disable-export="vm.exportIsDisabled"
    on-export-click="vm.onExportClick()"
    set-selected-widget="vm.setSelectedWidget()">
    <left>
      <span class="filter-label" translate>.SHOW</span>
      <span class="kpi-dropdown" ng-class="{ 'open' : isOpenCategory }">
        <button
          type="button"
          class="btn btn-xs btn-default dropdown-toggle"
          ng-click="isOpenCategory=!isOpenCategory"
          off-click="isOpenCategory = false">
          <span ng-show="vm.selectedCategory===''" translate>.ALLSTORES</span>
          <span ng-show="vm.selectedCategory===0" translate>.OUTOFSTOREOPPORTUNITY</span>
          <span ng-show="vm.selectedCategory===1" translate>.HIGHPERFORMERS</span>
          <span ng-show="vm.selectedCategory===2" translate>.INSTOREOPPORUNITY</span>
          <span ng-show="vm.selectedCategory===3" translate>.POORPERFORMERS</span>
          <span class="caret" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ng-click="vm.filterCategory('')" translate>.ALLSTORES</a></li>
          <li><a ng-click="vm.filterCategory(0)" translate>.OUTOFSTOREOPPORTUNITY</a></li>
          <li><a ng-click="vm.filterCategory(1)" translate>.HIGHPERFORMERS</a></li>
          <li><a ng-click="vm.filterCategory(2)" translate>.INSTOREOPPORUNITY</a></li>
          <li><a ng-click="vm.filterCategory(3)" translate>.POORPERFORMERS</a></li>
        </ul>
      </span>

      <span class="filter-label" translate>.METRICS</span>
      <span class="kpi-dropdown">
        <multi-select-list
        options="vm.metrics"
        selected-items="vm.selectedMetrics"
        id-property="value"
        title-property="shortTranslationLabel"
        max-length="5"
        min-length="1"
        max-length-message="{{:: 'retailOrganization.SELECT5ORFEWER' | translate }}"
        placeholder="{{:: 'retailOrganization.SELECTMETRICS' | translate }}"
        translate-titles="::vm.trueVal"
        debounce-delay="1000"
        dropdown-class="'btn-xs'">
        </multi-select-list>
      </span>
      <span class="filter-label" translate>.COMPARE</span>
      <span class="kpi-dropdown btn-group" ng-class="{ 'open' : isOpenCompare }">
        <button
          type="button"
          class="btn btn-xs btn-default dropdown-toggle"
          ng-click="isOpenCompare=!isOpenCompare"
          off-click="isOpenCompare = false" >
          <span translate>
            {{vm['compareLabel' + vm.comparisonIndex]}}
          </span>
          <span class="caret" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu" >
          <li ng-repeat="compareIndex in ::vm.comparisonIndices track by compareIndex">
            <a ng-click="vm.changeCompare(compareIndex)" translate>{{::vm['compareLabel' + compareIndex]}}</a>
          </li>
        </ul>
      </span>
    </left>
    <right>
        <sales-categories-selector
        ng-if="::!vm.hideSalesCategories"
        categories="::vm.currentOrganization.portal_settings.sales_categories"
        disabled="vm.isLoading"
        selected-categories="vm.salesCategories">
        </sales-categories-selector>
    </right>
  </widget-header>


  <widget-body>
    <div
      class="table-responsive"
      ng-if="vm.isLoading === false && vm.selectedMetrics.length <= 5 && vm.selectedMetrics.length > 0">

      <div ng-if="!vm.requestFailed && !vm.pageIsLoading && vm.tableData.length === 0"
           class="text-center error-message">
        <span translate>common.NODATA</span>
      </div>

      <div
        ng-if="vm.requestFailed"
        class="text-center error-message">
        <span translate>common.DATAERROR</span>
      </div>

      <div
        class="text-center vertical-center"
        ng-show="vm.selectedMetrics.length === 0 || vm.selectedMetrics.length > 5">
        <div translate>.SELECT15METRICS</div>
      </div>

      <summary-table
        cols="vm.options.columns"
        data="vm.tableData"
        number-format-name="::vm.numberFormatName"
        filter-text="vm.filterText">
      </summary-table>

    </div>
    <div ng-if="vm.isLoading" class="loader page-loader">
      <span translate>common.LOADING</span>
    </div>
  </widget-body>
</widget>
