<form
  class="form"
  name="dashboardHeaderForm"
  autocomplete="off"
  novalidate>
  <header class="dashboard__header row">

    <h1 class="dashboard__title "
      ng-switch="vm.editMode">
      <i title="{{ ::vm.dashboard.name }}" class="sticon sticon-dashboard" aria-hidden="true"></i>
      <div ng-switch-when="true" class="dashboard__title__edit-title">
        <input
          ng-model="vm.editDashboardName"
          ng-maxlength="vm.dashboardNameMaxlength"
          blacklisted-values="vm.dashboardNameBlacklist"
          blacklisted-characters="special"
          type="text"
          class="form-control input"
          spellcheck="false"
          name="editDashboardName"
        />
        <small
          ng-class="{ 'show': dashboardHeaderForm.editDashboardName.$error.required }"
          class="validation-feedback"
          translate>
            formValidation.THISFIELDISREQUIRED
          </small>
        <small
          ng-class="{ 'show': dashboardHeaderForm.editDashboardName.$error.maxlength }"
          class="validation-feedback"
          translate>
            formValidation.THISFIELDISTOOLONG
          </small>
        <small
          ng-class="{ 'show': dashboardHeaderForm.editDashboardName.$error.blacklistedCharacters }"
          class="validation-feedback"
          translate>
            formValidation.THISFIELDCONTAINSINVALIDCHARACTERS
          </small>
        <small
          ng-class="{ 'show': dashboardHeaderForm.editDashboardName.$error.blacklistedValues }"
          class="validation-feedback"
          translate>
            customDashboard.DASHBOARDALREADYEXISTS
          </small>
      </div>
      <span ng-switch-when="false" class="text">{{::vm.dashboard.name}}</span>
    </h1>

    <aside class="dashboard__header__buttons">

      <div
        ng-show="vm.saveLoadingIcon || vm.deleteLoading"
        class="saveMessage">
        <p>{{vm.workingText}}</p>
        <div class="loader"><span></span></div>
      </div>

      <p
        ng-show="vm.dashDateRange !== 'customCompare.SELECTDATEPERIODS' && !vm.editMode" class="dashboard__header__buttons__default-range">
        <span translate>customDashboard.PAGEDEFAULT</span>:
        <span translate>{{vm.dashDateRange}}</span>
      </p>

      <button ng-if="!vm.editMode && !vm.saveLoadingIcon" ng-click="vm.edit()" class="btn btn-primary">
        <i class="sticon sticon-settings" aria-hidden="true"></i>
        <translate>common.EDIT</translate>
      </button>

      <button
        ng-if="vm.editMode"
        ng-click="vm.saveChanges()"
        ng-disabled="vm.saveLoadingIcon || dashboardHeaderForm.editDashboardName.$pristine === false && (dashboardHeaderForm.$invalid === true || vm.editDashboardName === '')"
        class="btn btn-primary">
        <i class="sticon sticon-check-small" aria-hidden="true"></i>
        <translate>admin.SAVECHANGES</translate>
      </button>

      <div class="dropdown dashboard__header__buttons__date-control">
        <button
          ng-if="vm.editMode"
          ng-disabled="vm.saveLoadingIcon || dashboardHeaderForm.editDashboardName.$pristine === false && (dashboardHeaderForm.$invalid === true || vm.editDashboardName === '')"
          type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          <span translate>{{vm.dashDateRange}}</span> <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          <li ng-repeat="range in vm.dateRangeTypes track by range.transKey">
            <a href="" ng-click="vm.date = {range}; vm.setAllDateRanges(range)" translate>{{::range.transKey}}</a>
          </li>
        </ul>

      </div>

      <button
        ng-if="vm.editMode"
        ng-click="vm.deleteDashboard(vm.dashboard)"
        ng-disabled="vm.saveLoadingIcon"
        class="btn btn-default">
        <translate>common.DELETE</translate>
      </button>

      <button
        ng-if="vm.editMode"
        ng-click="vm.cancelEdit()"
        class="btn btn-default"
        ng-disabled="vm.saveLoadingIcon">
        <translate>common.CANCEL</translate>
      </button>

    </aside>

  </header>
</form>
