<header class="dashboard__widget__pre-header">
  <div class="widgetDetails clearfix">
    <p title="{{ ::widget.orgName }}{{ widget.siteName ? '/ ' + widget.siteName : ''}}{{ widget.zone.name ? '/ ' + widget.zone.name : ''}}{{ widget.location.description ? '/ ' + widget.location.description : ''}} – {{ widget.timePeriod.tranString | translate}} {{widget.timePeriod.period}}">
      <span class="text org">{{ ::widget.orgName }}</span>
      <span class="text site">{{ widget.siteName ? '/ ' + widget.siteName : ''}}</span>
      <span class="text zone">{{ widget.zone.name ? '/ ' + widget.zone.name : ''}}</span>
      <span class="text location">{{ widget.location.description ? '/ ' + widget.location.description : ''}}</span>
      <span ng-show="!vm.editMode" class="text period">{{ widget.timePeriod.tranString | translate}} {{widget.timePeriod.period}}</span>
    </p>
    <div class="pull-right period--edit dateSelector dropdown inline-block multi-select-list" ng-show="vm.editMode">
      <button type="button" class="btn btn-capsule btn-xs" aria-expanded="false"  ng-if="widget.isHourly" disabled>
        <span translate>{{widget.timePeriod.tranString}}</span>
      </button>
      <button type="button" class="btn btn-capsule btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  ng-if="!widget.isHourly">
        <span ng-model="widget.date" translate>{{widget.date.range.transKey || widget.timePeriod.tranString }}</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="range in widget.dateRangeTypes track by range.transKey">
          <a href="" ng-click="widget.date = {range}; widget.newRange = widget.date.range;" translate>{{::range.transKey}}</a>
        </li>
      </ul>
    </div>
  </div>
  <aside ng-show="vm.editMode" class="pull-right">
    <div class="editButtons">
      <article class="pull-left margin-right-5 margin-left-5 hidden">
        <button class="btn btn-default  dropdown-toggle " type="button" title="Edit" ng-click="vm.editWidget(widget.summaryKey)">
          <span class="sticon sticon-edit" aria-hidden="true"></span>
        </button>
      </article>
      <article class="pull-right margin-right-5 padding-right-7">
        <button class="btn btn-default" type="button" title="Delete" ng-click="vm.deleteWidget($index)" ng-show="!vm.saveLoadingIcon">
          <span class="sticon sticon-delete-small" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default" type="button" title="Delete" ng-click="vm.deleteWidget($index)" ng-show="vm.saveLoadingIcon"
          disabled>
          <span class="sticon sticon-delete-small" aria-hidden="true"></span>
        </button>
      </article>
    </div>
  </aside>
</header>
