.admin-site-edit {
  >.action-bar {
    display: block;
    .osm-icon {
      padding: 0 14px;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-top: -33px;
      margin-left: 200px;
    }
  }
  h1 {
    display: inline-block;
  }
  .sticon-refresh-small {
    padding-top: 7px;
  }
  .site-no-values {
    text-align: center;
    display: none;
  }
  .site-details {
    display: flex;
  }
  .custom-tags-td {
    width: 45%;
  }
  .site-details-spacing {
    margin-right: 25px;
  }
  .site-subscriptions {
    .row {
      margin: 0;
    }
    .options {
      display: flex;
      flex-flow: row wrap;
      text-transform: capitalize;
      >.option {
        flex: initial;
        padding: 9px 9px 9px 0;
        box-sizing: border-box;
        display: flex;
        >h3 {
          margin: 0 0 0 9px;
          padding-top: 2px;
        }
      }
    }
  }
  h2 {
    font-size: 18px;
    color: $gray-light;
  }
  h3 {
    font-size: 14px;
    font-weight: bold;
    color: #4c4a4b;
  }
  .site-custom-tags-btn {
    margin-right: 5px;
    background-color: #0AAAFF;
    border: none;
    outline: 0;
    border-radius: 50%;
    padding: 0.1em;
    width: 30px;
    height: 30px;
    color: white;
  }
  .site-custom-tags-table {
    background-color: white;
    margin-top: 20px;
    .site-custom-tags-table-buttons {
      margin-right: 10px;
      cursor: pointer;
    }
    .site-custom-tags-table-delete {
      background-color: #D73E2E;
      padding: 5px;
      border-radius: 50%;
      font-size: 10px;
      color: $white;
      top: -1px;
    }
    .site-custom-tags-table-edit {
      color: #0AAAFF;
    }
  }
  .custom-tags {
    margin-top: 20px;
    h2 {
      display: inline;
      padding-right: 10px;
    }
    .site-tags-sort {
      color: #62C7FF;
      cursor: pointer;
    }
    .custom-tags-header {
      margin-right: 3px;
    }
  }
  .site-time-settings,
  .site-timeouts {
    .metrics {
      display: flex;
      flex-flow: row wrap;
      >.metric {
        flex: initial;
        min-width: 300px;
        padding: 9px 9px 9px 0;
        display: block;
        >h3 {
          margin: 0 9px 0 0;
          line-height: 38px;
          min-width: 190px;
          text-align: left;
        }
        >input {
          width: 80px;
          padding: 0 6px;
        }
      }
    }
    .metrics.usage-of-areas>.metric {
      >h3 {
        min-width: 190px;
      }
    }
  }
  .org-osm-upload {
    margin-top: 20px;
  }
  .osm-table {
    section {
      margin-bottom: 10px;
    }
    input[type="file"] {
      display: inline;
    }
    input[type="number"] {
      width: 50px;
      margin-right: 10px;
    }
    .osm-list {
      margin-bottom: 20px;
    }
    .remove-osm {
      .sticon-delete-small {
        background-color: #D73E2E;
        padding: 5px;
        border-radius: 50%;
        font-size: 10px;
        color: $white;
        top: -1px;
      }
    }
  }
}
