<div class="admin-site-edit">

  <div class="alert alert-success" ng-if="vm.saveSuccessful" translate>
    .SAVESUCCESSFUL
  </div>

  <div class="alert alert-danger" ng-if="vm.saveFailed">
    <span translate>.ERROR</span>: {{ ::edit.errorMessage }}
  </div>

  <div class="action-bar">

    <h1>{{ vm.site_Name }}</h1>

    <button ng-hide="true" ng-click="vm.resetToOrgDefaults()" type="button" class="btn btn-secondary disabled pull-right" translate>
      .RESETTOORGDEFAULTS
    </button>

    <div class="refresh-all-action pull-right" ng-click="vm.refresh()">
         <span class="icon icon-refresh">
           <span class="sticon sticon-refresh-small"></span>
         </span>
         <span class="label-text" translate>.REFRESH</span>
    </div>
  </div>

  <div class="site-details">
    <div class="site-details-spacing"><p><b>ID:</b> {{ ::vm.site_Id }}</p></div>
    <br/>
    <div><p><b>Type:</b> {{ ::vm.site_Type }}</p></div>
  </div>

  <div ng-hide="true" class="site-subscriptions">
    <h2 translate>subscription.SUBSCRIPTIONS</h2>
    <div class="row options">
      <div class="col-xs-12 col-sm-6 col-md-4 option" ng-repeat="(key, value) in vm.siteSubscriptions" ng-if="key !== 'large_format_mall'">
        <ui-switch chosen="vm.siteSubscriptions[key]"></ui-switch>
        <h3>{{ 'subscription.' +  key | translate }}</h3>
      </div>
    </div>
  </div>

<div class="custom-tags">
  <div>
    <delete-custom-tags-modal message="vm.deleteMessage" delete-item="vm.confirmSiteDeleteTag()"></delete-custom-tags-modal>
    <h2 translate>.CUSTOMTAGS</h2>
    <button class="site-custom-tags-btn btn" ng-click="vm.addSiteCustomTag()" type="button" ng-disabled="!vm.orgTagsExists">
      <span class="icon icon-add">
        <span class="sticon sticon-add"></span>
      </span>
    </button>
    <span class="text-muted" translate>.ADDNEW</span>
    <div>
      <div id="noTagsMessage" class="error-message red small site-no-values" >
        <span>This site does not have any custom tags set by the Organisation</span>
      </div>
      <br/>
      <div ng-if= "vm.tagExists" class="alert alert-danger">Tag Exists</div>
      <div class="table-responsive site-custom-tags-table">
        <form>
          <table class="table">
            <thead>
              <tr>
                <th class="site-tags-sort" ng-click="vm.reverseTable()">
                  <span class="custom-tags-header">Tag name</span>
                  <span class="sticon sticon-arrow-right ng-scope" ng-class="{ reverse: vm.sortReverse }">
                  </span>
                </th>
                <th>Values</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tr ng-repeat="customTag in vm.siteCustomTags">
              <td class="custom-tags-td">
                <div ng-hide="vm.siteCustomTags[$index].siteCustomTagEditMode">
                  <p>{{ vm.siteCustomTags[$index].orgTagType }}</p>
                </div>
                <div ng-show="vm.siteCustomTags[$index].siteCustomTagEditMode" >
                  <select class="form-control" ng-model="vm.siteCustomTags[$index].orgTagType" ng-options="tag.orgTagType for tag in vm.customTags track by tag._id" ng-change="vm.selectedCustomTagChanged($index)" placeholder="Tag Type" required>
                    <option value="" translate>.PLEASECHOOSE</option>
                  </select>
                </div>
              </td>
              <td class="custom-tags-td">
                <div ng-hide="vm.siteCustomTags[$index].siteCustomTagEditMode">
                  <p>{{ vm.siteCustomTags[$index].orgTagValue }}</p>
                </div>

                <div ng-show="vm.siteCustomTags[$index].siteCustomTagEditMode">
                  <select class="form-control"  ng-model="vm.siteCustomTags[$index].orgTagValue"  ng-options="value.name for value in vm.selectedCustomTagValues track by value._id" ng-change="vm.saveSelectedCustomTag($index)" placeholder="Tag Value" required>
                    <option value="" translate>.PLEASECHOOSE</option>
                  </select>
                </div>
              </td>
              <td class="org-actions">
                <span class="btn" ng-click="vm.showSiteCustomTagDeleteModal($index)" data-title="{{ 'admin.DELETECUSTOMTAG' | translate }}" bs-tooltip>
                  <span class="sticon sticon-delete-small"></span>
                </span>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="site-time-settings">

  <form name="dwellTimeForm" novalidate>
    <h2 translate>.TIMEOUT</h2>
    <p/>

    <section class="metrics">

      <div class="metric">
        <h3>Shopper vs. Others</h3>
        <br/>
        <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.shoppers_vs_others" name="default_value" min="0" />
      </div>

      <div class="metric">
        <h3>Usage of Areas</h3>
        <p>(default value)</p>
          <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.usage_of_areas.default_value" name="default_value" min="0" />
      </div>

      <div class="metric">
        <h3>Usage of Areas</h3>
        <p>Traffic Percentage Correlation</p>
          <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.usage_of_areas.traffic_percentage_correlation" name="default_value" min="0" />
      </div>

      <div class="metric">
        <h3>Usage of Areas</h3>
        <p>First Visits</p>
          <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.usage_of_areas.first_visits" name="default_value" min="0" />
      </div>

      <div class="metric">
        <h3>Usage of Areas</h3>
        <p>One and Done</p>
          <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.usage_of_areas.one_and_done" name="default_value" min="0" />
      </div>

      <div class="metric">
        <h3>Usage of Areas</h3>
        <p>Locations After</p>
        <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.usage_of_areas.locations_after" name="default_value" min="0" />
      </div>

      <div class="metric">
        <h3>Usage of Areas</h3>
        <p>Locations Before</p>
            <input type="number" ng-pattern="vm.onlyPositiveNumbers" ng-model="vm.dwell_time_threshold.usage_of_areas.locations_before" name="default_value" min="0" />
      </div>

    </section>
  </form>

</div>

    <div class="org-osm-upload action-bar org-users-action-bar icon-plus">
      <h1 translate>.UPLOADOSM</h1>
      <div class="osm-add-more add-new-action osm-icon" ng-click="vm.addNewOSM()">
      <span class="icon icon-add">
        <span class="sticon sticon-add"></span>
      </span>
        <span class="label-text" translate>.ADDOSM</span>
      </div>
    </div>

    <div class="osm-table">

      <div class="osm-list" ng-repeat="osm in vm.osm track by $index">
        <section>
          <label for="floor" translate>.FLOOROPTIONAL</label>
          <input type="number" size="10" ng-model="osm.floor" />

          <label for="file" translate>.UPLOADFILE</label>
          <input type="file" ngf-select ngf-drop ngf-drag-over-class ng-model="osm.file" />

          <span class="icon icon-remove remove-osm" ng-click="vm.removeOSM($index)" data-title="Remove OSM File" bs-tooltip>
          <span class="sticon sticon-delete-small"></span>
        </span>

          <div class="add-org-error alert alert-danger" ng-if="osm.hasError">
            <span><span translate>.OSMUPLOADERROR</span> {{ osm.errorMessage }}</span>
          </div>
          <div class="add-org-success alert alert-success" ng-if="osm.successful">
            <span translate>.UPLOADSUCCESSFUL</span>
          </div>
        </section>
      </div>

      <section class="actions">
        <button ng-click="vm.uploadOSMFile()" type="button" class="btn btn-primary" translate>
          .UPLOAD
        </button>
      </section>
    </div>

<br/>
<br/>

<div>

  <section class="actions">
    <button ng-click="vm.saveChanges()" type="button" class="btn btn-primary" translate>
      .SAVE
    </button>

    <button ng-click="vm.cancel()" type="button" class="btn btn-default" translate>
      .CANCEL
    </button>
  </section>
<br/>
<br/>
</div>

</div>
