.sales-summary-table-widget,
.traffic-contribution-table-widget {
  min-height:200px;

  .pdf-export & {
    min-height: inherit !important;

    thead, tfoot {
      display: table-row-group; // Should fix wkhtmltopdf duplicated table header
    }
  }

  .table {
    width:99.9%;
    border: 1px solid $gray-lighter !important;

    th.colgroup-start,
    td.colgroup-start {
      border-left: 1px solid #21ABF7 !important;
    }

    thead > tr > th {
      vertical-align: middle;

      &.border-right {
        border-right: 1px solid #ddd;
      }

      &.sortable {
        cursor:pointer;
        &:hover {
          color:$gray-darker !important;
        }
      }

      &.fixed-width-25 {
        width:25%;
      }

      &.fixed-width-10 {
        width:10%;
      }

      small {
        font-weight:400;
      }

      input {
        font-weight:400;
        outline:none;
      }
    }
    tbody tr td {
      font-weight:700;
    }
    tbody > tr > th {
      font-weight:400;
      color: #222;
      border-top: 1px solid $gray-lighter !important;
      border-right: 1px solid $gray-lighter !important;

      a {
        color:#333;
        text-decoration:none;
        &:hover {
          color:#777;
        }
      }
    }
  }

  .trend-indicator-positive {
    color: $brand-success;
  }
  .trend-indicator-negative {
    color: $brand-danger;
  }
  .zone-name-label {
    display: block;
    padding: 0 0 0 7px;
    color: inherit;
  }
  .zone-name-label::before {
    content:"";
    position: relative;
    top: -1px;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 5px;
    border-radius: 3px;
    vertical-align: middle;
  }
  .zone-name-label.zone-name-label--gray::before {
    background-color: $gray-light;
  }
  .zone-name-label.zone-name-label--green::before {
    background-color: $brand-success;
  }
  .zone-name-label.zone-name-label--red::before {
    background-color: $brand-danger;
  }
  .zone-name-label.zone-name-label--orange::before {
    background-color: $brand-warning;
  }
  .zone-name-label.zone-name-label--blue::before {
    background-color: $brand-primary;
  }

  // PDF output Fixes:
  .pdf-export & {
    // Filter text input:
    input[type=text] {
      border: none;
    }

    .zone-table th.fixed-width-10 {
      width:12% !important;
    }
  }
}

.traffic-contribution-table-widget {
  min-height: $widget-height;

  .dashboard__widget & {
    min-height: inherit;

    .panel-body {
      padding:0;
      border:0;
      margin-bottom:-20px;
    }

    .table {
      border:0 !important;
      margin-bottom:0;
    }
  }
}

.traffic-contribution-table-widget .widget-heading {
  .widget-actions {
    top: 0;

    .filter-label {
      color: #878889;
      font-size: 12px;
      text-transform: uppercase;
      padding: 0 5px;
      float: left;
      margin-top: 8px;
      margin-left:10px;
    }

    > button {
      font-size: 12px;
      line-height: 1;
      padding: 4px;

      &:focus {
        outline: 0;
      }
    }

    > ul.select {

      li > a {
        padding: 3px 20px 3px 32px;
      }
      li > a > i {
        float: left !important;
        margin: 2px 0 0 -22px;
        font-size: 80%;
        background: #21ABF7;
        padding: 2px;
        color: white
      }
      li.active > a {
        background-color: white;
        color: black;
      }
    }

    .btn {
      outline:none;
    }

    .kpi-dropdown {
      &:not(.btn-group) { margin-top: 0; }
      &.btn-group {  margin-top: 4px; }
      &.open { background:transparent; }
      .btn { padding: 1px 10px; }
      ul {
        padding: 0;
        li a {
          padding: 5px 10px !important;
        }
      }
    }
  }
}





