<div>
  <div class="toolbar-label"><small translate>.SELECTZONE</small></div>
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-default zone-selector"
      zone-navigation-popover
      zones="zones"
      active-zone-id="currentZone.id">
      <span class="title" ng-show="!currentZone" translate>.PROPERTYOVERALL</span>
      <span class="title" ng-show="currentZone">{{ currentZone.name }}</span>
      <span class="caret" aria-hidden="true"></span>
    </button>
  </div>
</div>
