<div class="summary-widget-wrapper">
  <widget class="mi-summary-widget">
    <widget-header
      widget-title="Trend Summary"
      icon="performance"
      hide-export-to-custom-dashboard-icon="true"
      disable-export="vm.exportIsDisabled"
      on-export-click="vm.onExportClick()"
      hide-mi-settings-icon="false">
      <right>
        <div class="pull-right export-widget inline-block">
          <a ng-click="vm.segmentSettings()">
            <span class="sticon sticon-settings" aria-hidden="true"></span>
          </a>
        </div>
      </right>
    </widget-header>

    <widget-body>
      <div class="loader" ng-show="vm.isLoading === true">
        <span translate>common.LOADING</span>
      </div>

      <div
        ng-if="vm.isLoading === false && vm.requestFailed === true"
        class="col-xs-12 text-center error-message">
          <span translate>common.ERROR</span>
      </div>

      <div
        ng-if="vm.isLoading === false && vm.hasData === false"
        class="col-xs-12 text-center error-message">
          <span translate>common.NODATA</span>
      </div>
      <div ng-if="vm.isLoading === false && vm.hasData === true && vm.requestFailed === false">
        <div class="segment-section" ng-repeat="segment in ::vm.kpiSegmentsArray track by $index">
          <segment-section-widget
            segment-geography-name="::segment.geographyName"
            segment-market-index-change="::segment.marketIndexChange"
            segment-org-index-change="::segment.orgIndexChange"
            segment-market-index-color="::segment.marketIndexColor"
            segment-org-index-color="::segment.orgIndexColor"
            segment-org-name="::segment.orgName"
            segment-market-icon-class="::segment.marketIconClass"
            segment-org-icon-class="::segment.orgIconClass"
            number-format-name="::vm.numberFormatName"
            segment-index-error-message="::segment.indexErrorMessage"
            segment-org-error-message="::segment.orgErrorMessage"
            show-org-index="::vm.showOrgIndex">
          </segment-section-widget>
        </div>
      </div>

    </widget-body>
  </widget>
</div>
