.admin-modal-delete-customtags {
  background-color: #EDEBEB;
  .close {
    font-size: 45px;
    box-shadow: none;
  }
  .exclamation-mark {
    text-align: center;
    display: block;
    margin: 20px 0 -10px 0;
    color: #BCB9B9;
    font-size: 70px;
  }
  .modal-body {
    >label {
      text-align: center;
    }
    .h1 {
      margin-top: 0px;
    }
    padding: 0px;
    margin: auto;
    text-align: center;
  }
  .modal-footer {
    text-align: center;
    padding-bottom: 20px;
    border-top: 0px;
  }
  .modal-header {
    padding-top: 15px;
    border-bottom: 0px;
  }
  .delete-btn {
    background-color: #0AAAFF;
    color: white;
  }
}
