.comparison-chart-container {
  height: 380px;
}
.comparison-widget-chart {
  display: block;
  height: 100%;
}
.comparison-widget-chart .ct-chart {
  height: 100%;
}
.comparison-widget .comparison-chart-tooltip table tbody th {
  font-weight: normal;
  white-space: nowrap;
}
.comparison-widget .comparison-chart-tooltip table tbody td {
  font-weight: bold;
}
.comparison-widget .location-list-controls {
  margin-bottom: 15px;
}
.comparison-widget .clear-icon {
  font-size: 10px;
  color: $brand-primary;
}
.comparison-widget .location-list {
  margin-bottom: 20px;
}
.comparison-widget .location-list li {
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
}
.comparison-widget .location-list li:before {
  content: "";
  position: relative;
  top: 0px;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background-color: $gray-light;
  border-radius: 6px;
}
@for $i from 1 through length($chart-colors) {
  .comparison-widget .location-list li:nth-child(#{$i}):before {
    background-color: nth($chart-colors, $i);
  }
}

.comparison-widget .no-data-icon {
  color:$brand-danger;
  vertical-align: top;
  padding-top: 2px;
}
.comparison-widget .remove-location {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 10px;
  color: #fff;
  background-color: $gray-light;
  border-radius: 2px;
  opacity: 0.7;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-weight: normal;
}
.comparison-widget .remove-location:hover {
  opacity: 1;
}

.comparison-widget .import-locations {
  margin-left:15px;
}

.import-location-item {
  cursor:pointer;
}
