$table-comparison-widget-border-color: 0.85 * $gray-lighter;

.table-comparison-widget {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.table-comparison-widget .data-table {
  table-layout: fixed;
  border-bottom: 1px solid $table-comparison-widget-border-color
}

.table-comparison-widget .table-header .table-cell {
  border-top: 1px solid $table-comparison-widget-border-color;
  border-bottom: 1px solid $table-comparison-widget-border-color;
  background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0));
}
.table-comparison-widget .table-header .corner-cell {
  border-left: none;
  border-top: none;
  background: transparent;
}

.table-comparison-widget .table-cell {
  min-width: 160px;
  width: 160px;
  height: 50px;
  padding: 0 14px;
  text-align: center;
  border-left: 1px solid $table-comparison-widget-border-color;
}
.table-comparison-widget .table-cell + .table-cell {
  border-right: 1px solid $table-comparison-widget-border-color;
}

.table-comparison-widget .table-header-cell {
  font-size: $font-size-small;
  text-align: left;
  font-weight: bold;
}

.table-comparison-widget .table-body .table-row:nth-child(odd) {
  background-color: #ffffff;
}
.table-comparison-widget .table-body .table-row:nth-child(even) {
  background-color: transparent;
}

.table-comparison-widget .report-value {
  font-weight: bold;
}
.table-comparison-widget .report-value + .report-value:before {
  content: ' / ';
}
.table-comparison-widget .comparison-values {
  font-size: $font-size-small;
  color: $gray-light;
}
.table-comparison-widget .comparison-values:before {
  content: '(';
}
.table-comparison-widget .comparison-values:after {
  content: ')';
}
.table-comparison-widget .comparison-value + .comparison-value:before {
  content: ' / ';
}

.table-comparison-widget .add-column {
  color: $brand-primary;
  text-transform: uppercase;
  cursor: pointer;
}
