.traffic-per-weekday-widget {

 .panel-body {
    min-height: 340px;
    position: relative;
    padding: 0 !important;
  }

  .select-chart-metric-dropdown .dropdown-toggle  {
    margin:4px 0 0 5px;
  }

  &-chart-area {
    height: 300px;
    padding-top: $padding-base-vertical*2;

    // Fix clipping in PDF exports
    .pdf-export & {
      padding: $padding-base-vertical*2;
    }
  }

  /*------------------------------------------------------------------------------
    Chart
  ------------------------------------------------------------------------------*/
  &-chart-container {
    height: 100%;
    padding: 0;
    margin-bottom: 50px;
  }

  .ct-chart {
    height: 100%;
  }

  .ct-bar {
    stroke-width: 6px !important;
  }

  .ct-grid.ct-vertical {
    stroke-dasharray: 0;
  }

  .chart-legend {
    margin-left: 10px;
  }

  .chart-legend-label {
    line-height:1;
  }

  .chart-legend-label .label-strong {
    font-weight:600;
  }

  .is-bar-chart-as-line-chart {

    // KLUDGE: This is a chartist workaround for centering labels on line charts. Seriously:
    .ct-label.ct-horizontal {
      /* autoprefixer off */
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      text-align: center !important;
      display:inline-block;
    }
    .ct-grids.ct-grids {
      /* autoprefixer off */
      transform-origin: 0 0 !important;
      -webkit-transform-origin: 0 0 !important;
      transform: scaleX(1.5) translateX(-50px) !important;
      -webkit-transform: scaleX(1.5) translateX(-50px) !important;
    }
    .ct-chart::after {
      content:'';
      display:block;
      width:30px;
      height:calc(100% - 30px);
      background:#fff;
      // background: red; // uncomment to see what this is actually doing :|
      right:0;
      top:0;
      position:absolute;
    }

    // KLUDGE: wkhtmltopdf fixes, TODO: Remove after PhantomJS
    .pdf-export & {
        .ct-label.ct-vertical {
          margin-left: -50px !important;
        }
        .ct-label.ct-horizontal {
          margin-left: -22px !important;
        }
    }
  }


  /*------------------------------------------------------------------------------
    Table
  ------------------------------------------------------------------------------*/
  &-table-area {
    @include media-up-to-sm {
      display:none;
    }
  }

  &-table {
    width: 100%;
    font-size:13px;
    border-left:none;
    border-right:none;
    border-color: $gray-lighter;
    height: auto;

    .dashboard__widget.widget-layout-2x & {
      display:none;
    }

    .colgroup-start {
      border-left: 1px solid $brand-primary !important;
    }
    .colgroup-end {
      border-right: none;
    }

    thead {
      tr {
        th {
          border:1px solid darken($gray-lighter,5%);
          padding: 8px;
          text-transform:uppercase;
          font-weight:600;


          &:first-child {
            border-left:none;
          }
          &:last-child {
            border-right:none;
          }

          a {
            color: #000;

            &:hover {
              text-decoration: none;
              color: #555;
            }
          }

          &.sortable {
            a {
              display: block;
              height: 24px;
              width: 100%;
              padding-top: 3px;
              cursor: pointer;
            }
          }

          &.active a {
            color: $brand-primary;
          }

          &.weekday-column {
            width: 6%;
          }
          &.kpi-name-column {
            width: 6.5%;
          }
          &.kpi-change-column {
            width: 2%;
          }


        }
      }
    }
    tbody {
      tr {
        &:last-child > td {
          border-bottom-color: black;
        }
        td {
          border:1px solid darken($gray-lighter,5%);
          padding: $padding-base-vertical $padding-base-vertical;

          &:first-child {
            border-left:none;
          }
          &:last-child {
            border-right:none;
          }

          &.colgroup-start {
            border-left: 1px solid $brand-primary !important;
          }
          &.average-row {
            border-top: 1px solid black;
          }
          &.average-head {
            text-transform:uppercase;
            color:$gray-light;
            font-weight:bold;
          }
        }
      }
    }

    td {
      &.positive {
        color: $brand-success;
      }

      &.negative {
        color: $brand-danger;
      }
    }
    tfoot > tr > td {
      border-color: $gray-lighter;
      border-top-color: black;
      text-align: center !important;
      border-style: solid;
      border-width: 1px;
      padding: 8px 8px;
      &:first-child {
        border-left:none;
        text-align: left !important;
      }
      &:last-child {
        border-right:none;
      }
    }
  }

  // Table button
  .toggle-table-button {
    position: relative;
    bottom: -12px;
    padding: 1px 10px;
    text-transform: uppercase;
    outline: none;
    font-size:12px;
    padding-right: 26px;
    left: -13px;
    @include media-up-to-sm {
      display:none;
    }
    .dashboard__widget & {
      transform: translate(0, 16px);
    }
    .dashboard__widget.widget-layout-2x & {
      display:none;
    }

    .sticon {
      top: 1px;
      width: 14px;
      padding-left: 2px;
      font-size: 18px;
      color: #0aaaff;
      border: none;
      position: absolute;
      padding-left: 4px;

      &.rotated {
        right: 8px;
        padding-left:0;
        transform: rotate(180deg);
      }
    }

    &.open {
      .sticon {
        transform: rotate(90deg);
      }
    }
  }
}

.pdf-export .thinner-bars {
  .ct-bar {
    stroke-width: 4px !important;
  }
}
