<widget id="traffic-per-weekday-widget" class="traffic-per-weekday-widget" translate-namespace="trafficPerWeekdayWidget" ng-class="{ 'thinner-bars' : vm.thinnerBars }">

  <widget-header
    widget-title="{{ vm.isHourly ? 'trafficPerWeekdayWidget.HOURLYAVERAGES' : 'trafficPerWeekdayWidget.DAILYAVERAGES' | translate }}: {{ 'kpis.kpiTitle.'+vm.metricsConfiguration[vm.selectedMetric].translationLabel | translate }}"
    icon="{{ vm.widgetIcon }}"
    hide-export-icon="vm.hideExportIcon"
    disable-export="vm.exportIsDisabled"
    on-export-click="vm.onExportClick()"
    set-selected-widget="vm.setSelectedWidget()">
    <left>
      <span class="btn-group">
        <day-selector selected-days="vm.selectedDays" include-hours="true" ng-show="!vm.hideExportIcon"></day-selector>
      </span>

      <span class="btn-group select-chart-metric-dropdown" ng-class="{ 'open' : vm.isOpenSelectMetric }" ng-if="vm.availableMetrics.length > 1">
        <button
          type="button"
          class="btn btn-xs btn-default dropdown-toggle"
          ng-click="vm.isOpenSelectMetric=!vm.isOpenSelectMetric"
          off-click="vm.isOpenSelectMetric = false">
          <span ng-show="vm.selectedMetric===metric" ng-repeat="metric in vm.availableMetrics">{{ 'kpis.kpiTitle.'+vm.metricsConfiguration[metric].translationLabel | translate }}</span>
          <span class="caret" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="metric in vm.availableMetrics">
            <a ng-click="vm.loadChartData(metric)">{{ 'kpis.kpiTitle.'+vm.metricsConfiguration[metric].translationLabel | translate }}</a>
          </li>
        </ul>
      </span>
    </left>
    <right>
      <sales-categories-selector
        ng-show="::!vm.isPdf"
        categories="::vm.currentOrganization.portal_settings.sales_categories"
        selected-categories="vm.salesCategories">
      </sales-categories-selector>
    </right>
  </widget-header>

  <widget-body>

    <div
      ng-if="!vm.isLoading && vm.hasData"
      ng-include="'components/widgets/traffic-per-weekday-widget/partials/bar-chart.partial.html'"
      ng-class="{
        'is-bar-chart-as-line-chart': vm.chartType === 'line'
      }"
      class="traffic-per-weekday-widget-chart-area">
    </div>

    <div
      ng-show="!vm.isLoading && vm.hasData && vm.isShown"
      ng-include="'components/widgets/traffic-per-weekday-widget/partials/table.partial.html'"
      class="traffic-per-weekday-widget-table-area">
    </div>

    <div class="row" ng-show="vm.hasData">
      <div class="widget-actions col-xs-12 text-center">
        <a
          ng-click="vm.isShown=!vm.isShown"
          ng-show="!vm.isLoading && !vm.hideExportIcon"
          class="toggle-table-button btn btn-default">
          <span ng-show="!vm.isShown" translate>.SHOWTABLE</span>
          <span ng-show="vm.isShown" translate>.HIDETABLE</span>
          <span class="sticon sticon-chevron-down" ng-class="{'rotated': vm.isShown}"></span>
        </a>
      </div>
    </div>


    <div
      ng-show="!vm.isLoading && !vm.hasData"
      class="text-center error-message">
      <span translate>common.NODATA</span>
    </div>

    <div
      ng-show="vm.isLoading && !vm.requestFailed"
      class="loader">
      <span translate>common.LOADING</span>
    </div>

    <div
      ng-if="vm.requestFailed && !vm.isLoading"
      class="text-center error-message">
      <span translate>common.DATAERROR</span>
    </div>
  </widget-body>

</widget>
