.mi-list {

  $edit-panel-width: 350px;

  .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    box-shadow:none;
    width: $edit-panel-width;
  }

  .mi-list-selected-display {
    position: absolute;
    top: -65px;
    background: $white;
    border: 1px solid $border-color;
    padding: 9px;
    width: $edit-panel-width;
    height: 40px;
    text-transform: uppercase;
  }

  .mi-list-selected-item{
    padding: 5px;
  }

  .mandatory-select-error{
    color: #ff130c;
    padding-left: 10px;
    padding-top: 10px;
  }

  .filter-header {
    border: 1px solid $border-color;
    padding: 10px;
    font-size: 14px;
    font-family: inherit;
  }

  .filter-header .filter-title {
    font-size: 14px;
  }

  .filter-header span.sticon-chevron-down{
    font-size: 18px;
    margin-top: 0px;
  }

  .filter-selection {
    width:600px;
    height: auto;
    border: 1px solid $border-color;
    background: #ffffff;
    margin-top:-1px;

    .padding-container {
      padding: 20px 20px 0px 20px;
    }

    .padding-container-bottom {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom:10px;
    }

    hr {
      margin-top: 0px;
      margin-bottom: 10px;
    }

    .add-filter{
      width: 100px;
      color: $brand-primary;
      cursor: pointer;
      margin-bottom: 10px;
    }

    .half-width-dropdowns {
      ul.custom-select {
        width: 47%;
      }
    }
  }

  .dashboard-mi-filter-selection{
    position: absolute;
    z-index: 2;
    right: 15px;
  }
  .filterBox div .btn-primary {
    margin-right: 0;
  }

  .filterBox .open > .dropdown-menu {
    display: block;
    margin-top: -5px;
    border-radius: 0px;
  }

  .sticon {
    vertical-align: middle;
    color: $brand-primary;
    margin-right: 5px;
    margin-top: -5px;
  }

  .sticon-market-insight {
    font-size: 16px;
  }

  .sticon-plus-add {
    font-size: 24px;
  }

  .sticon-circle-delete{
    font-size: 18px;
    color: #ff0000;
  }

  ul.custom-select {
    list-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    width: 30%;
    display: inline-block;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }

  ul.custom-select li a{
    border-bottom: solid 1px $border-color;
    min-width: 100%;
    display: inline-block;
  }

  ul.custom-select li a span.caret {
    float: right;
    margin-top: 13px;
  }
}
