<widget translate-namespace="marketIntelligence" off-click="vm.showFilterIsOpen = false">

  <div class="mi-list-selected-display" ng-if="!vm.dashboardMi">
    <span 
      ng-repeat="selectedItem in vm.showSelected track by $index" 
      class="mi-list-selected-item">
        {{selectedItem.name}}
    </span>
  </div>
  <div class="filter-header"
       ng-click="vm.showFilters()"
       ng-class="{'open': vm.filterIsOpen}">
    <span class="sticon sticon-market-insight">
     </span>
    <span class="filter-title" ng-if="!vm.dashboardMi" translate>.FILTERMARKETDATA</span>
    <span class="filter-title" ng-if="vm.dashboardMi" translate>.ADVANCEOPTIONS</span>
    <span class="sticon sticon-chevron-down dropdown-icon pull-right"></span>
  </div>

  <div class="filter-selection" ng-show="vm.showFilterIsOpen" ng-class="{'dashboard-mi-filter-selection': vm.dashboardMi}">

    <div class="filterBox" ng-if="vm.showFilterIsOpen">
      <div class="padding-container">
      <div id="filter-group" ng-class="::{'half-width-dropdowns': !vm.rules}">

        <div ng-repeat="filterItem in vm.filtersArray track by $index">
          <mi-select
            control-id="dimensions-list-picker"
            items="vm.subscriptions"
            current-item="filterItem.title"
            display-property="name"
            show-parent-link="false"
            parent-drop-down-class="form-control custom-select"
            on-item-selection="vm.subscriptionChange(filterItem)">
          </mi-select>

          <mi-select
            ng-if="::vm.rules"
            control-id="rules-list-picker"
            items="vm.rules"
            current-item="filterItem.rule"
            display-property="name"
            show-parent-link="false"
            parent-drop-down-class="form-control custom-select">
          </mi-select>

          <mi-select
            control-id="value-list-picker"
            items="filterItem.title.values"
            current-item="filterItem.value"
            display-property="name"
            show-parent-link="false"
            parent-drop-down-class="form-control custom-select">
          </mi-select>

          <span class="sticon sticon-circle-delete" ng-click="vm.filtersArray.splice($index,1)"></span>
        </div>
      </div>

        <div ng-show="vm.filtersArray.length<2" class="add-filter" ng-click="vm.addFilter()">
        <span class="sticon sticon-plus-add"></span>
        <span class="ng-scope" translate>.ADDFILTER</span>
      </div>

      <div class="mandatory-select-error" ng-show="vm.mandatorySelectError && vm.filtersArray.length>=2"><span translate>.CATEGORYGEOGRAPHY</span></div>
      <div class="mandatory-select-error" ng-show="vm.mandatoryValueSelectError && vm.filtersArray.length>=2"><span translate>.VALUESELECTED</span></div>
      <div class="mandatory-select-error" ng-show="vm.mandatorySelectError && vm.filtersArray.length<=1"><span translate>.MINIMUMFILTERS</span></div>
      </div>

      <hr/>

      <div class="padding-container-bottom">
      <div class="btn-row">
        <button class="btn btn-primary" ng-click="vm.applyFilter()">
          <span translate>common.APPLY</span>
        </button>

        <button class="btn btn-default ng-scope" ng-click="vm.cancelFilter()">
          <span translate>common.CANCEL</span>
        </button>

        <button class="btn btn-default ng-scope" ng-disabled="vm.filtersArray.length<1"  ng-click="vm.clearFilter()">
          <span translate>common.CLEAR</span>
        </button>
        </div>
      </div>

    </div>
  </div>
</widget>