<div class="high-chart-legend">
  <span class="chart-legend-label"><label translate>common.SELECTEDPERIOD</label>
     <label>
       ({{::lineHighChartWidget.dateRangeStart.format(lineHighChartWidget.dateFormatMask)}} -
       {{::lineHighChartWidget.dateRangeEnd.format(lineHighChartWidget.dateFormatMask)}})
     </label>
  </span>

  <span class="chart-legend-label" ng-show="lineHighChartWidget.summaryData[1] > 0" >
    <label ng-if="lineHighChartWidget.setLegendLabel(1, 'priorPeriod')" translate>
      common.PRIORPERIOD
    </label>
    <label ng-if="lineHighChartWidget.setLegendLabel(1, 'priorPeriod')">
      ({{::lineHighChartWidget.compare1Period.start.format(lineHighChartWidget.dateFormatMask)}} - {{::lineHighChartWidget.compare1Period.end.format(lineHighChartWidget.dateFormatMask)}})
    </label>
    <label ng-if="lineHighChartWidget.setLegendLabel(1, 'priorYear')" translate>
      common.PRIORYEAR
    </label>
    <label ng-if="lineHighChartWidget.setLegendLabel(1, 'priorYear')">
      ({{::lineHighChartWidget.compare1Period.start.format(lineHighChartWidget.dateFormatMask)}} - {{::lineHighChartWidget.compare1Period.end.format(lineHighChartWidget.dateFormatMask)}})
    </label>
    <label ng-if="lineHighChartWidget.setLegendLabel(1, 'custom')" translate>
      common.CUSTOMCOMPARE1
    </label>
    <label ng-if="lineHighChartWidget.setLegendLabel(1, 'custom')">
      ({{::lineHighChartWidget.compare1Period.start.format(lineHighChartWidget.dateFormatMask)}} - {{::lineHighChartWidget.compare1Period.end.format(lineHighChartWidget.dateFormatMask)}})
    </label>
  </span>

  <span class="chart-legend-label" ng-show="lineHighChartWidget.summaryData[2] > 0" >
    <label ng-if="lineHighChartWidget.setLegendLabel(2, 'priorPeriod')" translate>
      common.PRIORPERIOD
    </label>
    <label ng-if="lineHighChartWidget.setLegendLabel(2, 'priorPeriod')">
      ({{::lineHighChartWidget.compare2Period.start.format(lineHighChartWidget.dateFormatMask)}} - {{::lineHighChartWidget.compare2Period.end.format(lineHighChartWidget.dateFormatMask)}})
    </label>
    <label ng-if="lineHighChartWidget.setLegendLabel(2, 'priorYear')" translate>
      common.PRIORYEAR
    </label>
    <label ng-if="lineHighChartWidget.setLegendLabel(2, 'priorYear')">
      ({{::lineHighChartWidget.compare2Period.start.format(lineHighChartWidget.dateFormatMask)}} - {{::lineHighChartWidget.compare2Period.end.format(lineHighChartWidget.dateFormatMask)}})
    </label>
    <label ng-if="lineHighChartWidget.setLegendLabel(2, 'custom')" translate>
      common.CUSTOMCOMPARE2
    </label>
    <label ng-if="lineHighChartWidget.setLegendLabel(2, 'custom')">
      ({{::lineHighChartWidget.compare2Period.start.format(lineHighChartWidget.dateFormatMask)}} - {{::lineHighChartWidget.compare2Period.end.format(lineHighChartWidget.dateFormatMask)}})
    </label>
  </span>

   <span ng-if="lineHighChartWidget.showWeatherMetrics && lineHighChartWidget.selectedWeatherMetrics" 
     class="chart-legend-label" 
     ng-repeat="metric in lineHighChartWidget.selectedWeatherMetrics track by $index">
      <label translate>{{ metric.shortTranslationLabel }}</label>
  </span>
</div>
 