<nav
  class="navbar navbar-default navbar-retailmanager navbar-fixed-top"
  role="navigation"
  bs-collapse
  data-start-collapsed="true"
  ng-if="!pdf"
  translate-namespace="header">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" bs-collapse-toggle>
        <span class="sr-only" translate>.TOGGLENAVIGATION</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-brand-retailmanager text-hide" ng-href="#/">ShopperTrak</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" ng-if="isAuthenticated" bs-collapse-target>
      <ul class="nav navbar-nav navbar-nav--areas navbar-left nav-retailmanager navbar-nav-retailmanager nav-app">
          <li
            class="dropdown"
            ng-click="appDropdownIsOpen = !appDropdownIsOpen"
            ng-class="{ 'open' : appDropdownIsOpen }"
            ng-if="adminToolAccess"
            off-click="appDropdownIsOpen = false">
            <a>
              <span class="nav-app-label" ng-if="currentStateName[0] === 'analytics'" translate>
                .ANALYTICS
              </span>
              <span class="nav-app-label" ng-if="currentStateName[0] === 'marketing'" translate>
                .CAMPAIGNS
              </span>
              <span class="nav-app-label" ng-if="currentStateName[0] === 'admin'" translate>
                Admin
              </span>
              <span class="sticon sticon-menu nav-item-icon" aria-hidden="true"></span>
            </a>
            <ul class="dropdown-menu">
              <li ng-if="campaignAccess"><a ui-sref="marketing.organization({ orgId: orgSelect.currentOrganization.organization_id })" translate>.CAMPAIGNS</a></li>
              <li><a ng-click="navigateToAnalytics()" translate>.ANALYTICS</a></li>
              <li><a ui-sref="admin" translate>Admin</a></li>
            </ul>
          </li>
          <li ng-if="organizations.length === 1 && orgSelect.currentOrganization && showHeaderInformation">
            <a
              ui-sref="analytics.organization({ orgId: orgSelect.currentOrganization.organization_id })"
              class="dropdown-toggle">
              {{orgSelect.currentOrganization.name}}
            </a>
          </li>
      </ul>
      <custom-select
           control-id="organisation-picker"
           items="organizations"
           current-item="orgSelect.currentOrganization"
           show-parent-link="false"
           select-header="orgSelect.selectOrgHeader"
           display-property="name"
           id-property="organization_id"
           order-by="name"
           item-ui-sref-pattern="{{orgSelect.orgCurrentUiSrefPattern}}"
           current-ui-sref-pattern="{{orgSelect.orgCurrentUiSrefPattern}}"
           parent-drop-down-class="nav navbar-nav navbar-left nav-retailmanager navbar-nav-retailmanager nav-app"
           ng-if="organizations.length !== 1 && showHeaderInformation">
      </custom-select>
      <custom-select
           is-fetching="isFetchingFirst"
           is-searching="isSearchingItems"
           control-id="site-picker"
           items="siteSelect.sites"
           current-item="siteSelect.currentSite"
           on-active-item-click="onActiveSiteClick"
           active-link-header-class="site-selection-property-overall"
           active-link-header="siteSelect.activeLinkHeader"
           select-header="siteSelect.selectSiteHeader"
           parent-drop-down-class="nav navbar-nav navbar-left nav-retailmanager navbar-nav-retailmanager nav-app"
           use-typeahead="siteSelect.sites.length > 24 || usedTypeAhead"
           min-search-length="3"
           prompt-text="{{siteSelect.promptText}}"
           filter-property="name"
           display-property="name"
           id-property="site_id"
           order-by="name"
           show-parent-link="true"
           search-name="searchTerm"
           item-ui-sref-pattern="{{siteSelect.siteUiSrefPattern}}"
           parent-ui-sref-pattern="{{siteSelect.orgUiSrefPattern}}"
           current-ui-sref-pattern="{{siteSelect.siteCurrentUiSrefPattern}}"
           load-more="siteSelect.addMoreSites"
           ng-if="showHeaderInformation">
      </custom-select>
      <ul class="nav navbar-nav navbar-right nav-retailmanager navbar-nav-retailmanager">
        <li>
          <a target="_blank" href="https://www.retailmanager.com/stan-support" translate>.SUPPORT <span class="sticon sticon-lifering nav-item-icon" aria-hidden="true"></span></a>
        </li>
        <li
          class="dropdown"
          ng-if="showHeaderInformation"
          ng-class="{ 'open' : exportDropdownIsOpen }"
          ng-click="exportDropdownIsOpen = !exportDropdownIsOpen"
          off-click="exportDropdownIsOpen = false">
          <a href class="dropdown-toggle-export">
            <span translate>.EXPORT</span>
            <span ng-hide="getExportCartItemCount() === 0" class="cart-item-count">({{getExportCartItemCount()}})</span>
            <span ng-if="numPdfExportsInProgress === 0" class="sticon sticon-export nav-item-icon" aria-hidden="true"></span>
            <span ng-if="numPdfExportsInProgress > 0" class="export-spinner" aria-hidden="true"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header" translate>pdfExportView.EXPORTPDF</li>
            <li
              ng-class="{
                'disabled': !$state.current.data.isExportableAsPdf
              }">
              <a class="navbar-export-current-view" href ng-click="scheduleExportCurrentViewToPdf()" translate>.EXPORTCURRENTVIEW</a>
            </li>
            <li ng-switch="getExportCartItemCount()" ng-class="{ 'disabled' : getExportCartItemCount() === 0 }">
              <a ng-switch-when="0" class="navbar-export-selected" disabled>
                <span translate>.EXPORTSELECTED</span>
              </a>
              <a ng-switch-default class="navbar-export-selected" ui-sref="pdfexport({ orgId: orgSelect.currentOrganization.organization_id, siteId: siteSelect.currentSite.site_id })">
                <span translate>.EXPORTSELECTED</span>
                <span class="cart-item-count">({{getExportCartItemCount()}})</span>
              </a>
            </li>
            <li ng-if="getExportCartItemCount() > 0">
              <a class="navbar-export-clear" href ng-click="clearExportCart()" translate>pdfExportView.CLEAREXPORT</a>
            </li>
            <li role="separator" class="divider"></li>
            <li ng-if="siteSelect.currentSite">
              <a class="navbar-export-csv" ui-sref="csv({
                orgId: orgSelect.currentOrganization.organization_id,
                siteId: siteSelect.currentSite.site_id,
                startDate: $state.params.dateRangeStart._i,
                endDate: $state.params.dateRangeEnd._i
              })" translate>.EXPORTCSV</a>
            </li>
            <li ng-if="!siteSelect.currentSite">
              <a class="navbar-export-csv" ui-sref="csv({
                orgId: orgSelect.currentOrganization.organization_id,
                startDate: $state.params.dateRangeStart._i,
                endDate: $state.params.dateRangeEnd._i
              })" translate>.EXPORTCSV</a>
            </li>
            <li ng-if="orgMIReportAccess" role="separator" class="divider"></li>
            <li ng-if="orgMIReportAccess">
              <a
                data-toggle="modal"
                data-target="#miModal"
                translate>
                  marketIntelligence.SHOPPERTRAKINDEXREPORT
               </a>
            </li>
          </ul>
        </li>
        <li class="divider"></li>
        <li
          class="nav-login dropdown"
          ng-click="userProfileDropdownIsOpen = !userProfileDropdownIsOpen"
          ng-class="{ 'open' : userProfileDropdownIsOpen }"
          off-click="userProfileDropdownIsOpen = false">
          <a class="nav-login-link">
            <span class="nav-login-label" ng-if="currentUser.fullname">
              {{currentUser.fullname}}
            </span><span class="sticon sticon-avatar nav-item-icon" aria-hidden="true"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="account" translate>.USERPREFERENCES</a></li>
            <li><a class="nav-logout" ng-click="logout()" translate>.LOGOUT</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
