<nav
  class="navbar navbar-default navbar-retailmanager navbar-fixed-top"
  role="navigation"
  bs-collapse
  data-start-collapsed="true"
  ng-if="!pdf">


  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" bs-collapse-toggle>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-brand-retailmanager text-hide" ng-href="#/">ShopperTrak</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse" ng-if="isAuthenticated" bs-collapse-target>

      <ul class="nav navbar-nav navbar-left nav-retailmanager navbar-nav-retailmanager nav-app">
          <li
            class="dropdown"
            ng-click="appDropdownIsOpen = !appDropdownIsOpen"
            ng-class="{ 'open' : appDropdownIsOpen }"
            off-click="appDropdownIsOpen = false">
            <a>
              <span class="nav-app-label">
                Campaigns
              </span><span class="sticon sticon-menu nav-item-icon" aria-hidden="true"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a ui-sref="marketing">Campaigns</a></li>
              <li><a ui-sref="analytics">Analytics</a></li>
            </ul>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right nav-retailmanager navbar-nav-retailmanager">
        <li ng-if="organizations.length === 1 && currentOrganization">
          <a
            ui-sref="analytics.organization({ orgId: currentOrganization.organization_id })"
            class="dropdown-toggle">
            {{currentOrganization.name}}
          </a>
        </li>
        <li
          ng-if="organizations.length > 1"
          class="dropdown"
          ng-class="{ 'open' : organizationDropdownIsOpen }"
          ng-click="organizationDropdownIsOpen = !organizationDropdownIsOpen"
          off-click="organizationDropdownIsOpen = false">
          <a href class="dropdown-toggle">
            <span ng-if="!currentOrganization">Select organization</span>
            <span ng-if="currentOrganization">{{currentOrganization.name}}</span>
            <span class="caret" aria-hidden="true"></span>
          </a>
          <ul class="dropdown-menu">
            <li
              ng-repeat="organization in organizations"
              ui-sref-active="active">
              <a ui-sref="marketing.organization({ orgId: organization.organization_id })">
                {{organization.name}}<br/>
              </a>
            </li>
          </ul>
        </li>
        <li ng-if="sites.length === 1 && currentSite">
          <a
            ui-sref="marketing.organization.site({ orgId: currentSite.organization.id, siteId: currentSite.site_id, locationId: null })"
            class="dropdown-toggle">
            {{currentSite.name}}
          </a>
        </li>
        <li
          ng-if="sites.length > 1"
          class="dropdown"
          ng-class="{ 'open' : siteSelectionDropdownIsOpen }"
          ng-click="siteSelectionDropdownIsOpen = !siteSelectionDropdownIsOpen"
          off-click="siteSelectionDropdownIsOpen = false">
          <a href class="dropdown-toggle">
            <span ng-if="!currentSite">Select property</span>
            <span ng-if="currentSite">{{currentSite.name}}</span>
            <span class="caret" aria-hidden="true"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-if="sites.length > 0 && currentSite" class="site-selection-property-overall">
              <a ui-sref="marketing.organization({ orgId: currentSite.organization.id, siteId: null, locationId: null })">
                &larr; Organization Summary
              </a>
            </li>
            <li
              ng-repeat="site in sites"
              ui-sref-active="active">
              <a ui-sref="marketing.organization.site({ orgId: site.organization.id, siteId: site.site_id, locationId: null })">
                {{site.name}}
              </a>
            </li>
          </ul>
        </li>
        <li
          class="dropdown"
          ng-class="{ 'open' : supportDropdownIsOpen }"
          ng-click="supportDropdownIsOpen = !supportDropdownIsOpen"
          off-click="supportDropdownIsOpen = false">
          <a href>Support&nbsp;<span class="sticon sticon-lifering nav-item-icon" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
            <li><a href="tel:18008834728"><strong>Call:</strong> 1-800-883-4RCT (4728)</a></li>
            <li><a href="mailto:support@retailmanager.com"><strong>Email:</strong> support@retailmanager.com</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li
          class="nav-login dropdown"
          ng-click="userProfileDropdownIsOpen = !userProfileDropdownIsOpen"
          ng-class="{ 'open' : userProfileDropdownIsOpen }"
          off-click="userProfileDropdownIsOpen = false">
          <a>
            <span class="nav-login-label" ng-if="currentUser.fullname">
              {{currentUser.fullname}}
            </span><span class="sticon sticon-avatar nav-item-icon" aria-hidden="true"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="account">Change password</a></li>
            <li><a ng-click="logout()">Log out</a></li>
          </ul>
        </li>
      </ul>

    </div>

  </div>


</nav>
