.retail-organization-summary-bar {

  .retail-organization-tags,
  .retail-organization-comp-stores {
    padding:15px;
  }

  .retail-organization-tags {
    float: left;
  }

  .retail-organization-comp-stores {
    display: flex;
    float: right;
  }
  .retail-organization-tag-label {
    font-size:12px;
    text-transform:uppercase;
    color:$gray-dark;
  }
  .retail-organization-tags .tag {
    font-size:12px;
    text-transform:uppercase;
    background:$gray;
    color:#fff;
    border-radius: 15px;
    padding: 2px 7px;
    margin: 0 5px;
  }

}

@media screen and (max-width: 768px) {
  .retail-organization-summary-bar {
    .retail-organization-comp-stores {
      float: left;
    }
  }
}
