<div class="col-xs-12">
  <segment-widget 
    start-date="export.dateRange.start"
    end-date="export.dateRange.end"
    compare-date-start="export.compare1Range.start"
    compare-date-end="export.compare1Range.end"
    segments="export.segments"
    number-format-name="::export.numberFormatName"
    org-id="::export.organizationId"
    is-loading="widgetIsLoading[key]"
    show-org-index="::export.showOrgIndex">
  </segment-widget>
</div>