.comp-stores-selector {
  display: inline-block; // for legacy browsers
  display: flex;
  margin: 0 0 0 9px;
  cursor: pointer;

  > .option-button {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #919192;
    border-radius: 9px;
    transition: border-color 0.2s ease;
  }

  > .option-button > span {
    background-color: transparent;
    transition: background-color 0.2s ease;
  }

  &.selected > .option-button {
    border-color: #20ABFC;
  }

  &.selected > .option-button > span {
    display: inline-block;
    margin: 2px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #20ABFC;
  }

  > .option-label {
    font-size: 14px;
    font-weight: normal;
    color: #222;
    margin: 0;
    padding: 0 0 0 3px;
    vertical-align: text-bottom;
  }
}
