<div class="modal" id="confirmation-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Confirm Action
        </h4>
      </div>
      
      <div class="modal-body">
        {{ 'admin.AREYOUSURE' | translate }} {{ vm.action | translate | lowercase }} {{ vm.resource }} ?
      </div>

      <div class="modal-footer">
        <button type="button" ng-show="vm.action" ng-class="vm.action === 'common.DELETE' ? 'btn btn-danger' : 'btn ui-button'" ng-click="vm.confirmAction()">{{ vm.action | translate }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" translate>{{ vm.cancelButtonText }}</button>
      </div>
    </div>
  </div>
</div>