<div
  class="ct-chart-container"
  ng-mouseenter="handleMouseEnter()"
  ng-mouseleave="handleMouseLeave()"
  ng-mousemove="handleMouseMove($event)">
  <div class="ct-chart"></div>
  <div ng-transclude></div>
</div>
