.summary-widget-wrapper {
  
  .dashboard & {
    height:100%;
  }

  .kpi-panel-heading {
    padding:0 10px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: -1px;
    border-top-left-radius: -1px;
  }

  .panel-body {
    height:234px;
    padding:0;

    .error-message {
      min-height:100px;
      height:100%;
    }

    .kpi-section {
      width:50%;
      display:block;
      @include media-up-to-xs {
        border-bottom:1px solid #eee;
        padding-bottom:0;

        &:nth-of-type(2n-1) {
          border-right:1px solid $gray-lighter;
        }
        &:nth-of-type(5) {
          border-right: none;
        }
      }
      @include media-only-xs {
        width: percentage(1/3);
        border-right:1px solid $gray-lighter;
        border-bottom:1px solid #eee;

        &:nth-of-type(3n) {
          border-right:0;
        }
        &:nth-of-type(5) {
          border-right: none;
        }
      }
      @include media-sm {
        width:percentage(1/5);
        border-right:1px solid $gray-lighter;
        &:nth-of-type(5) {
          border-right: none;
        }
      }

      .pdf-export & {
        display:inline-block !important; // Fixes layout for wkhtmltopdf
        width:percentage(1/5) !important;
        border-right:1px solid $gray-lighter;
        &:nth-of-type(5) {
          border-right: none !important;
        }
      }

      &__container {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
      }

    }
  }
}
