<div class="summary-widget-wrapper">

  <widget class="kpi-summary-widget">

    <widget-header
      ng-if="vm.siteId"
      widget-title="summaryKpiWidget.SITEPERFORMANCE"
      icon="performance"
      hide-export-icon="vm.hideExportIcon"
      disable-export="vm.exportIsDisabled"
      on-export-click="vm.onExportClick()"
      set-selected-widget="vm.setSelectedWidget()">

      <right>
        <sales-categories-selector
          categories="::vm.currentOrganization.portal_settings.sales_categories"
          selected-categories="vm.salesCategories"
          multiple-select="false">
        </sales-categories-selector>
      </right>
    </widget-header>

    <widget-header
      ng-if="!vm.siteId"
      widget-title="summaryKpiWidget.ORGPERFORMANCE"
      icon="performance"
      hide-export-icon="vm.hideExportIcon"
      disable-export="vm.exportIsDisabled"
      on-export-click="vm.onExportClick()"
      set-selected-widget="vm.setSelectedWidget()">
      <right>
        <sales-categories-selector
          categories="::vm.currentOrganization.portal_settings.sales_categories"
          selected-categories="vm.salesCategories"
          multiple-select="false">
        </sales-categories-selector>
      </right>
    </widget-header>

    <widget-body>

      <section ng-if="!vm.isLoading && vm.hasData" class="kpi-section__container">
        <article ng-repeat="kpi in vm.allKpisData track by kpi.id" class="kpi-section">
          <kpi-variance
            current-user="vm.currentUser"
            current-organization="vm.currentOrganization"
            data="kpi">
          </kpi-variance>
        </article>
      </section>

      <div
        ng-if="!vm.isLoading && (vm.requestFailed || !vm.hasData)"
        class="col-xs-12 text-center error-message">
          <span translate>
            summaryKpiWidget.NODATA
          </span>
      </div>

      <div
        ng-if="vm.isLoading"
        class="col-xs-12 loader">
          <span translate>
            summaryKpiWidget.LOADING
          </span>
      </div>

      <div
        ng-if="!vm.isLoading && vm.requestFailed"
        class="col-xs-12 text-center error-message">
          <span>summaryKpiWidget.ERROR</span>
      </div>

    </widget-body>
  </widget>
</div>
