.mi-summary-widget {
  .loader {
    top: 110px;
  }
  .panel-body {
    margin: 3px 0 -3px 0;
    height: auto !important;
  }

  span.sticon.sticon-settings {
    font-size: 22px;
    margin-top: -10px;
  }

  .segment-section-wrapper .panel-body .segment-section-container {
    .mi-panel-heading.row .mi-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
      padding-left: 7px;
      padding-right: 7px;
    }
  }
}

.segment-section-wrapper {
  margin: 3px 0 0 0;
  padding-left: 0;
  padding-right: 0;

  .popover {
    max-width: 200px;
    padding: 8px 4px 20px 4px;

    .compare-period {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
    }

    .total-value {
      font-weight: bold;
      font-size: 15px;
    }

    .compare-period-dates {
      margin-bottom: 7px;
      color: $gray-light;
    }

    .col-xs-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .panel-body {
    height: 223px;

    .segment-section-container {
      padding-top: 10px;
      text-align: center;

      .segment-section-current {

        .period-label {
          color: $gray-light;
          font-weight: 400;
          font-size: 11px;
          text-align: left;
          text-transform: uppercase;
          padding: 0 0 0 12px;
        }

        .actual-value {
          padding-top: 7px;
          padding-bottom: 3px;

          .value {
            font-size: 18px;
          }
        }

        .panel-heading {
          padding-top: 3px;
        }

        .value {
          font-size: 28px;
          font-weight: 600;
          padding: 12px 0 28px 0;
          position: relative;

          span {
            margin-left: 0;
            &.no-change {
              color: lighten($gray-light, 20%)
            }
          }

          small {
            font-weight: 600;
            text-transform: uppercase;
            color: $gray-light;
            font-size: 11px;
          }

          &.no-details {
            padding-top: 36px;
          }
        }

        .segment-section-compare {
          border-top: 1px solid darken($gray-lighter, 2%);
          bottom: 0;
          width: 100%;

          .mi-panel-heading.row {
            padding-top: 9px;
          }

          .segment-section-delta-icon {
            /*font-size: 17px;*/
          }

          .segment-section-delta-value {
            /*  font-size: 14px;
              font-weight: 400 !important;*/
          }

          .period-label {
            font-weight: 600;
            font-size: 11px;
            color: black;
            text-transform: uppercase;
            text-align: left;

            &.year:before {
              background: #be64f0;
            }
          }

          .selected-period {
            font-size: 10px;
            font-weight: 400;
            line-height: 19px;
            color: $gray-light;
            text-align: right;
          }

          &.prior-period {
            bottom: 100px;
          }

          .value {
            font-size: 18px;
            font-weight: 600;
            line-height: 1.6;
            padding-bottom: 2px;

            &.no-details {
              padding-top: 10px;
            }
          }
        }
      }

      .no-permission {

        .mi-panel-heading.row .mi-title {
          color: $gray-light;
        }

        .permission-message {
          color: $gray-light;
          top: 63px;
        }

        .contact-message {
          top: 85px;
        }
      }

      .mi-panel-heading.row {
        padding-top: 0;

        .mi-title {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 14px;
          color: inherit;
          font-weight: 600;
          text-transform: uppercase;
          text-align: -webkit-center;
        }
      }

      .segment-section-current {
        .value {
          font-size: 32px;
          padding-top: 10px;

          &.comparator {
            padding-top: 8px;
            display: flex;
            justify-content: center;

            & > span {
              padding: 0 9px;
            }
          }
        }
        small.period-label {
          padding-left: 0;
        }
      }

      .segment-section-compare {
        border-top-style: dotted;
        background-color: #ffffff;
        margin-bottom: 20px;
      }

      .segment-section-delta-icon {
        font-size: 28px;
      }

      .segment-section-delta-icon-positive {
        color: $brand-success;
      }

      .segment-section-delta-icon-negative {
        color: $brand-danger;
      }
    }
  }

  .positive {
    color: $brand-success;
  }
  .negative {
    color: $brand-danger;
  }

  .data-unavailable{
    font-size: 14px;
    font-weight: normal;
  }
}

.alert-widget-small {
  margin-top: 30px;
  padding: 5px;
}

.empty-trend-summary-block {
  height: 234px;
  .big-plus-icon {
    cursor: pointer;
    margin-top: 50px;
    text-align: center;
    .sticon-plus-add-grey {
      font-size: 48px;
      color: #d2d2d2;
    }
  }
  .middle-text {
    margin-top: 15px;
    text-align: center;
  }
  .small-plus-icon {
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    .sticon-plus-add {
      font-size: 28px;
      color: #0aaaff;
    }
  }
  .add-button-text {
    margin-left: 5px;
    position: relative;
    top: -8px;
  }
}

.empty-trend-summary-block-no-org-index{
  height: 100px;
  .big-plus-icon {
    cursor: pointer;
    text-align: center;
    .sticon-plus-add-grey {
      font-size: 28px;
      color: #d2d2d2;
    }
  }
  .middle-text {
    margin-top: 10px;
    text-align: center;
  }
  .small-plus-icon {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    .sticon-plus-add {
      font-size: 18px;
      color: #0aaaff;
    }
  }
  .add-button-text {
    margin-left: 5px;
    bottom: 5px;
    position: relative;
    top: -3px;
  }
}

.pdf-export {
  .mi-summary-widget {
    .segment-section-wrapper .panel-body .segment-section-container {
      .segment-section-current .value {
        font-size: 30px;
      }
      .segment-section-delta-icon {
        font-size: 26px;
      }
    }
  }
}