<div class="segment-section-wrapper col-xs-12" ng-if="::vm.segmentGeographyName!=='Empty'">
  <widget-body>
    <div class="segment-section-container">
      <div class="segment-section-current">
        <div class="top-section">
          <div class="mi-panel-heading row">
            <h3 class="mi-title">{{:: vm.segmentGeographyName }}</h3>
          </div>
          <div class="value col-xs-12">
            <span
              class="sticon segment-section-delta-icon {{::vm.segmentMarketIndexColor}} {{::vm.segmentMarketIconClass}}"
              ng-if="!vm.segmentIndexErrorMessage">
            </span>
            <span 
              class="segment-section-delta-value {{::vm.segmentMarketIndexColor}}"
              ng-if="!vm.segmentIndexErrorMessage">
              {{:: vm.segmentMarketIndexChange | formatNumber : 2 : vm.numberFormatName }}&#37;
            </span>
            <span ng-if="vm.segmentIndexErrorMessage" class="data-unavailable" translate>common.NODATA</span>
          </div>
        </div>

        <div class="value col-xs-12 segment-section-compare" ng-if="vm.showOrgIndex">
          <div class="mi-panel-heading row">
            <h3 class="mi-title">{{:: vm.segmentOrgName }}</h3>
          </div>
          <span
            class="sticon segment-section-delta-icon {{::vm.segmentOrgIndexColor}} {{::vm.segmentOrgIconClass}}"
            ng-if="!vm.segmentOrgErrorMessage">
          </span>
          <span class="segment-section-delta-value {{::vm.segmentOrgIndexColor}}" ng-if="!vm.segmentOrgErrorMessage">
            {{:: vm.segmentOrgIndexChange | formatNumber : 2 : vm.numberFormatName }}&#37;
          </span>
          <span ng-if="vm.segmentOrgErrorMessage" class="data-unavailable" translate>common.NODATA</span>
        </div>
      </div>
    </div>
  </widget-body>
</div>

<div ng-if="::vm.segmentGeographyName==='Empty' && vm.showOrgIndex" class="segment-section-wrapper col-xs-12 empty-trend-summary-block">
  <div class="row">
    <div class="col-xs-12">
      <div class="big-plus-icon" ng-click="vm.addSubscription()"><span class="sticon sticon-plus-add-grey"></span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="middle-text" translate>marketIntelligence.ADDDATATOSUMMARY</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="small-plus-icon" ng-click="vm.addSubscription()"><span class="sticon sticon-plus-add"></span>
        <span class="add-button-text" ng-click="vm.addSubscription()" translate>marketIntelligence.ADDDATA</span></div>
    </div>
  </div>
</div>


<div ng-if="::vm.segmentGeographyName==='Empty' && !vm.showOrgIndex" class="segment-section-wrapper col-xs-12 empty-trend-summary-block-no-org-index">
  <div class="row">
    <div class="col-xs-12">
      <div class="big-plus-icon" ng-click="vm.addSubscription()"><span class="sticon sticon-plus-add-grey"></span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="middle-text" translate>marketIntelligence.ADDDATATOSUMMARY</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="small-plus-icon" ng-click="vm.addSubscription()">
        <span class="sticon sticon-plus-add"></span>
        <span class="add-button-text" ng-click="vm.addSubscription()" translate>marketIntelligence.ADDDATA</span>
      </div>
    </div>
  </div>
</div>
