.zone-navigation-popover {
  width: 420px;
  max-width: 420px;
  padding: 0;

  // Display popover under navbar, but over Leaflet map controls
  z-index: 1001;
}

@media screen and (max-width: 425px) {
  .zone-navigation-popover  {
    width: 100%;
  }
}
