<zone-selector
  class="zone-navigation-popover"
  zones="vm.zones"
  zone-is-selected="vm.zoneIsActive(zoneId)"
  collapsed-zones="vm.collapsedZones"
  zone-href="vm.getZoneHref(zoneId)"
  language="vm.language"
  show-select-all-button="vm.showSelectAllButton">
  <a
    ng-if="vm.activeZoneId !== undefined"
    class="site-link"
    ng-href="{{::vm.siteHref}}">
    &larr; <span translate>locationSelector.PROPERTYOVERALL</span>
  </a>
</zone-selector>
