<a
  ng-if="::zone.tmps.length > 0"
  ng-click="zone.collapsed = !zone.collapsed"
  class="zone-tree-item-toggle">
  <span 
    ng-class="{'toggle' : zone.collapsed}"
    class="sticon sticon-chevron-down zone-tree-item-toggle-icon"></span>
</a>
<a
  class="zone-tree-item-label"
  ng-href="{{::zone.zoneHref}}"
  ng-click="vm.selectZone(zone.id)">
    <span>{{::zone.name}}</span>
  <ul 
    ng-show="!zone.collapsed"
    class="tmps-list"
    ng-if="zone.tmps">
    <li ng-repeat="tmpsName in zone.tmps | orderBy: 'name' track by $index"
      >{{::tmpsName.name}}
    </li>
  </ul>
</a>
