<ul class="zone-tree list-unstyled">
  <li class="select-all">
    <button ng-if="vm.showSelectAllButton && !vm.allSelected" class="btn btn btn-primary" ng-click="vm.selectAllZs();" translate>locationSelector.SELECTALL</button>
    <button ng-if="vm.showSelectAllButton && vm.allSelected" class="btn btn btn-primary" ng-click="vm.selectAllZs();" translate>locationSelector.DESELECTALL</button>
  </li>
  <li ng-repeat="zone in vm.allZones | filter: vm.keyword track by zone.id" class="zone-tree-item zone-tree-item-{{vm.getColor(zone.zone_type)}}" ng-class="{
      'is-selected': vm.isSelected({ zoneId: zone.id }),
      'is-collapsed': vm.isCollapsed(zone.id)
    }" ng-include="'components/zone-selector/zone-tree-item.partial.html'">
  </li>
</ul>
