<div class="popover zone-selector">
  <div class="arrow"></div>
  <div class="popover-title zone-selector-header">
    <input
      placeholder=" {{ 'locationSelector.SEARCH' | translate }}"
      class="form-control"
      type="text"
      ng-model="vm.filter" />
  </div>
  <div class="popover-content zone-selector-content">
    <div ng-transclude></div>
    <div class="zone-tree-container">
      <zone-tree
        filter="{{vm.filter}}"
        zones="vm.zones"
        language="vm.language"
        on-zone-click="vm.selectZone(zoneId)"
        zone-href="vm.getZoneHref({ zoneId: zoneId })"
        is-selected="vm.zoneIsSelected({ zoneId: zoneId })"
        collapsed-zones="vm.collapsedZones"
        selected-zones-on-click="vm.selectAll({ allZonesList : allZonesList })"
        show-select-all-button="vm.showSelectAllButton">
      </zone-tree>
    </div>
  </div>
</div>
