<div class="real-time-data-widget-wrapper col-xs-12">
  <widget class="real-time-data-widget">
    <widget-header
      widget-title="{{:: 'realTimeData.REALTIMEDATAREPORTING' | translate }}"
      icon="{{widgetIcon}}"
      hide-export-icon="hideExportIcon"
      disable-export="exportIsDisabled || !hasData"
      on-export-click="onExportClick()"
      hide-export-to-custom-dashboard-icon="true">
    </widget-header>

    <widget-body>
      <div
        ng-if="!isLoading && hasData"
        class="kpi-section"
        ng-repeat="kpi in allKpisData track by kpi.id">

        <real-time-data-kpi-variance
          current-user="currentUser"
          current-organization="currentOrganization"
          data="kpi">
        </real-time-data-kpi-variance>
      </div>

      <div
        ng-if="!isLoading && !hasData && !requestFailed"
        class="col-xs-12 text-center error-message">
          <span translate>
            summaryKpiWidget.NODATA
          </span>
      </div>

      <div
        ng-if="isLoading"
        class="col-xs-12 loader">
          <span translate>
            summaryKpiWidget.LOADING
          </span>
      </div>

      <div
        ng-if="!isLoading && requestFailed && !hasData"
        class="col-xs-12 text-center error-message">
          <span translate>summaryKpiWidget.ERROR</span>
      </div>
    </widget-body>
  </widget>
</div>
