<div class="row" ng-if="dateRangesLoaded">

  <div
    class="col-sm-12"
    ng-repeat="metricType in ::metricsToShow track by metricType">

  <organization-summary-widget
    ng-if="metricType === 'organization_summary'"
    org-id="$stateParams.orgId"
    sites="organizationSites"
    language="language"

    selected-period-start="dateRange.start"
    selected-period-end="dateRange.end"
    compare-range-1-start="compareRange1.start"
    compare-range-1-end="compareRange1.end"
    compare-range-1-type="compareRange1Type"
    compare-range-2-start="compareRange2.start"
    compare-range-2-end="compareRange2.end"
    date-format-mask="dateFormat"
    number-format-name="numberFormatName"
    compare-range-2-type="compareRange2Type"
    compare-type="viewData[metricType].compareType"
    first-day-of-week-setting="firstDayOfWeek"

    filter-text="viewData[metricType].filterText"
    order-by="viewData[metricType].sortType"

    hide-export-icon="false"
    on-export-click="exportWidget(metricType,false)"
    export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
    set-selected-widget="setSelectedWidget('organization_summary')">
  </organization-summary-widget>

  <site-performance-widget
    ng-if="compareRangesSet && metricType === 'site_performance'"
    id="org-summary-site-performance-widget"
    org-id="$stateParams.orgId"
    sites="organizationSites"
    widget-data="widgetData"
    language="language"

    selected-period-start="dateRange.start"
    selected-period-end="dateRange.end"
    compare-range-1-start="compareRange1.start"
    compare-range-1-end="compareRange1.end"
    compare-range-1-type="compareRange1Type"
    compare-range-2-start="compareRange2.start"
    compare-range-2-end="compareRange2.end"
    date-format-mask="dateFormat"
    number-format-name="numberFormatName"
    compare-range-2-type="compareRange2Type"
    first-day-of-week-setting="firstDayOfWeek"

    current-view="viewData[metricType].currentView"

    hide-export-icon="false"
    on-export-click="exportWidget(metricType,false)"
    export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
    set-selected-widget="setSelectedWidget('site_performance')">
  </site-performance-widget>

  <daily-performance-widget
    ng-if="metricType === 'daily_performance_widget'"
    date-range="dateRange"
    org-id="$stateParams.orgId"
    current-user="currentUser"

    show-table="viewData[metricType].showTable"
    selected-days="viewData[metricType].selectedDays"

    on-export-click="exportWidget(metricType,false)"
    export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
    has-labor="orgHasLabor"
    has-sales="orgHasSales"
    set-selected-widget="setSelectedWidget('daily_performance_widget')">
  </daily-performance-widget>

  <traffic-per-weekday-widget
    ng-if="metricType === 'traffic_per_weekday'"
    org-id="$stateParams.orgId"
    kpi="traffic_weekday_distribution"

    date-range="{start: $stateParams.dateRangeStart, end: $stateParams.dateRangeEnd}"
    compare-range-1="{start: compareRange1.start, end: compareRange1.end}"
    compare-range-2="{start: compareRange2.start, end: compareRange2.end}"
    compare-range-1-type="compareRange1Type"
    compare-range-2-type="compareRange2Type"
    date-format-mask="dateFormat"
    first-day-of-week-setting="firstDayOfWeek"
    operating-hours="operatingHours"

    current-organization="currentOrganization"
    current-user="currentUser"

    language="language"
    is-shown="viewData[metricType].showTable"
    selected-days="viewData[metricType].selectedDays"
    selected-metric="viewData[metricType].selectedMetric"
    order-by="viewData[metricType].orderTable"
    order-reverse="viewData[metricType].orderReverse"
    sales-categories="vm.salesCategoriesTrafficWeekday.selection"

    widget-icon="calendar-arrow"
    hide-export-icon="false"
    on-export-click="exportWidget(metricType,false)"
    export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
    set-selected-widget="setSelectedWidget('traffic_per_weekday')">
  </traffic-per-weekday-widget>

  </div>
</div>
