.location-type-selector {
  clear: left;
  position: relative;
  top: -$line-height-computed;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.05em;
}
.location-type-selector .selector-label,
.location-type-selector .selector-items a {
  padding-top: 2px;
  padding-bottom: 2px;
}
.location-type-selector .selector-label {
  float: left;
  color: $gray-light;
}
.location-type-selector .selector-items {
  float: left;
}
.location-type-selector .selector-items li {
  float: left;
  margin-left: 10px;
}
.location-type-selector .selector-item a {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border-radius: 10px;
}
.location-type-selector .selector-item .disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.3;
}
.location-type-selector .selector-item.active a {
  background-color: $gray;
}
.location-type-selector .selector-item-green.active a {
  background-color: $brand-success;
}
.location-type-selector .selector-item-orange.active a {
  background-color: $brand-warning;
}
