<div class="row" ng-if="dateRangesLoaded" translate-namespace="usageOfAreasView">
  <div class="location-type-selector col-xs-12">
    <div class="selector-label" translate>.SHOW</div>

    <ul class="selector-items list-unstyled">
      <li
        ng-repeat="option in ::locationTypeOptions track by option.locationType"
        class="selector-item selector-item-{{::option.color}} selector-item-location-type-{{::option.locationType.toLowerCase()}}"
        ui-sref-active="active"
        ng-switch="!currentLocation || currentLocation.location_type === option.locationType">
        <a
          ng-switch-when="true"
          ui-sref="analytics.organization.site.usageOfAreas({ locationTypeFilter: option.locationType })"
          translate>
          {{::option.displayName}}
        </a>
        <a ng-switch-when="false" class="disabled" translate>{{::option.displayName }}</a>
      </li>

      <li class="selector-item selector-item-location-type-all" ui-sref-active="active">
        <a ui-sref="analytics.organization.site.usageOfAreas({ locationTypeFilter: null })" translate>.ALL</a>
      </li>
    </ul>
  </div>
</div>

<div class="row" ng-if="::dateRangesLoaded">
  <div class="{{::widgetContainerClassNames}}" ng-repeat="widgetType in ::widgetsToShow track by widgetType">
    <traffic-heatmap-widget
      ng-if="::widgetType === 'traffic_percentage_location'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      location-types="::locationTypes"
      number-format-name="::numberFormatName"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      on-location-click="goToLocation"
      language="::language"
      kpi="traffic_percentage"
      on-export-click="exportWidget('traffic_percentage_location')"
      export-is-disabled="widgetIsExported('traffic_percentage_location')"
      set-selected-widget="setSelectedWidget('traffic_percentage_location')">
    </traffic-heatmap-widget>

    <one-and-done-heatmap-widget
      ng-if="::widgetType === 'one_and_done' && siteHasCompatibleLocations('one_and_done')"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      location-types="::locationTypes"
      number-format-name="::numberFormatName"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      on-location-click="goToLocation"
      language="::language"
      kpi="one_and_done"
      on-export-click="exportWidget(widgetType)"
      export-is-disabled="widgetIsExported(widgetType)"
      set-selected-widget="setSelectedWidget(widgetType)">
    </one-and-done-heatmap-widget>

    <traffic-correlation-heatmap-widget
      ng-if="::widgetType === 'traffic_percentage_correlation'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      location-id="currentLocation.location_id"
      location-types="::locationTypes"
      number-format-name="::numberFormatName"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      on-location-click="goToLocation"
      language="::language"
      kpi="traffic_correlation"
      on-export-click="exportWidget('traffic_percentage_correlation')"
      export-is-disabled="widgetIsExported('traffic_percentage_correlation')"
      set-selected-widget="setSelectedWidget('traffic_percentage_correlation')">
    </traffic-correlation-heatmap-widget>

    <visits-before-heatmap-widget
      ng-if="::widgetType === 'locations_before'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      location-id="currentLocation.location_id"
      location-types="::locationTypes"
      number-format-name="::numberFormatName"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      on-location-click="goToLocation"
      language="::language"
      kpi="locations_before"
      on-export-click="exportWidget('locations_before')"
      export-is-disabled="widgetIsExported('locations_before')"
      set-selected-widget="setSelectedWidget('locations_before')">
    </visits-before-heatmap-widget>

    <visits-after-heatmap-widget
      ng-if="::widgetType === 'locations_after'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      location-id="currentLocation.location_id"
      location-types="::locationTypes"
      number-format-name="::numberFormatName"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      on-location-click="goToLocation"
      language="::language"
      kpi="locations_after"
      on-export-click="exportWidget('locations_after')"
      export-is-disabled="widgetIsExported('locations_after')"
      set-selected-widget="setSelectedWidget('locations_after')">
    </visits-after-heatmap-widget>

    <first-visits-heatmap-widget
      ng-if="::widgetType === 'first_visits'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      location-types="::locationTypes"
      number-format-name="::numberFormatName"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      language="::language"
      kpi="first_visits"
      on-export-click="exportWidget('first_visits')"
      export-is-disabled="widgetIsExported('first_visits')"
      set-selected-widget="setSelectedWidget('first_visits')">
    </first-visits-heatmap-widget>

    <traffic-list-widget
      ng-if="::widgetType === 'traffic_percentage_location_table'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      location-types="::locationTypes"
      number-format-name="::numberFormatName"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      language="::language"
      on-location-click="goToLocation"
      on-export-click="exportWidget(widgetType)"
      export-is-disabled="widgetIsExported(widgetType)"
      set-selected-widget="setSelectedWidget(widgetType)">
    </traffic-list-widget>

    <traffic-correlation-list-widget
      ng-if="::widgetType === 'traffic_percentage_correlation_table'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      location-id="currentLocation.location_id"
      location-types="::locationTypes"
      number-format-name="::numberFormatName"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      language="::language"
      on-location-click="goToLocation"
      on-export-click="exportWidget(widgetType)"
      export-is-disabled="widgetIsExported(widgetType)"
      set-selected-widge="setSelectedWidget(widgetType)">
    </traffic-correlation-list-widget>

    <visits-before-list-widget
      ng-if="::widgetType === 'locations_before_table'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      location-id="currentLocation.location_id"
      location-types="::locationTypes"
      number-format-name="::numberFormatName"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      language="::language"
      on-location-click="goToLocation"
      on-export-click="exportWidget(widgetType)"
      export-is-disabled="widgetIsExported(widgetType)"
      set-selected-widget="setSelectedWidget(widgetType)">
    </visits-before-list-widget>

    <visits-after-list-widget
      ng-if="::widgetType === 'locations_after_table'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      location-id="currentLocation.location_id"
      location-types="::locationTypes"
      number-format-name="::numberFormatName"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      language="::language"
      on-location-click="goToLocation"
      on-export-click="exportWidget(widgetType)"
      export-is-disabled="widgetIsExported(widgetType)"
      set-selected-widget="setSelectedWidget(widgetType)">
    </visits-after-list-widget>

    <first-visits-list-widget
      ng-if="::widgetType === 'first_visits_table'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      location-types="::locationTypes"
      number-format-name="::numberFormatName"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      language="::language"
      on-export-click="exportWidget(widgetType)"
      export-is-disabled="widgetIsExported(widgetType)"
      set-selected-widget="setSelectedWidget(widgetType)">
    </first-visits-list-widget>

    <one-and-done-list-widget
      ng-if="::widgetType === 'one_and_done_table' && siteHasCompatibleLocations('one_and_done')"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      location-types="::locationTypes"
      number-format-name="::numberFormatName"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      language="::language"
      on-location-click="goToLocation"
      on-export-click="exportWidget(widgetType)"
      export-is-disabled="widgetIsExported(widgetType)"
      set-selected-widget="setSelectedWidget(widgetType)">
    </one-and-done-list-widget>

  </div>
</div>
