.admin-organization-management {
  position: relative;
  .admin-org-edit-view {
    background: $gray-lighter;
    z-index: 1;
  }
  .org-actions {
    span.icon:hover {
      cursor: pointer;
    }
  }

}
