.widget-library {

	&__header {
		border-bottom: 1px solid $gray-light;
		margin-bottom: 50px;
		height: 68px;
		h1 {
			font-size: 16px;
			i {
				color: $gray-light;
		    font-size: 36px;
				margin-right: 15px;
			}
			span {
				color: $gray-light;
				margin-top: 12px;
    		display: inline-block;
				vertical-align: top;
				font-weight: 500;
			}
		}
	}

}