<div class="widget-library">
	<div class="row">
		<div class="widget-library__header">
			<header>
				<div class="col-xs-12 col-md-6">
					<h1><i title="Widget Library" class="sticon sticon-transactions" aria-hidden="true"></i><span translate>views.WIDGETLIBRARY</span></h1>
				</div>
			</header>
		</div>
	</div>
</div>