.admin-sites {

  div.table-responsive {
    max-height: 300px;
    overflow-y: auto;
  }

  /* Table customizations */
  .table {
    th[data-field="sites-date"],
    th[data-field="sites-subscriptions"],
    th[data-field="sites-actions"] {
      text-align: center;
    }
    td.site-date {
      width: 135px;
      text-align: center;
    }
    th.site-id {
      width: 120px;
      text-align: center;
    }
    td.site-id {
      text-align: center;
    }
    td.site-subscriptions {
      width: 135px;
      text-align: center;
    }
    td>span {
      cursor: pointer;
    }
    td.site-subscriptions>button {
      border: none;
      background: none;
      width: 100%;
      padding: 0;
      .caret {
        margin-left: 24px;
      }
    }
    >tbody>tr>td[class*="actions"] {
      width: 120px;
    }
  }
}
