<div class="admin-sites" ng-controller="AdminSitesTableController as table">
  <div class="action-bar sites-action-bar">
    <h1 translate>.SITES</h1>
    <div class="add-new-action" ng-click="vm.addSite()">
      <span class="icon icon-add">
        <span class="sticon sticon-add"></span>
      </span>
      <span class="label-text">Add new</span>
    </div>

    <div>
      <input placeholder="Search sites..." class="form-control" name="sitename" type="text" autocomplete="off"  ng-model="table.sitesearch"/>
    </div>

    <div class="refresh-all-action">
      <span class="icon icon-refresh">
        <span class="sticon sticon-refresh" ng-click="table.refresh()"></span>
      </span>
      <span class="label-text">Refresh all</span>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th data-field="sites sites-name" ng-click="table.sortByName()" translate>
            .SITENAME
          </th>
          <th data-field="sites sites-id" class="site-id" ng-click="table.sortById()" translate>
            .CUSTOMERSITEID
          </th>
          <th data-field="sites-date" ng-click="table.sortByType()" translate>
            .DATEADDED
          </th>
          <th data-field="sites-actions" translate>
            .ACTIONS
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="site in table.sites | filter:{ name:table.sitesearch } track by site.id">
          <td>{{ ::site.name }}</td>
          <td class="site-id">{{ ::site.customer_site_id }}</td>
          <td class="site-date">
            {{ ::site.created }}
          </td>
          <td class="site-actions">
            <span class="icon icon-edit" data-title="{{ 'admin.EDITSITE' | translate }}" bs-tooltip>
              <span class="sticon sticon-edit-small" ng-click="vm.editSite(site.id)"></span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
