<div class="row" ng-if="dateRangesLoaded">
  <div
    class="col-sm-12"
    ng-repeat="metricType in ::metricsToShow track by $index">

    <!-- 5 KPI summary widget -->
    <kpi-summary-widget-container
      ng-if="::metricType === 'kpi_summary_widget_container'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      current-site="::currentSite"
      zone-id="currentZone.id"
      operating-hours="operatingHours"
      date-range="dateRange"
      compare-range-1="compareRange1"
      compare-range-1-type="compareRange1Type"
      compare-range-2="compareRange2"
      compare-range-2-type="compareRange2Type"
      date-range-keys="salesDateRanges"
      current-organization="::currentOrganization"
      current-user="::currentUser"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="::firstDayOfWeek"
      site-has-labor="::siteHasLabor"
      site-has-sales="::siteHasSales"
      hide-export-icon="false"
      is-loading="isLoading[metricType]"
      on-export-click="exportWidget('kpi_summary_widget_container')"
      set-selected-widget="setSelectedWidget('kpi_summary_widget_container')"
      export-is-disabled="widgetIsExported('kpi_summary_widget_container', viewData[metricType])">
    </kpi-summary-widget-container>

    <!-- Traffic (perimeter) widget -->

    <line-high-chart-widget
      id="traffic-tab-traffic-line-high-chart-widget"
      ng-if="::metricType === 'traffic'"
      widget-icon="entrance"
      language="::language"
      kpi="kpi.name"
      sales-categories="salesCategoriesTraffic.selection"

      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      current-site="::currentSite"

      zone-id="currentZone.id"
      show-weather-metrics = "::showWeatherMetrics"

      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-1-type="compareRange1Type"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      compare-range-2-type="compareRange2Type"
      current-organization="::currentOrganization"
      current-user="::currentUser"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="::firstDayOfWeek"
      selected-weather-metrics="selectedWeatherMetrics"
      update-selected-weather-metrics="updateSelectedWeatherMetrics"

      api-endpoint="kpis/traffic"
      api-return-key="total_traffic"
      get-unique-returning="false"
      separate-summary-requests="false"
      operating-hours="operatingHours"
      group-by="viewData[metricType].groupBy"
      selected-option="viewData[metricType].selectedOption"

      is-loading="isLoading[kpi.name]"
      on-select-option="onSelectOption(option)"
      hide-export-icon="false"
      on-export-click="exportWidget(kpi.name,false)"
      export-is-disabled="widgetIsExported(kpi.name, viewData[metricType],'traffic')"
      show-metrics="::showMetrics"
      set-selected-widget="setSelectedWidget(metricType)">
    </line-high-chart-widget>

    <!-- Traffic (perimeter) widget -->
    <entrance-contribution-widget
      ng-if="::metricType === 'entrance_contribution'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      zone-id="currentZone.id"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"

      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-1-type="compareRange1Type"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      compare-range-2-type="compareRange2Type"
      current-organization="::currentOrganization"
      current-user="::currentUser"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="::firstDayOfWeek"
      group-by="groupBy"

      language="::language"
      operating-hours="operatingHours"
      summary-key="entrance_contribution"
      on-export-click="exportWidget('entrance_contribution')"
      export-is-disabled="widgetIsExported('entrance_contribution', viewData[metricType])"
      sort-type="viewData[metricType].sortType"
      filter-query="viewData[metricType].zoneFilterQuery"
      site-zones="::zones"
      is-loading="isLoading[metricType]"
      set-selected-widget="setSelectedWidget('entrance_contribution')">
    </entrance-contribution-widget>

    <entrance-contribution-pie-widget
      ng-if="::metricType === 'entrance_contribution_pie'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      zone-id="currentZone.id"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      language="::language"

      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-1-type="compareRange1Type"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      compare-range-2-type="compareRange2Type"
      current-organization="::currentOrganization"
      current-user="::currentUser"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="::firstDayOfWeek"

      is-loading="isLoading[metricType]"
      operating-hours="operatingHours"
      summary-key="entrance_contribution_pie"
      on-export-click="exportWidget('entrance_contribution_pie')"
      export-is-disabled="widgetIsExported('entrance_contribution_pie', viewData[metricType])"
      site-zones="::zones"
      set-selected-widget="setSelectedWidget('entrance_contribution_pie')"
      segments="viewData[metricType].chartSegments">
    </entrance-contribution-pie-widget>

    <tenant-traffic-table-widget
      ng-if="::metricType === 'tenant_traffic_table_widget'"
      org-id="::currentSite.organization.id"
      site="::currentSite"
      zone-id="currentZone.id"

      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-1-type="compareRange1Type"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      compare-range-2-type="compareRange2Type"
      current-organization="::currentOrganization"
      current-user="::currentUser"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="::firstDayOfWeek"

      zone-filter-query="viewData[metricType].zoneFilterQuery"
      sort-type="viewData[metricType].sortType"
      comparison-column-index="viewData[metricType].comparisonColumnIndex"
      child-property="viewData[metricType].childProperty"
      operating-hours="operatingHours"

      is-loading="isLoading[metricType]"
      on-export-click="exportWidget('tenant_traffic_table_widget')"
      export-is-disabled="widgetIsExported('tenant_traffic_table_widget', viewData[metricType])"
      widget-icon="tenant-fat"
      set-selected-widget="setSelectedWidget('tenant_traffic_table_widget')">
    </tenant-traffic-table-widget>


    <other-areas-traffic-table-widget
      ng-if="::metricType === 'other_areas_traffic_table_widget'"
      org-id="::currentSite.organization.id"
      site="::currentSite"
      zone-id="currentZone.id"

      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-1-type="compareRange1Type"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      compare-range-2-type="compareRange2Type"
      current-organization="::currentOrganization"
      current-user="::currentUser"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="::firstDayOfWeek"

      zone-filter-query="viewData[metricType].zoneFilterQuery"
      sort-type="viewData[metricType].sortType"

      comparison-column-index="viewData[metricType].comparisonColumnIndex"
      child-property="viewData[metricType].childProperty"
      operating-hours="operatingHours"

      is-loading="isLoading[metricType]"
      on-export-click="exportWidget('other_areas_traffic_table_widget')"
      export-is-disabled="widgetIsExported('other_areas_traffic_table_widget', viewData[metricType])"
      widget-icon="location-fat"
      set-selected-widget="setSelectedWidget('other_areas_traffic_table_widget')">
    </other-areas-traffic-table-widget>

    <power-hours-widget
      ng-if="::metricType === 'power_hours'"
      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      zone-id="currentZone.id"
      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      current-organization="::currentOrganization"
      current-site="::currentSite"
      current-user="::currentUser"
      active-option="viewData[metricType].displayType"
      summary-key="power_hours"
      language="language"
      operating-hours="operatingHours"
      is-loading="isLoading[metricType]"
      on-export-click="exportWidget('power_hours')"
      export-is-disabled="widgetIsExported('power_hours', viewData[metricType]) || isLoading[metricType]"
      set-selected-widget="setSelectedWidget('power_hours')">
    </power-hours-widget>

    <traffic-per-weekday-widget
      ng-if="::metricType === 'traffic_per_weekday'"

      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      zone-id="currentZone.id"
      kpi="traffic_weekday_distribution"

      date-range="dateRange"
      compare-range-1="compareRange1"
      compare-range-2="compareRange2"
      compare-range-1-type="compareRange1Type"
      compare-range-2-type="compareRange2Type"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="firstDayOfWeek"
      operating-hours="operatingHours"

      current-organization="::currentOrganization"
      current-site="::currentSite"
      current-zone="currentZone"
      current-user="::currentUser"

      is-loading="isLoading[metricType]"
      language="language"
      is-shown="viewData[metricType].showTable"
      selected-days="viewData[metricType].selectedDays"
      selected-metric="viewData[metricType].selectedMetric"
      order-by="viewData[metricType].orderTable"
      order-reverse="viewData[metricType].orderReverse"
      widget-icon="calendar-arrow"
      hide-export-icon="false"
      on-export-click="exportWidget('traffic_per_weekday')"
      export-is-disabled="widgetIsExported('traffic_per_weekday', viewData[metricType])"
      sales-categories="salesCategoriesTrafficWeekday.selection"
      set-selected-widget="setSelectedWidget('traffic_per_weekday')">
    </traffic-per-weekday-widget>

    <daily-performance-widget
      ng-if="::metricType === 'daily_performance_widget' && showPerfWidget"
      date-range="dateRange"
      current-organization="::currentOrganization"
      current-site="::currentSite"
      current-user="::currentUser"
      zone-id="currentZone.id"
      show-table="viewData[metricType].showTable"
      selected-days="viewData[metricType].selectedDays"
      on-export-click="exportWidget('daily_performance_widget')"
      export-is-disabled="widgetIsExported('daily_performance_widget', viewData[metricType])"
      site-has-labor="::siteHasLabor"
      site-has-sales="::siteHasSales"
      is-loading="isLoading[metricType]"
      current-sort="viewData[metricType].orderTable"
      current-sort-direction="viewData[metricType].orderTableDirection"
      sales-categories="salesCategoriesDailyPerf.selection"
      set-selected-widget="setSelectedWidget('daily_performance_widget')">
    </daily-performance-widget>

  </div>

</div>
