.retail-table {

  .nodata-container {
    height: 100%;
  }

  .nodata {
    top: 50%;
    width: 100%;
    text-align: center;
    position: absolute;
    background:#fff;
    padding:10px 0;
  }

  .site-link {
    padding-left: 14px;
    padding-right: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .site-link a {
    font-weight: normal;
    padding: 0 0 0 5px;
    text-decoration: none;
    color: black;
  }

  .org-filter {
    height: 30px;
    margin-top: 10px;
  }

  .org-filter .filter-sites{
    height: 100%;
  }

  input[type="search"] {
      font-weight: normal;
  }

  tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 2px !important;
  }

  .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #fafafa;
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
  }

  .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    border: 1px solid #0aaaff;
  }

  tr:nth-of-type(even) td {
    border-bottom:1pt solid #fafafa !important;
  }

  tr:nth-of-type(odd) td {
    border-bottom:1pt solid #fff !important;
  }

  .header-cell {

    .metric-label {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }

    .percentage-change {
      font-weight: normal;
      text-transform: uppercase;
      text-align: center;
    }

    .sort-btn {
      font-family: 'retailmanager-icons';
      font-size: 6pt;
      position: absolute;
      top: 0;
      right: 5px;
    }

    .sort-btn.sort-desc {
      &:before {
        content: "\E022";
        color: #0aaaff;
      }
    }

    .sort-btn.sort-asc {
      &:before {
        content: "\E021";
        color: #0aaaff;
      }
    }
  }

  .header-cell:first-of-type {
    .sort-btn.sort-desc {
      &:before {
        content: "";
      }
    }

    .sort-btn.sort-asc {
      &:before {
        content: "";

      }
    }
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .retail-table .cell-content span {
    font-size: 11px;
  }
}

.scrollableContainer {
  height: 508px;
  position: relative;
  padding-top: 49px !important;
  overflow: hidden;
}

.scrollableContainer {
  .headerSpacer {
    border-bottom: 1px solid #d5d5d5;
    position: absolute;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
  }

  .scaler {
    position: absolute;
    top: 0px;
    width: 2px;
    height: 100%;
    background-color: #CFCFCF;
  }

  th .resize-rod {
    position: absolute;
    top: 0;
    right: 0;
    cursor: ew-resize;
    width: 4px;
    height: 100%;
  }

}

.scrollArea {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid transparent;
}

.scrollArea {
  table th:first-child .box {
    padding: 0 8px;
    padding-right: 11px;
    border-left: none;
  }

  table {
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0;
    width: 100%;
    border: none;
  }

  table th {
    padding: 0 !important;
    border: none !important;
    min-width: 40px;
  }

  table .th-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 0;
    height: 50px !important;
    line-height: 50px !important;
  }

  table th .box {
    cursor: pointer;
    padding: 0 8px;
    padding-right: 11px;
    border-left: 1px solid #0aaaff;
  }

  table tr th:first-child th .box {
    border-left: none;
  }

  table .th-inner.condensed {
    padding: 0 3px;
  }

  table tbody tr td:first-child {
    border-left: none;
  }

  table tbody tr td:last-child {
    border-right: none;
  }

  table tbody tr:first-child td {
    border-top: none;
  }

  table tbody tr:last-child td {
    border-bottom: 2px solid #ddd;
  }

  table tbody tr td {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .th-inner {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.scrollable-resizing .scrollableContainer {
  cursor: ew-resize;
  user-select:none;
}
