.retail-store-summary-widget .widget-actions .btn-group {
  margin-right:10px;
}

.retail-store-summary-widget .panel-body {
  min-height: 400px;
}

.retail-store-summary-widget .loader {
  position: absolute;
  height: 75% !important;
  width: calc(100% - 60px);
}

.retail-summary-widget .highcharts-axis text span {
  font-weight:bold;
}


.retail-extreme-checkbox {
  font-size:11px;
  margin: 0px 10px 0;
}
.retail-extreme-checkbox label {
  padding-left:3px;
}

.dropdown-menu li a {
  cursor:pointer;
}

.widget-actions .btn-group.open {
  background:transparent;
}

.kpi-dropdown {
  float:left;
  margin-top:2px;
}

.filter-search {
  border:1px solid #dedede;
  border-radius:10px;
  float:left;
  margin-top:2px;
  font-size: 12px;
  padding: 3px 7px;
}

.filter-search .sticon {
  font-size: 17px;
  margin-right: 2px;
  margin-top: -5px;
  color:$brand-primary;
}

.filter-search input {
  font-size:12px;
  border:0;
  outline:none;
}

.retail-summary-tooltip {
  min-width:150px;

  h3 {
    font-size:12px;
    text-decoration:none;
    line-height:2;
    font-weight:700;
    margin:0;
    padding:0;
  }

  table {
    border:0;
    padding:0;
    width:100%;

    tr {
      th {
        width: 70%;
        padding:2px 0;
      }
      td {
        width: 30%;
        padding:2px 0;
      }
    }
  }
}

.daily-breakdown .highcharts-markers path {
  cursor: pointer;
}

.has-fixed-popup .highcharts-tooltip {
  visibility: hidden;

  span {
    visibility: hidden;
  }

  &.fixed {
    visibility: visible;

    span {
      visibility: visible;
    }
  }
}
