<widget class="retail-store-summary-widget" translate-namespace="retailOrganization">
  <widget-header
    widget-title="{{ 'kpis.kpiTitle.retail_store_summary' | translate}}"
    icon="performance"
    hide-export-icon="vm.hideExportIcon"
    disable-export="vm.exportIsDisabled"
    on-export-click="vm.onExportClick()"
    set-selected-widget="vm.setSelectedWidget()">

    <left>
      <span class="btn-group kpi-dropdown" ng-class="{ 'open' : isOpenCategory }">
        <button
          type="button"
          class="btn btn-xs btn-default dropdown-toggle"
          ng-click="isOpenCategory = !isOpenCategory"
          off-click="isOpenCategory = false">
          <span ng-show="vm.selectedCategory === ''" translate>.ALLSTORES</span>
          <span ng-show="vm.selectedCategory === 0" translate>.OUTOFSTOREOPPORTUNITY</span>
          <span ng-show="vm.selectedCategory === 1" translate>.HIGHPERFORMERS</span>
          <span ng-show="vm.selectedCategory === 2" translate>.INSTOREOPPORUNITY</span>
          <span ng-show="vm.selectedCategory === 3" translate>.POORPERFORMERS</span>
          <span class="caret" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ng-click="vm.filterCategory('')" translate>.ALLSTORES</a></li>
          <li><a ng-click="vm.filterCategory(0)" translate>.OUTOFSTOREOPPORTUNITY</a></li>
          <li><a ng-click="vm.filterCategory(1)" translate>.HIGHPERFORMERS</a></li>
          <li><a ng-click="vm.filterCategory(2)" translate>.INSTOREOPPORUNITY</a></li>
          <li><a ng-click="vm.filterCategory(3)" translate>.POORPERFORMERS</a></li>
        </ul>
      </span>

      <span class="btn-group kpi-dropdown" ng-class="{ 'open' : isOpenRet }">
        <button
          type="button"
          class="btn btn-xs btn-default dropdown-toggle"
          ng-click="isOpenRet = !isOpenRet"
          off-click="isOpenRet = false">
          <span translate>{{ 'kpis.kpiTitle.' + vm.activeKpi }}</span>
          <span class="caret" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ng-click="vm.changeKpi('conversion')" translate>kpis.kpiTitle.conversion</a></li>
          <li><a ng-click="vm.changeKpi('sales')" translate>kpis.kpiTitle.sales</a></li>
        </ul>
      </span>

      <span class="filter-search">
        <input type="search" ng-model="vm.filter.text" placeholder="{{ 'retailOrganization.FILTERSITES' | translate}}" ng-model-options="{ debounce: 400 }" />
        <span class="sticon sticon-search"></span>
      </span>

      <span class="btn-group retail-extreme-checkbox">
        <input type="checkbox" ng-model="vm.extremeToggle.checkbox" value="1" ng-click="vm.toggleExtremes()"/><label translate>.EXTREMEVALUES</label>
      </span>
    </left>
    <right>
      <sales-categories-selector
        categories="::vm.categories"
        selected-categories="vm.salesCategories">
       </sales-categories-selector>
    </right>
  </widget-header>

  <widget-body>

    <div class="col-xs-12" ng-if="!vm.widgetDataIsLoading && vm.hasData() && vm.chartData.length > 0">
      <highchart id="chart1" config="vm.chartConfig"></highchart>
    </div>
    <div class="col-xs-12 loader" ng-show="vm.widgetDataIsLoading || vm.widgetDataIsLoading">
      <span translate>common.LOADING</span>
    </div>
    <div ng-show="requestFailed" class="col-xs-12 text-center error-message">
      <span translate>common.DATAERROR</span>
    </div>
    <div ng-show="!vm.widgetDataIsLoading && vm.chartData.length === 0" class="col-xs-12 text-center error-message">
      <span translate>common.NODATA</span>
    </div>

  </widget-body>
</widget>
