.admin-confirm-delete-tag {
  .modal-confirm-delete {
    width: 560px;
    margin-left: 20px;
  }
  .delete-tag-title {
    display: block;
  }
  .exclamation-mark {
    text-align: center;
    display: block;
    margin: 20px 0 -10px 0;
    color: #BCB9B9;
    font-size: 70px;
  }
  .close {
    font-size: 45px;
    box-shadow: none;
  }
  .delete-tag-btn {
    background-color: #0AAAFF;
    color: white;
  }
  .modal-header {
    padding-top: 15px;
    border-bottom: 0px;
  }
  .affected-users {
    max-height: 300px;
    overflow-y: auto;
  }
}
