.heatmap {
  display: block;
}
.heatmap .floor-selector {
  position: absolute;
  top: $panel-body-padding;
  left: $panel-body-padding;
  z-index: 1000;
}
.heatmap .heatmap-map {
  display: block;
  width: 100%;
  height: 100%;
}
.heatmap .heatmap-map .leaflet-clickable {
  cursor: default;
}
.heatmap .heatmap-map.clickable .leaflet-clickable {
  cursor: pointer;
}
.heatmap .leaflet-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.heatmap .heatmap-legend {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: $panel-body-padding;
}
.heatmap .heatmap-value-legend {
  margin-right: 20px;
  overflow: hidden;
  float: left;
}
.heatmap .heatmap-value-legend-label,
.heatmap .heatmap-value-legend-high-label,
.heatmap .heatmap-value-legend-low-label,
.heatmap .heatmap-value-legend-items {
  float: left;
  margin-right: 5px;
}
.heatmap .heatmap-value-legend-items {
  overflow: hidden;
  margin-top: 5px;
  border-radius: 5px;
}
.heatmap .heatmap-value-legend-item {
  float: left;
  height: 10px;
  width: 25px;
}
.heatmap .heatmap-selected-location-legend-label {
  float: left;
}
.heatmap .heatmap-selected-location-legend-item {
  position: relative;
  top: 5px;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: $brand-success;
}
.heatmap .highlighted-location-info {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  min-width: 220px;
  padding: $panel-body-padding;
  background: rgba(255, 255, 255, 0.8);
}
