<table class="traffic-per-weekday-widget-table table-striped" ng-show="!vm.isLoading && vm.exists && vm.isShown">
  <thead>
    <tr>
      <th
        ng-if="!vm.isHourly"
        class="weekday-column text-center sortable"
        ng-class="{'active': vm.orderBy === 'dayOfWeekIndex'}">
        <a ng-click="vm.orderTableBy('dayOfWeekIndex')">
          <span class="sticon sticon-change"></span>
        </a>
      </th>
      <th
        ng-if="vm.isHourly"
        class="weekday-column text-center sortable"
        ng-class="{'active': vm.orderBy === 'hourOfDayIndex'}">
        <a ng-click="vm.orderTableBy('hourOfDayIndex')">
          <span class="sticon sticon-change"></span>
        </a>
      </th>
      <th
        class="kpi-name-column text-center sortable"
        ng-class="{'active': vm.orderBy === metric, 'colgroup-start': $index > 0}"
        ng-repeat-start="metric in vm.availableMetrics track by $index">
        <a ng-click="vm.orderTableBy(metric)">
          {{ 'kpis.kpiTitle.' + vm.metricsConfiguration[metric].translationLabel | translate }}
        </a>
      </th>
      <th
        class="kpi-change-column colgroup-end text-center sortable"
        ng-class="{'active': vm.orderBy === metric+'_change_numeric'}"
        ng-repeat-end>
        <a ng-click="vm.orderTableBy(metric+'_change_numeric')">
          <span class="sticon sticon-change"></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in vm.tableData track by $index">
      <td translate>{{row.dayOfWeek || row.hourOfDay}}</td>
      <td class="text-center" ng-class="{'colgroup-start': $index > 0}" ng-repeat-start="metric in vm.availableMetrics track by $index">
        <span ng-show="row[ metric ] !== null">{{::vm.metricsConfiguration[ metric ].prefixSymbol}}{{ row[ metric ] | formatNumber:vm.metricsConfiguration[ metric ].precision:vm.numberFormatName }}{{::vm.metricsConfiguration[ metric ].suffixSymbol}}</span>
        <span ng-show="row[ metric ] === null">-</span>
      </td>
      <td class="text-center colgroup-end {{ row[metric + '_change_type'] }}" ng-repeat-end>
        <span ng-show=" row[ metric + '_change' ] !== null ">{{ row[ metric + '_change' ] }}</span>
        <span ng-show=" row[ metric + '_change' ] === null ">-</span>
      </td>
    </tr>
  </tbody>
  <tfoot ng-if="!vm.isHourly">
    <tr>
      <td class="average-row average-head" translate>.AVERAGE</td>
      <td class="average-row text-center" ng-repeat-start="metric in vm.availableMetrics track by $index">
        {{::vm.metricsConfiguration[ metric ].prefixSymbol}}{{ vm.averageTableData[ metric ] | formatNumber:vm.metricsConfiguration[ metric ].precision:vm.numberFormatName }}
      </td>
      <td class="average-row text-center {{ vm.averageTableData[metric + '_change_type'] }}" ng-repeat-end>
        {{ vm.averageTableData[ metric + '_change' ] }}
      </td>
    </tr>
  </tfoot>
</table>
