<div class="no-mi">
  <div>{{ vm.existingMi }}</div>
  <div ng-if="vm.miAvailable===false" translate>.MARKETINTELLIGENCEISCURRENTLYUNAVAILABLE</div>
  <div>
    <span class="sticon sticon-market-insight" aria-hidden="true"></span>
  </div>
</div>