<div class="row" ng-repeat="component in ::vm.metricsToShow track by component">

  <div class="col-xs-12" ng-if="::vm.params && component === 'segment'">
    <segment-widget
      params="vm.params"
      number-format-name="::vm.numberFormatName"
      org="::vm.currentOrganization"
      on-export-click="vm.exportWidget(component)"
      export-is-disabled="vm.widgetIsExported(component, vm.viewData[component])"
      first-time-configure="vm.firstTimeConfigure"
      show-org-index="::vm.showOrgIndex">
    </segment-widget>
  </div>

  <div class="col-xs-12" ng-if="component === 'market-intelligence'">
    <div class="pull-right">
      <mi-list
        subscriptions="vm.flatSubscription"
        selectitem="vm.selectedItem"
        segments="vm.selectedAdvanceOption"
        user-segments="vm.defaultSegment"
        class="mi-list"
        org-id="::vm.currentOrganization.organization_id"
        dashboard-mi="vm.dashboardMi"
        selected-segment="vm.selectedSegment"
        rules="vm.rules"
        should-reset-on-cancel="false">
      </mi-list>
    </div>
  </div>

  <div class="col-xs-12" ng-if="component === 'market-intelligence'">
    <market-intelligence-widget
      segments="vm.selectedAdvanceOption"
      selected-options="vm.selectedOptions"
      geography="vm.geography"
      trend-analysis-panel-array="vm.trendAnalysisPanelArray"
      number-format-name="::vm.numberFormatName"
      current-user="::vm.currentUser"
      date-format="::vm.dateFormat"
      current-org="::vm.currentOrganization"
      show-org-index="::vm.showOrgIndex"
      is-prior-year="::vm.isPriorYear">
    </market-intelligence-widget>
  </div>
</div>
