.line-chart-widget .panel-body {
  height: 100%;
  min-height:400px;
  padding: 0;
  .kpi-detail-widget-legend{
    min-height:360px;
  }
}

// Custom Dashboard grid views
.line-chart-widget {
  .dashboard__widget.widget-layout-1x & {
    .chart-section {
      width:100%;
    }

    .kpi-detail-widget-legend  {
      width:100%;
      min-height: 0px !important;
      height:auto;
    }

    .line-chart-widget-summary {
      border-top:1px solid $gray-lighter;
      padding-top:10px;
      width:100%;

      .value {
        padding-top: 20px !important;
      }
    }
    .line-chart-widget-compare {
      display:none;
    }

    .panel-body {
      min-height: inherit !important;
      height:auto;
    }
  }
  .dashboard__widget.widget-layout-2x & {

    .chart-section {
      width:100%;
    }

    .kpi-detail-widget-legend  {
      width:100%;
      min-height: 0px !important;
      height:auto;
    }

    .line-chart-widget-summary-container {
      border-top:1px solid $gray-lighter;
      width:100%;
      display:flex;
      flex-direction:column;
      padding-top:0;
      margin-bottom:-20px;
    }

    .line-chart-widget-summary {
      width:50%;
      position:absolute;
      top:0;
      padding-top: 10px;

        .value {
          padding-top: 20px !important;
        }
    }
    .line-chart-widget-compare {
      min-height:0;
      position: relative;
      width:50%;
      margin:0;
      height:50%;
      margin-left:50%;
      bottom: inherit !important;
      padding-bottom:15px;

      &.prior-period {
        border-top:none;
      }
    }
    .panel-body {
      min-height: inherit !important;
      height:auto;
    }
  }
  .dashboard__widget.widget-layout-4x & {
    .panel-body {
      min-height: inherit !important;
      height:auto;
    }
  }
}


// Chart section

  .line-chart-widget .chart-section {
    padding: 20px 10px 54px;
    position:relative;
    min-height:300px;
  }

  .line-chart-widget .ct-chart {
    height:300px;
  }

  .line-chart-widget .chart-legend {
    margin-left:20px;
  }

  .line-chart-widget .ct-chart .ct-point:not(.is-hovered) {
    stroke-width: 1px;
  }

  .line-chart-widget .ct-chart-container {

    // When overriden into 'column chart' mode:
    &.is-column-chart {

      .ct-bar {
        stroke-width: 6px !important;
      }

      .ct-grid.ct-vertical {
        stroke-dasharray: 0;
      }

      .chart-legend {
        margin-left: 10px;
      }

      .chart-legend-label .label-strong {
        font-weight:600;
      }

      .ct-label.ct-horizontal {
        margin-left:0px !important;
      }

    }
  }

// PDF-exports

  .pdf-export .line-chart-widget .chart-section {
    width: 100% !important;
  }

  .pdf-export .line-chart-widget .kpi-detail-widget-legend  {
    width: 100% !important;
    border-top: 1px solid #edebeb !important;
  }

  .line-chart-widget .ct-labels .ct-horizontal {
    display:block;
    margin-left:-12px !important;
  }

// Tooltips

  .tooltip-loading-icon {
    width:14px;
  }

// Summary section

.line-chart-widget-summary-container {
  padding-top: 10px;
}

.line-chart-widget-summary {
  .period-label {
    font-weight:bold;
    font-size:15px;
    text-align:left;
  }
  .period-label:before {
    content: "";
    position: relative;
    top: 7px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    margin-right: 4px;
    border-radius: 5px;
    background:$brand-success;
  }
  .selected-period {
    font-size:10px;
    font-weight:400;
    line-height:25px;
    color: $gray-light;
    text-align:right;
  }
  .value {
    font-size:32px;
    font-weight:700;
    line-height:0.7;
    padding:25px 0;
    clear: both;
    position:relative;

    span {
      margin-left:7px;
    }

    small {
      font-weight:400;
      text-transform:uppercase;
      color:$gray-light;
      font-size:13px;
    }

    &.no-details {
      padding-top:50px;
    }
  }
  .traffic-share-info {
    font-size:15px;
    font-weight:700;
    line-height:1;
    bottom: 7px;
    small {
      font-weight:400;
      text-transform:uppercase;
      color:$gray-light;
      font-size:11px;
    }
  }
}

.legend-chart {
  position:absolute;
  top:0;
  left:0;
  width:100%;
}

.legend-chart .ct-chart {
  height:170px;
  margin-top:-10px;
}

.legend-chart .ct-chart .ct-series-b .ct-slice-donut {
  stroke: $gray-lighter;
}

.line-chart-widget-compare {
  padding-top:10px;
  border-top:1px solid darken($gray-lighter,2%);
  background:lighten($gray-lighter,4%);
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;

  .period-label {
    font-weight:600;
    font-size:12px;
    color: $gray-light;
    text-transform:uppercase;
    text-align:left;

    &.year:before {
      background:#be64f0;
    }
  }
  .period-label:before {
    content: "";
    position: relative;
    top: 5px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    margin-right: 4px;
    border-radius: 5px;
    background:$brand-primary;
  }
  .selected-period {
    font-size:10px;
    font-weight:400;
    line-height:19px;
    color: $gray-light;
    text-align:right;
  }

  .traffic-share-info {
    text-align:center;
    font-size:14px;
    line-height:1.25;
    font-weight:400;
    margin-top:5px;
    clear:both;
  }

  &.prior-period {
    bottom:100px;
  }

  .value {
    font-size:24px;
    font-weight:600;
    line-height:1.6;
    padding-right:15px;

    &.no-details {
      padding-top:10px;
    }
    .no-data {
      font-size:0.85em;
    }
  }
}

.line-chart-widget-delta {
  left: 16px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
}
.line-chart-widget-delta-icon {
  font-size: 20px;
  top: 6px;
}
.line-chart-widget-delta-icon-positive {
  color: $brand-success;
}
.line-chart-widget-delta-icon-negative {
  color: $brand-danger;
}
.line-chart-widget-delta-label {
  float:left;
  font-size:11px;
  display:inline-block;
  vertical-align:middle;
  line-height:1;
  color:$gray-light;
  top:33%;
  left:8px;
  position:absolute;
}

.kpi-detail-widget-legend {
  text-align:center;
  font-size:16px;
  color:$gray-dark;
  padding: 0;
  height:50%;
  border-top:1px solid $gray-lighter;
}
.kpi-detail-widget-legend-container {
  padding-top: 10px;
}

@media  (max-width: $screen-sm-min) , (max-width: 1279px) {
  .error-message span {
    white-space: pre-wrap !important;
  }
}

.kpi-detail-widget-current {
  .period-label {
    font-weight:bold;
    font-size:15px;
    text-align:left;
  }
  .period-label:before {
    content: "";
    position: relative;
    top: 7px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    margin-right: 4px;
    border-radius: 5px;
    background:$brand-success;
  }
  .selected-period {
    font-size:10px;
    font-weight:400;
    line-height:25px;
    color: $gray-light;
    text-align:right;
  }
  .value {
    font-size:32px;
    font-weight:700;
    line-height:0.7;
    padding:25px 0;
    position:relative;

    span {
      margin-left:7px;
    }

    small {
      font-weight:400;
      text-transform:uppercase;
      color:$gray-light;
      font-size:13px;
    }

    &.no-details {
      padding-top:50px;
    }
  }
  .traffic-share-info {
    font-size:15px;
    font-weight:700;
    line-height:1;
    small {
      font-weight:400;
      text-transform:uppercase;
      color:$gray-light;
      font-size:11px;
    }
  }
}

.kpi-detail-widget-compare {
  padding-top:10px;
  border-top:1px solid darken($gray-lighter,2%);
  background:lighten($gray-lighter,4%);
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;

  .period-label {
    font-weight:600;
    font-size:12px;
    color: $gray-light;
    text-transform:uppercase;
    text-align:left;

    &.year:before {
      background:#be64f0;
    }
  }
  .period-label:before {
    content: "";
    position: relative;
    top: 5px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    margin-right: 4px;
    border-radius: 5px;
    background:$brand-primary;
  }
  .selected-period {
    font-size:10px;
    font-weight:400;
    line-height:19px;
    color: $gray-light;
    text-align:right;
  }

  .traffic-share-info {
    text-align:center;
    font-size:14px;
    line-height:1.25;
    font-weight:400;
    margin-top:5px;
    clear:both;
  }

  &.prior-period {
    bottom:100px;
  }

  .value {
    font-size:24px;
    font-weight:600;
    line-height:1.6;
    padding-right:15px;

    &.no-details {
      padding-top:10px;
    }
  }
}

.alert-widget-small {
  margin-top:30px;
  padding:5px;
}

.pdf-export .kpi-detail-widget-legend .kpi-detail-widget-compare .period-label,
.pdf-export .kpi-detail-widget-legend .kpi-detail-widget-current .period-label {
  font-size:10px;
  padding:0 0 0 10px;

  &:before {
    display:none;
  }
}

.pdf-export .kpi-detail-widget-legend .kpi-detail-widget-compare .selected-period,
.pdf-export .kpi-detail-widget-legend .kpi-detail-widget-current .selected-period {
  font-size:11px;
}

.pdf-export .kpi-detail-widget-legend .kpi-detail-widget-compare .value {
  padding:0;
}

.pdf-export .kpi-detail-widget .chart-container {
  width: 66.6666% !important;
  height: 90% !important;
}

@media screen and (min-width: 992px) {
  .kpi-detail-widget .panel-body {
    height: 400px;
  }
  .kpi-detail-widget .chart-container,
  .kpi-detail-widget-legend {
    height: 100%;
  }

  .kpi-detail-widget-legend {
    border-top:0;
  }
}

@media screen and (max-width: 425px) {
  .kpi-detail-widget .chart-container {
    padding: 20px 10px 64px;
  }
}

@media screen and (max-width: 320px) {
  .kpi-detail-widget .chart-container {
    padding: 20px 10px 78px;
  }
}
