<widget class="line-chart-widget" translate-namespace="lineChartWidget">
  <widget-header
    widget-title="{{ 'kpis.kpiTitle.' + lineChartWidget.kpi | translate }}"
    icon="{{ ::lineChartWidget.widgetIcon }}"
    hide-export-icon="lineChartWidget.hideExportIcon"
    disable-export="lineChartWidget.exportIsDisabled"
    on-export-click="lineChartWidget.onExportClick()"
    set-selected-widget="lineChartWidget.setSelectedWidget()">
    <left>
      <span ng-if="lineChartWidget.showMetrics && lineChartWidget.options.length > 1" class="dropdown btn-group" ng-class="{ 'open' : optionDropdownIsOpen }">
        <button class="btn btn-default btn-xs dropdown-toggle"
                ng-click="optionDropdownIsOpen = !optionDropdownIsOpen"
                off-click="optionDropdownIsOpen = false" >
          <span translate>
            {{ ('kpis.options.' + lineChartWidget.selectedOption.name)}}
          </span>
          <span class="caret" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="option in lineChartWidget.options track by $index">
            <a href ng-click="lineChartWidget.setOption(option)" translate>
              {{ ('kpis.options.' + option.name) }}
            </a>
          </li>
        </ul>

      </span>

      <span class="btn-group" ng-if="lineChartWidget.dateRangeSpansOverTwoCalendarWeeks(lineChartWidget.dateRangeStart, lineChartWidget.dateRangeEnd)">
        <button
          ng-class="{'active': lineChartWidget.groupBy === 'day'}"
          ng-click="lineChartWidget.setGroupBy('day')"
          class="btn btn-xs btn-default">
          <span translate>common.DAY</span>
        </button>

        <button
          ng-class="{'active': lineChartWidget.groupBy === 'week'}"
          ng-click="lineChartWidget.setGroupBy('week')"
          class="btn btn-xs btn-default">
          <span translate>common.WEEK</span>
        </button>

        <button
          ng-if="lineChartWidget.dateRangeSpansOverTwoCalendarMonths(lineChartWidget.dateRangeStart, lineChartWidget.dateRangeEnd)"
          ng-class="{'active': lineChartWidget.groupBy === 'month'}"
          ng-click="lineChartWidget.setGroupBy('month')"
          class="btn btn-xs btn-default">
          <span translate>common.MONTH</span>
        </button>
      </span>
    </left>
    <right>
        <sales-categories-selector
        ng-if="lineChartWidget.showSalesCategoriesSelector === true"
        categories="::lineChartWidget.currentOrganization.portal_settings.sales_categories"
        selected-categories="lineChartWidget.salesCategories">
        </sales-categories-selector>
    </right>
  </widget-header>

  <widget-body>
    <div
      class="chart-section " ng-class="[lineChartWidget.isPdf ? 'col-xs-12'  : 'col-md-7 col-lg-9']"
      ng-if="!lineChartWidget.isLoading && !lineChartWidget.requestFailed && !lineChartWidget.noData">
      <linechart
        data="lineChartWidget.chartData"
        options="lineChartWidget.chartOptions"
        load-tooltip="lineChartWidget.loadTooltipData(seriesItemIndex)"
        chart-type="lineChartWidget.chartType"
        ng-class="{
          'is-column-chart': lineChartWidget.chartType === 'column'
        }"
      >
        <linechart-tooltip>
          <div ng-include="'components/widgets/line-chart-widget/partials/line-chart-tooltip.partial.html'"></div>
        </linechart-tooltip>
      </linechart>

      <div class="chart-legend">
        <span class="chart-legend-label"><label translate>common.SELECTEDPERIOD</label>
          <label>
            ({{::lineChartWidget.dateRangeStart.format(lineChartWidget.dateFormatMask)}} -
             {{::lineChartWidget.dateRangeEnd.format(lineChartWidget.dateFormatMask)}})
          </label>
        </span>

        <span class="chart-legend-label" ng-show="lineChartWidget.summaryData[1] > 0" >
          <label ng-if="lineChartWidget.setLegendLabel(1, 'priorPeriod')" translate>
            common.PRIORPERIOD
          </label>
          <label ng-if="lineChartWidget.setLegendLabel(1, 'priorPeriod')">
            ({{::lineChartWidget.compare1Period.start.format(lineChartWidget.dateFormatMask)}} - {{::lineChartWidget.compare1Period.end.format(lineChartWidget.dateFormatMask)}})
          </label>
          <label ng-if="lineChartWidget.setLegendLabel(1, 'priorYear')" translate>
            common.PRIORYEAR
          </label>
          <label ng-if="lineChartWidget.setLegendLabel(1, 'priorYear')">
            ({{::lineChartWidget.compare1Period.start.format(lineChartWidget.dateFormatMask)}} - {{::lineChartWidget.compare1Period.end.format(lineChartWidget.dateFormatMask)}})
          </label>
          <label ng-if="lineChartWidget.setLegendLabel(1, 'custom')" translate>
            common.CUSTOMCOMPARE1
          </label>
          <label ng-if="lineChartWidget.setLegendLabel(1, 'custom')">
            ({{::lineChartWidget.compare1Period.start.format(lineChartWidget.dateFormatMask)}} - {{::lineChartWidget.compare1Period.end.format(lineChartWidget.dateFormatMask)}})
          </label>
        </span>

        <span class="chart-legend-label" ng-show="lineChartWidget.summaryData[2] > 0" >
          <label ng-if="lineChartWidget.setLegendLabel(2, 'priorPeriod')" translate>
            common.PRIORPERIOD
          </label>
          <label ng-if="lineChartWidget.setLegendLabel(2, 'priorPeriod')">
            ({{::lineChartWidget.compare2Period.start.format(lineChartWidget.dateFormatMask)}} - {{::lineChartWidget.compare2Period.end.format(lineChartWidget.dateFormatMask)}})
          </label>
          <label ng-if="lineChartWidget.setLegendLabel(2, 'priorYear')" translate>
            common.PRIORYEAR
          </label>
          <label ng-if="lineChartWidget.setLegendLabel(2, 'priorYear')">
            ({{::lineChartWidget.compare2Period.start.format(lineChartWidget.dateFormatMask)}} - {{::lineChartWidget.compare2Period.end.format(lineChartWidget.dateFormatMask)}})
          </label>
          <label ng-if="lineChartWidget.setLegendLabel(2, 'custom')" translate>
            common.CUSTOMCOMPARE2
          </label>
          <label ng-if="lineChartWidget.setLegendLabel(2, 'custom')">
            ({{::lineChartWidget.compare2Period.start.format(lineChartWidget.dateFormatMask)}} - {{::lineChartWidget.compare2Period.end.format(lineChartWidget.dateFormatMask)}})
          </label>
        </span>
      </div>
    </div>

    <div
      class="kpi-detail-widget-legend" ng-class="[lineChartWidget.isPdf ? 'col-xs-12'  : 'col-md-5 col-lg-3']"
      ng-if="!lineChartWidget.isLoading && !lineChartWidget.requestFailed && !lineChartWidget.noData"
      ng-include="'components/widgets/line-chart-widget/partials/line-chart-summary.partial.html'">
    </div>

    <div
      class="text-center error-message"
      ng-if="!lineChartWidget.isLoading && lineChartWidget.noData">
      <span translate>common.NODATA</span>
    </div>

    <div class="loader" ng-if="lineChartWidget.isLoading && !lineChartWidget.requestFailed">
      <span translate>common.LOADING</span>
    </div>

    <div
      ng-if="lineChartWidget.requestFailed && !lineChartWidget.isLoading"
      class="text-center error-message">
      <span translate>common.DATAERROR</span>
    </div>
  </widget-body>

</widget>
