.ui-switch {
  background: $gray-lighter;
  width: 36px;
  height: 18px;
  border-radius: 9px;
  display: inline-block;
  cursor: pointer;
  position: relative;

  @extend .sticon;
  @extend .sticon-delete-small;

  &:before {
    color: $white;
    float:right;
    margin-right:5px;
    font-size: 0.8em;
    line-height: 18px;
  }

  > span {
    display: block;
    background-color: $white;
    height: 14px;
    border-radius: 7px;
    width: 14px;
    top: 2px;
    left: 2px;
    position: absolute;
    box-shadow: 1px 0px 3px rgba(0,0,0, 0.10);
    transition: left 0.10s ease;
  }

  &.disabled {
    opacity: 0.44;
    cursor: default;
  }

  &.chosen,
  &.checked {
    background-color: $brand-success;

    @extend .sticon;
    @extend .sticon-check-small;

    &:before {
      color: $white;
      margin-left:5px;
      float:left;
    }

    > span {
      left: 20px;
      box-shadow: -1px 0px 3px rgba(0,0,0, 0.15);
    }
  }
}
