.user-tag-access {
  .tag-loading {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    color: transparent;
  }
  .tag-loading>.tag-loading-spinner {
    width: 32px;
    height: 32px;
    background-image: url(../../assets/images/loader.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .disabled-tag {
    color: lightgray;
  }
  .enabled-tag {
    color: black;
  }
  .search {
    margin-bottom: 5px;
  }
  .tag-loading>div {
    margin-top: 7px;
    display: block;
    color: #000;
  }
  .selectBox {
    height: 300px;
    min-width: 500px;
    overflow-y: auto;
  }
  .loading {
    position: relative;
    left: inherit;
    text-align: center;
  }
  .multiSelect {
    overflow: auto;
  }
  .multiSelect .select {
    margin-right: 0px;
    float: left;
  }
  .multiSelect .text {
    clear: both;
    font-size: 11px;
  }
  .right-hand-box {
    margin-left: 0px;
  }
  .btn.mover {
    display: block;
    margin-top: 125px;
    margin-left:10px;
    margin-right:10px;
  }
  .btn.mover.left {
    padding: 3px 8px 2px 6px;
  }
  .btn.mover.right {
    margin-top: 24px;
    padding: 3px 7px 2px;
  }
  .btn.mover i {
    margin: 0;
  }
  .no-tag-access {
      margin-bottom: 32px;
      opacity: 0.6;
      font-style: italic;
  }
}
