<section class="user-tag-access" ng-if="vm.enabled">

  <h2 ng-if="!vm.loading" translate>.TAGACCESS</h2>

  <div class="center-block multiSelect">

    <div ng-disabled="vm.enabled" class="select">
      <label class="control-label">Custom Tags Available</label>
      <input placeholder="Search Available Tags..." class="form-control search" ng-disabled="vm.enabled === false" name="tagname" type="text" autocomplete="off" ng-model="vm.availableTagSearch"
      />
      <select id="currentTags" class="form-control selectBox" ng-disabled="vm.enabled === false" ng-model="vm.chosenCustomTags" multiple>
         <option ng-model="vm.chosenCustomTags" ng-class="tag.site_count === 0 ? 'disabled-tag' : 'enabled-tag'"  title="{{ tag.site_count === 0 ? 'No sites associated with this tag' : '' }}" value="{{tag}}" ng-repeat="tag in vm.customTags | filter:  vm.availableTagSearch | orderBy:['tag_type','name'] " ng-disabled="tag.site_count === 0">{{ tag.tag_type + '>' + tag.name }}</option>
       </select>
    </div>

    <div class="select buttons">
      <button class="btn btn-default mover left" ng-disabled="vm.enabled === false ||vm.selectedCustomTags.length === 0" ng-click="vm.remove()" title="Remove selected">
          <i class="sticon sticon-arrow-left"></i>
      </button>

      <button class="btn btn-default mover right" ng-disabled="vm.enabled === false || vm.customTags.length === 0" ng-click="vm.add()" title="Add selected">
        <i class="sticon sticon-arrow-right"></i>
      </button>
    </div>

    <div  class="select right-hand-box">
      <label class="control-label">Chosen Custom Tags</label>
      <input placeholder="Search Chosen Tags..." class="form-control search" ng-disabled="vm.enabled === false" name="tagname" type="text" autocomplete="off" ng-model="vm.chosenTagSearch"
      />
      <select id="multiSelectAvailable" class="form-control selectBox" ng-disabled="vm.enabled === false" ng-model="vm.chosenSelectedCustomTags" multiple ng-options="tag as tag.tag_type + ' > ' + tag.name for tag in vm.selectedCustomTags | filter: vm.chosenTagSearch | orderBy:['tag_type','name'] track by tag._id"></select>
    </div>
  </div>

  <div class="site-access no-tag-access" ng-if="vm.selectedCustomTags.length === 0 && vm.customTags.legnth === 0">
    <h2 translate>.NOUSERTAGACCESS</h2>
  </div>

  <div class="tag-loading loading" ng-if="vm.loading">
    <div class="tag-loading-spinner"></div>
    <div class="loading-text" translate>common.LOADING</div>
  </div>

  <br/>

</section>

