<widget class="value-list-widget">
  <widget-header
    widget-title="Locations visited before"
    hide-export-icon="hideExportIcon"
    disable-export="exportIsDisabled"
    on-export-click="onExportClick()"
    set-selected-widget="setSelectedWidget()">
  </widget-header>

  <widget-body>
    <value-list-widget-body
      org-id="orgId"
      site-id="siteId"
      location-id="locationId"
      date-range-start="dateRangeStart"
      date-range-end="dateRangeEnd"
      location-types="locationTypes"
      list-title="Locations visited before:"
      kpi="locationsBefore"
      value-format="value | formatKPI : 'locationsBefore' : true : numberFormatName"
      hide-location-list="hideLocationList"
      is-loading-values="isLoading"
      on-location-click="onLocationClick">
    </value-list-widget-body>
  </widget-body>
</widget>
