.admin-user-management {
  position: relative;

  .sticon-avatar {
    font-size: 25px;
  }

  .action-bar-header {
    margin-bottom: 10px;

    .sticon-avatar {
      margin-right: 10px;
    }

    .add-user {
      position: absolute;
      top: 15px;
      right: 0;
      padding: 0;
    }
  }

  button.new-user {
    padding: 7px 10px;

    .sticon-add {
      margin-right: 7px;
      font-weight: bold;
      font-size: 12px;
    }
  }

  .action-bar-container {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    
    .bulk-action, .search-bar {
      width: 50%;
      float: left;
    }
  }

  .table {

    th[data-field="users-actions"] {
      text-align: center;
    }

    > tbody > tr > td[class*="actions"] {
      width: 130px;
    }
  }

  .bulk-action-bottom {
    margin-bottom: 20px;
  }

  .add-user-bottom {
    margin-bottom: 30px;
  }

  .users-actions {
    span.icon:hover {
      cursor: pointer;
    }
  }
}
