<div class="admin-user-management">
  <div class="action-bar action-bar-header">
    <div class="header">
      <span class="sticon sticon-avatar"></span>
      <span translate>.USERMANAGEMENT</span>
    </div>

    <div class="add-user">
      <button class="btn ui-button new-user" ng-click="vm.addUser()">
        <span class="sticon sticon-add"></span>
        <span translate>.ADDNEWUSER</span>
      </button>
    </div>
  </div>

  <div class="content-container" ng-if="!vm.loading">
    <div class="action-bar-container">
      <div class="bulk-action">
        <bulk-action-widget bulk-actions="vm.bulkActions" action-selected="vm.actionSelected" show-clear-button="vm.showClearButton" bulk-action-apply="vm.bulkActionApply()" clear-action-apply="vm.clearSelectedUsers()"></bulk-action-widget>
      </div>
      <div class="search-bar">
        <!-- search gets destroyed @ screens less than 675px-->
        <span class="sticon sticon-search"></span>
        <input
          placeholder="{{ 'locationSelector.SEARCH' | translate }}"
          type="text"
          ng-model="vm.searchFilter" />
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="table-selector" data-field="users-name" ng-click="vm.changeSort('fullname')" ng-class="{ sortable: true, sorted: vm.sortBy === 'fullname' }">
              <input type="checkbox" id="select-all" ng-model="vm.allUsersSelected" ng-change="vm.selectAllUsers()" />
              <label for="select-all"></label>
              <span class="header-name">Full name</span>
              <span ng-if="vm.sortBy === 'fullname'" class="sticon sticon-arrow-right"  ng-class="{ reverse: vm.sortReverse }"></span>
            </th>
            <th data-field="users-username" ng-click="vm.changeSort('username')" ng-class="{ sortable: true, sorted: vm.sortBy === 'username' }">
              <span class="header-name">Username</span>
              <span ng-if="vm.sortBy === 'username'" class="sticon sticon-arrow-right" ng-class="{ reverse: vm.sortReverse }"></span>
            </th>
            <th class="users-actions" data-field="users-actions">
              <span class="header-name">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in vm.users | searchFilter: vm.searchFilter | orderBy: vm.sortBy : vm.sortReverse track by user._id">
            <td class="user-fullname table-selector">
              <input type="checkbox" name="selector" ng-attr-id="user-{{ user._id }}" ng-model="vm.selectedUsers[user._id]" ng-change="vm.shouldShowClearButton()" />
              <label for="user-{{ user._id }}" ng-click="vm.selectUser()" ng-class="{ noFullname: !user.fullname }">
                {{ ::user.fullname }}
              </label>
            </td>
            <td class="user-username">
              {{ ::user.username }}
            </td>
            <td class="users-actions">
              <span class="icon icon-edit" ng-click="vm.editUser(user)" data-title="{{ 'admin.EDITUSER' | translate }}" bs-tooltip>
                <span class="sticon sticon-edit-small"></span>
              </span>
              <span class="icon icon-remove" ng-click="vm.deleteUserConfirmation(user)" data-title="Remove user" bs-tooltip>
                <span class="sticon sticon-delete-small"></span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="!vm.users.length">No Users</div>
    </div>

    <div class="bulk-action-bottom">
      <bulk-action-widget bulk-actions="vm.bulkActions" action-selected="vm.actionSelected" bulk-action-apply="vm.bulkActionApply()"></bulk-action-widget>
    </div>

    <div class="add-user-bottom">
      <button class="btn ui-button new-user" ng-click="vm.addUser()">
        <span class="sticon sticon-add"></span>
        <span>New user</span>
      </button>
    </div>
  </div>

  <div class="account-preferences-loading" ng-if="vm.loading">
    <div class="account-preferences-loading-spinner"></div>
    <div translate>common.LOADING</div>
  </div>

  <bulk-action-modal selected-ids="vm.userIds" selected-names="vm.usernamesSelected" action-valid="vm.valid" action="vm.actionSelected"></bulk-action-modal>

  <confirmation-modal action="'common.DELETE'" resource="vm.userSelected.username" 
  confirm-action="vm.deleteUser(vm.userSelected)"></confirmation-modal>
</div>