organization-filter-widget {

  /* base element styling */
  ul {
    padding-left: 0;
    margin-bottom: 0;
    display: inline-block;
  }

  li {
    list-style: none;
  }

  a:hover {
    text-decoration: none;
  }

  .panel {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    background: transparent;
  }

  .row {
    display: inline;
  }

  .filter-wrapper {
    background: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 1px 1px 1px;
  }

  .uppercase {
    text-transform: uppercase;
  }

  /* header */
  .filter-header {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;

    .filter-title {
      padding: 10px 14px;
      border-right: 1px solid #ddd;
      float: left;
      font-size: 12px;

      &.filter-main-title {
        padding: 7px 12px 6px 0px;
        font-size: 18px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .sticon-filter-new {
      color: $light-blue;
      padding: 6px 10px 6px 13px;
      font-size: 25px;

      &:hover {
        cursor: pointer;
      }
    }

    .filter-caret {
      border: none;
      float: right;
      position: absolute;
      right: 10px;

      &.open {
        background: none;
      }
    }
  }

  .filter-num {
    &-count {
      display: inline-block;
      position: relative;
      top: -1px;

      border-radius: 50%;
      background: $dark-blue;

      padding: 0;

      width: 18px;
      height: 18px;

      line-height: 1.8;
      font-size: 10px;
      color: #fff;
      text-align: center;
    }

    &-tag {
      position: absolute;
      top: inherit;
    }

    &-showing {
      color: $light-blue;
    }

    &-margin-left {
      margin-left: 5px;
    }

    &-margin-right {
      margin-right: 5px;
    }
  }

  .filter-caret {
    border: none;
    float: right;

    &.open {
      transform: rotate(180deg);
      background: transparent;

      .caret {
        padding-left: 0;
        right: 4px;
      }
    }
  }

  /* body */

  .filter-group-content {
    display: flex;
    width: 100%;
    margin: 0;

    border-color: #ddd;
    border-style: solid;
    border-width: 0 0 1px 1px;

    .filter-group-wrapper {
      color: $gray-dark;
      padding: 10px;
      display: flex;
      align-items: center;
      height: 40px;

      &:hover {
        color: $light-blue;
      }

      .filter-title-wrapper {
        width: 100%;
        display: inline-block;
        text-transform: uppercase;

        &.large {
          line-height: 1.2;
        }
      }

      .filter-caret {
        background: transparent;

        &.open {
          background: transparent;
        }
      }
    }

    .open {
      background-color: #fff;
    }

    @media (max-width: 970px) {
      display: inline-block;
    }
  }

  .filter-column-wrapper {
    padding: 0;
    font-size: 12px;
    border-right: 1px solid #ddd;

    .tag-wrapper {
      border-bottom: 1px solid #ddd;
    }

    a {
      color: #4c4a4a;
      &:hover {
        color: $light-blue;
        cursor: pointer;
      }
    }

    .filter-level {
      width: 100%;
      padding: 0 10px 10px 10px;
      max-height: 200px;
      overflow-y: auto;
      display: block;
    }

    .filter-level-header {
      margin-bottom: 8px;
      padding-right: 15px;

      font-size: 12px;
      font-weight: bold;
    }
  }

  .filter-tag {
    padding-left: 10px;
    max-height: 200px;
    overflow-y: auto;
    display: block;

    li {
      font-weight: normal;
      padding-top: 5px;

      &:hover {
        cursor: pointer;
      }
    }

    .active {
      color: $light-blue;
    }
  }

  .action-btn {
    border-radius: 50px;
    padding: 3px 20px;
  }

  .filter-footer-wrapper {
    padding: 15px;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 1px 1px 1px;

    .btn-primary {
      margin-right: 5px;
    }
  }
}
