  <div class="no-compare">
    <div>
      <span class="sticon sticon-scale-fat" aria-hidden="true"></span>
    </div>
    <div>
      <span class="no-active-compare" translate>.NOACTIVECUSTOMCOMPARE</span>
    </div>
    <div>
      <span translate>.NEWCUSTOMCOMPAREMESSAGE</span>
    </div>
    <div>
      <button class="btn btn-primary" ng-click="vm.setMode('new')">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span translate>.NEWCUSTOMCOMPARE</span>
      </button>
    </div>
  </div>
