<div class="org-compare-view" translate-namespace="customCompare">
  <div class="row header" ng-class="{'no-border ': !vm.showNoCompare}">
    <div class="col-xs-12">
      <div class="pull-left">
        <span title="Compare" class="sticon sticon-scale-fat" aria-hidden="true"></span>
        <div class="title">
          <h1 translate>{{vm.title}}</h1>
        </div>
      </div>

      <div ng-include="'app/analytics/compare/org-compare/compare-buttons.partial.html'">
      </div>
    </div>

    <div class="border-bottom">
      <div class="col-xs-12">
      </div>
    </div>
  </div>
  <new-compare
    class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2"
    ng-if="vm.editMode === 'new' || vm.editMode === 'editCompare' || vm.editMode === 'editCompareCompleted'"
    compare="vm.activeCompare"
    edit-mode="vm.editMode"
    date-format-mask ="::vm.dateFormat"
    set-mode="vm.setMode"
    is-widget-name-exist="vm.isWidgetNameExist"
    current-organization="::vm.currentOrganization"
    current-user="::vm.currentUser"
    sites="vm.sites">
  </new-compare>

  <div ng-include="'app/analytics/compare/org-compare/no-compare.partial.html'" ng-if="vm.showNoCompare && vm.editMode === ''">
  </div>
  <div class="row"
    ng-if="!vm.showNoCompare && vm.editMode !== 'new' && vm.editMode !== 'editCompare'"
    ng-repeat="compare in vm.customCharts track by $index">
    <custom-compare-data-widget
      compare="compare" edit-mode="vm.editMode"
      edit-compare="vm.editCompare"
      sites="::vm.sites"
      current-organization="::vm.currentOrganization"
      current-user="::vm.currentUser"
      date-format-mask ="vm.dateFormat"
      on-export-click="vm.exportWidget(compare)"
      export-is-disabled="vm.widgetIsExported(compare)"
      delete-compare="vm.deleteCompare"
      language="language"
      set-selected-widget="vm.setSelectedWidget(compare, vm)">
    </custom-compare-data-widget>
  </div>

   <!--TODO: Refactor this implementation. Should be inserted to <body> from relevant place. This also appears in the analytics org-compare partial-->
  <custom-dashboard-add-widget current-user="vm.dashboardUser" custom-dashboards="vm.customDashboards"></custom-dashboard-add-widget>

  <mi-csv></mi-csv>

</div>
