.heatmap-widget .map-container,
.heatmap-widget .location-list-container {
  height: 439px + 2*$panel-body-padding;
  margin-top: -$panel-body-padding;
  margin-bottom: -$panel-body-padding;
}

.heatmap-widget .map-container {
  padding-bottom: $line-height-computed + 2*$panel-body-padding;
  padding-left: 0;
  padding-right: 0;
  border-right: 1px solid $gray-lighter;
}
.heatmap-widget .heatmap {
  height: 100%;
}

.heatmap-widget .location-list-container {
  position: relative;
  padding-top: $panel-body-padding;
}
.heatmap-widget .location-list-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none;
}
.heatmap-widget .main-location-name {
  color: $brand-primary;
}
.heatmap-widget .location-list-title {
  position: absolute;
  top: $panel-body-padding;
  left: 0;
  padding-left: $panel-body-padding;
  padding-right: $panel-body-padding;
}
.heatmap-widget .location-list {
  overflow-y: auto;
  position: absolute;
  top: $panel-body-padding + $line-height-computed;
  left: 0;
  bottom: 0;
  // Leave some space to the right of the scrollbar (Webkit browsers)
  right: 5px;
  margin: 0;
  padding-left: $panel-body-padding;
  padding-right: $panel-body-padding;
  padding-bottom: 10px;
}
.heatmap-widget .target-location-info + .location-list-title {
  top: $panel-body-padding + 3 * $line-height-computed;
}
.heatmap-widget .target-location-info + .location-list-title + .location-list {
  top: $panel-body-padding + 4 * $line-height-computed;
}
.heatmap-widget .location-list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.heatmap-widget .location-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.pdf-export .leaflet-control-zoom {
  display:none !important;
}
