<div id="miModal" class="modal mi-csv fade col-xs-10" translate-namespace="marketIntelligence.CSV">
  <!-- Modal content-->
  <div class="modal-content modal-content-mi">
    <div class="modal-header row">

      <div class="col-xs-6">
        <h3 class="modal-title" translate>.CREATESHOPPERTRAKINDEXREPORT</h3>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="top-icons-container pull-right">
            <div class="top-icons data-icon">
              1
              <span translate>.DATA</span>
            </div>
            <div class="csv-icon-bg-border"></div>
            <div class="top-icons time-icon">
              2
              <span translate>
              .TIMEPERIOD
            </span>
            </div>
          </div>

        </div>
        <button type="button" class="close" ng-click="vm.previewInProgress=false" data-dismiss="modal">&times;</button>
      </div>
    </div>

    <div class="modal-body">
      <div class="row center" ng-if="vm.isLoading">
        <div
          class="col-xs-12 loader">
            <span translate>
              common.LOADING
            </span>
        </div>
      </div>

      <div class="row center">
        <div
          ng-if="!vm.isLoading && vm.showError"
          class="col-xs-12 text-center error-message">
            <span translate>common.DATAERROR</span>
        </div>
      </div>

      <div class="row" ng-if="!vm.isLoading && !vm.showError">
        <div class="col-xs-6 csv-select-col">
          <div class="row">
            <div class="col-xs-12 report-type">
               <div class="download-btn-wrapper">
                <label translate>.REPORTTYPE</label>
                <div class="comp-stores-selector selected">
                  <span class="option-button">
                    <span></span>
                  </span>
                  <span class="option-label" translate>.SINGLEDOWNLOAD</span>
                </div>
              </div> 
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="show-categories">
                <label translate>.SELECTCATEGORY</label>
                <div class="csv-select-col-outer-box">
                  <div class="csv-select-col-box pre-scrollable">
                    <div class="form-group geo-radios">
                      <div
                        ng-repeat="cat in ::vm.subscribedCategories track by $index"
                        class="comp-stores-selector"
                        ng-class="{selected: cat.uuid === vm.selectedUuid}"
                        ng-click="vm.setSelected(cat.uuid)">
                          <span class="option-button">
                            <span></span>
                          </span>
                        <span class="option-label">{{::cat.name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 csv-select-col">
          <div class="form-group">
            <label translate>.REPORTNAME</label>
            <input type="text" class="form-control" placeholder="{{::vm.reportNamePlaceholder}}"/>
          </div>
          <div class="show-geographies">
            <label translate>.SELECTGEOGRAPHYLEVEL</label>
            <div class="csv-select-col-outer-box">
              <div class="csv-select-col-box pre-scrollable">
                <div class="form-group geo-radios">
                  Geography Directive
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="row">
        <div class="col-xs-5 csv-select-col">
          <button
            ng-if="!vm.isLoading && !vm.showError"
            ng-click="vm.save('#comparePreviewModal')" 
            class="btn btn-primary pull-left margin-right-15"
            data-toggle="modal" 
            data-dismiss="modal">
              <span translate>common.CONTINUE</span>
              <span class="sticon sticon-arrow-right" aria-hidden="true"></span>
          </button>
          <button 
            class="btn btn-default pull-left margin-right-15" 
            ng-click="vm.previewInProgress=false"
            data-dismiss="modal">
              <span translate>common.CANCEL</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
