<div
  class="custom-compare-data-widget-wrapper"
  ng-class="{'edit-dark':vm.editMode !==''}"
  translate-namespace="customCompare">
  <widget class="custom-compare-data-widget">
    <widget-header
      widget-title="{{vm.compare.chart_name}}"
      hide-left-icon="true"
      icon="conversion"
      disable-export="vm.exportIsDisabled || !vm.hasData"
      on-export-click="vm.onExportClick()"
      hide-export-icon="vm.editMode !== ''"
      set-selected-widget="vm.setSelectedWidget()">
      <right>
        <div
          ng-include="'components/widgets/custom-compare-widget/action-buttons.partial.html'">
        </div>
      </right>
    </widget-header>

    <widget-body
      ng-class="{'has-table': vm.compare.showTable}">
      <div class="row full-height">

        <div
          class="col-xs-12 loader full-height"
          ng-show="vm.loading === true && vm.loaded === false">
          <div
            ng-if="vm.editMode === 'edit'"
            class="col-xs-12 editOverLayModal">
          </div>
          <span translate>.LOADING</span>
        </div>

        <div
          ng-if="vm.loaded && vm.requestFailed === false && vm.hasData === false"
          class="col-xs-12 full-height text-center error-message">
          <div
            ng-if="vm.editMode ==='edit'"
            class="col-xs-12 editOverLayModal">
          </div>
          <span translate>
            summaryKpiWidget.NODATA
          </span>
        </div>

        <div
          ng-if="vm.loaded && vm.requestFailed"
          class="col-xs-12 text-center error-message full-height">
          <div
            ng-if="vm.editMode ==='edit'"
            class="col-xs-12 editOverLayModal">
          </div>
          <span translate>
            common.ERROR
          </span>
        </div>

        <div
          class="data-section chart-body full-height"
          ng-if="vm.loaded === true && vm.hasData === true">
          <div
            ng-if="vm.editMode ==='edit'"
            class="col-xs-12 editOverLayModal">
          </div>

          <div
            class="col-xs-12"
            ng-if="vm.loaded === true">
            <h3 class="chart-title" translate>{{vm.chartTitle}}</h3>
          </div>

          <div class="graph-container {{::vm.chartGraphClass}}">
            <highchart
              id="custom-compare-chart"
              ng-if="vm.loaded === true"
              class="conversion-chart"
              config="vm.chartConfig">
            </highchart>
          </div>

          <div class="{{::vm.chartLegendClass}} graph-legend-container" >
            <div
              ng-if="vm.compare.type === 'single'"
              class="col-xs-12 chart-legend-label"
              ng-repeat="tag in vm.tags track by $index">
              <label>{{::tag.name}}</label>
            </div>
            <div
              ng-if="vm.compare.type!=='single'"
              class="col-xs-12 chart-legend-label"
              ng-repeat="metric in vm.selectedMetrics track by $index">
              <label translate>{{::metric.shortTranslationLabel}}</label>
            </div>
          </div>

          <div
            ng-class= "{white :vm.editMode ==='edit'}"
            class="col-xs-12 text-center table-toggle widget-actions"
            ng-show="!vm.compare.showTable && !vm.pdf">
            <a href=""
              ng-disabled= "vm.editMode ==='edit'"
              class="btn btn-default btn-xs show-table-button"
              ng-click="vm.toogleTableShow()">
              <span translate>.SHOWTABLE</span>
              <span class="caret"></span>
            </a>
          </div>

          <div
            class="col-xs-12 padless"
            ng-if="vm.compare.showTable && vm.loaded === true && vm.hasData === true">
            <div
              class=" no-vertical-padding margin-top-8 overflow-hidden"
              ng-include="'components/widgets/custom-compare-widget/custom-compare-table.partial.html'">
            </div>
          </div>

          <div class="col-xs-12 text-center table-toggle widget-actions"
            ng-show="vm.compare.showTable && !vm.hideExportIcon && !vm.pdf">
            <a href=""
              class="btn btn-default btn-xs"
              ng-click="vm.toogleTableShow()"
              ng-disabled= "vm.editMode ==='edit'">
              <span translate>.HIDETABLE</span>
              <span class="caret up"></span>
            </a>
          </div>
        </div>
      </div>
    </widget-body>
  </widget>
  </div>
