<div class="row" ng-if="dateRangesLoaded">

  <div
    class="col-sm-12"
    ng-repeat="metricType in ::metricsToShow track by metricType">

    <!-- Labor Hours widget -->
    <line-high-chart-widget
      id="labor-tab-hours-widget"
      ng-if="::metricType === 'labor_hours_widget'"
      widget-title="Labor hours"
      kpi="kpiValues[metricType]"
      kpi-label="Labor hours"
      widget-icon="labor-fat"

      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      zone-id="currentZone.id"

      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-1-type="compareRange1Type"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      compare-range-2-type="compareRange2Type"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="::firstDayOfWeek"
      group-by="viewData[metricType].groupBy"

      api-endpoint="kpis/sales"
      api-return-key="labor_hours"
      return-data-precision="0"
      get-unique-returning="false"
      separate-summary-requests="false"
      summary-averages="false"

      hide-export-icon="false"
      on-export-click="exportWidget(metricType,false)"
      export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
      set-selected-widget="setSelectedWidget('labor_hours_widget')"

      current-organization="::currentOrganization"
      current-site="::currentSite"
      show-weather-metrics="false"
      show-metrics="false"

      operating-hours="operatingHours"
      selected-option="trafficOption.selectedMetric">
    </line-high-chart-widget>

    <!-- STAR widget -->
    <line-high-chart-widget
      id="labor-tab-star-widget"
      ng-if="::metricType === 'star_labor_widget'"
      widget-title="Shopper to associate ratio"
      kpi="kpiValues[metricType]"
      kpi-label="Shopper to associate ratio"
      widget-icon="star-labor-fat"

      org-id="::currentSite.organization.id"
      site-id="::currentSite.site_id"
      zone-id="currentZone.id"

      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-1-type="compareRange1Type"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      compare-range-2-type="compareRange2Type"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="::firstDayOfWeek"
      group-by="viewData[metricType].groupBy"

      api-endpoint="kpis/sales"
      api-return-key="star"
      return-data-precision="1"
      get-unique-returning="false"
      separate-summary-requests="true"
      summary-averages="true"

      hide-export-icon="false"
      on-export-click="exportWidget(metricType,false)"
      export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
      set-selected-widget="setSelectedWidget('star_labor_widget')"

      current-organization="::currentOrganization"
      current-site="::currentSite"
      show-weather-metrics="false"
      show-metrics="false"

      operating-hours="operatingHours"
      selected-option="trafficOption.selectedMetric">
    </line-high-chart-widget>

    <tenant-labor-hours-table-widget
      ng-if="::metricType === 'tenant_labor_hours_table_widget'"
      org-id="::currentSite.organization.id"
      site="::currentSite"
      zone-id="currentZone.id"

      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-1-type="compareRange1Type"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      compare-range-2-type="compareRange2Type"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="::firstDayOfWeek"

      zone-filter-query="viewData[metricType].zoneFilterQuery"
      sort-type="viewData[metricType].sortType"

      on-export-click="exportWidget(metricType,false)"
      export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
      set-selected-widget="setSelectedWidget('tenant_labor_hours_table_widget')"
      is-loading="isLoading[metricType]"

      widget-title="Tenant Labor Hours Summary"
      widget-icon="tenant-fat">
    </tenant-labor-hours-table-widget>

    <tenant-star-labor-table-widget
      ng-if="::metricType === 'tenant_star_labor_table_widget'"
      org-id="::currentSite.organization.id"
      site="::currentSite"
      zone-id="currentZone.id"

      date-range-start="dateRange.start"
      date-range-end="dateRange.end"
      compare-range-1-start="compareRange1.start"
      compare-range-1-end="compareRange1.end"
      compare-range-1-type="compareRange1Type"
      compare-range-2-start="compareRange2.start"
      compare-range-2-end="compareRange2.end"
      compare-range-2-type="compareRange2Type"
      date-format-mask="::dateFormat"
      first-day-of-week-setting="::firstDayOfWeek"

      zone-filter-query="viewData[metricType].zoneFilterQuery"
      sort-type="viewData[metricType].sortType"

      on-export-click="exportWidget(metricType,false)"
      export-is-disabled="widgetIsExported(metricType, viewData[metricType])"
      set-selected-widget="setSelectedWidget('tenant_star_labor_table_widget')"
      is-loading="isLoading[metricType]"

      widget-title="Tenant STAR Summary"
      widget-icon="tenant-fat">
    </tenant-star-labor-table-widget>

  </div>
</div>
