<div class="clearfix analytics-header" translate-namespace="analyticsHeader">
  <div class="title-container">

    <div class="title-specifier">
      <span ng-if="currentSite && !currentZone && !currentLocation" translate>common.SITE</span>
      <span ng-if="currentSite && currentZone && !currentLocation" translate>common.ZONE</span>
      <span ng-if="currentSite && !currentZone && currentLocation" translate>common.AREA</span>
      <span translate>{{viewTitle}}</span>
    </div>

    <h1 class="title" ng-if="::viewLevel === 'organization'">
      {{::currentOrganization.name}}
    </h1>
    <h1 class="title" ng-if="::viewLevel === 'site'">
      {{::currentSite.name}}
    </h1>
    <h1 class="title" ng-if="::viewLevel === 'location'">
      {{::currentLocation.description}}
    </h1>
    <h1 class="title" ng-if="::viewLevel === 'zone'">
      {{::currentZone.name}}
    </h1>
  </div>

  <div class="toolbars">
    <div class="toolbar">
      <div
        ng-if="::areaSelectorIsVisible"
        class="toolbar-section toolbar-section-optional hidden-print"
        ng-include="'app/analytics/analytics-header/area-selector/area-selector.partial.html'">
      </div>
      <div
        ng-if="::zoneSelectorIsVisible && zones.length > 1"
        class="toolbar-section toolbar-section-optional hidden-print"
        ng-include="'app/analytics/analytics-header/zone-selector/zone-selector.partial.html'">
      </div>

      <div
        class="toolbar-section toolbar-section-date-range"
        ng-if="::dateRangesLoaded"
        ng-include="'app/analytics/analytics-header/date-range-selector/date-range-selector.partial.html'">
      </div>

      <!--TODO: Refactor this implementation. Should be inserted to <body> from relevant place-->
      <custom-dashboard-add-widget current-user="currentUser" custom-dashboards="vm.customDashboards"></custom-dashboard-add-widget>

      <mi-csv></mi-csv>

    </div>
  </div>
</div>
