.summary-widget {
  padding:0px;
  position:relative;
}

.summary-widget .panel-body {
  height:360px;
  padding:0;

  .error-message {
    min-height:100px;
  }
}

.summary-widget-legend {
  text-align:center;
  font-size:16px;
  color:$gray-dark;
  padding: 0;
  height:50%;
  border-top:1px solid $gray-lighter;
}
.summary-widget-container {
  padding-top: 10px;
  text-align:center;
}
.summary-widget-delta {
  left: 16px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
}
.summary-widget-delta-icon {
  font-size: 20px;
  top: 6px;
}
.summary-widget-delta-icon-positive {
  color: $brand-success;
}
.summary-widget-delta-icon-negative {
  color: $brand-danger;
}
.summary-widget-delta-label {
  font-size:11px;
  display:inline-block;
  vertical-align:middle;
  line-height:1;
  margin-top:-14px;
  margin-right:5px;
  width:25%;
  color:$gray-light;
  position:absolute;
  top:50%;
  left:8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45px;
  align-items: center;
}

.summary-widget-alert-icon {
  color: $brand-danger !important;
  top:2px;
}

.error-message, .loader {
  height:100% !important;
}

.summary-widget-current {
  .period-label {
    color: $gray-light;
    font-weight:600;
    font-size:11px;
    text-align:left;
    text-transform: uppercase;
    padding: 0 0 0 12px;
  }
  .period-label:before {
    /*
    content: "";
    position: relative;
    top: 7px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    margin-right: 4px;
    border-radius: 5px;
    background:#9bc614;
    */
  }
  .selected-period {
    font-size:10px;
    font-weight:400;
    line-height:18px;
    color: $gray-light;
    text-align:right;
    padding: 0 12px 0 0;
  }
  .value {
    font-size:24px;
    font-weight:700;
    line-height:0.7;
    padding: 18px 0 18px 0;
    position:relative;

    span {
      margin-left: 0;
    }

    small {
      font-weight:600;
      text-transform:uppercase;
      color: $gray-light;
      font-size:12px;
    }

    &.no-details {
      padding-top: 36px;
    }
  }
  .traffic-share-info {
    font-size:15px;
    font-weight:700;
    line-height:1;
    small {
      font-weight:400;
      text-transform:uppercase;
      color:$gray-light;
      font-size:11px;
    }
  }
}

.legend-chart {
  position:absolute;
  top:0;
  left:0;
  width:100%;
}

.legend-chart .ct-chart {
  height:170px;
  margin-top:-10px;
}

.legend-chart .ct-chart .ct-series-b .ct-slice-donut {
    stroke: $gray-lighter;
}

.summary-widget-compare {
  padding-top:10px;
  border-top:1px solid darken($gray-lighter,2%);
  background:lighten($gray-lighter,4%);
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;

  .period-label {
    font-weight:600;
    font-size:12px;
    color: $gray-light;
    text-transform:uppercase;
    text-align:left;

    &.year:before {
      background:#be64f0;
    }
  }
  .period-label:before {
    /*
    content: "";
    position: relative;
    top: 5px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    margin-right: 4px;
    border-radius: 5px;
    background:#0aaaff;
    */
  }
  .selected-period {
    font-size:10px;
    font-weight:400;
    line-height:19px;
    color: $gray-light;
    text-align:right;
  }

  .traffic-share-info {
    text-align:center;
    font-size:14px;
    line-height:1.25;
    font-weight:400;
    margin-top:5px;
    clear:both;
  }

  &.prior-period {
    bottom:100px;
  }

  .value {
    font-size:20px;
    font-weight:600;
    line-height:1.6;
    padding-right:15px;

    &.no-details {
      padding-top:10px;
    }
  }
}

.alert-widget-small {
  margin-top:30px;
  padding:5px;
}
