<div class="kpi-variance-wrapper col-xs-12">
  
  <widget-body>
    
    <div class="kpi-variance-container">

      <div class="kpi-variance-current" 
        ng-if="!data.isLoading && !data.requestFailed && data.hasData && data.hasPermission">

        <div class="top-section"
          data-placement="top"
          data-trigger="hover"
          bs-popover="previousPeriodPopover"
          data-template-url="components/widgets/summary-widgets/kpi-variance/kpi-variance-popover.partial.html">

          <div class="kpi-panel-heading row">
            <h3 class="kpi-title" translate>{{::data.title}}</h3>
          </div>

          <div class="value col-xs-12">
            <span
              class="sticon kpi-variance-delta-icon
              {{data.comparisons.data[data.comparisons.previousPeriod].deltaColoringPeriod}}"
              ng-class="{true:'sticon-triangle-up',false:'sticon-triangle-down'}[data.comparisons.data[data.comparisons.previousPeriod].deltaColoringPeriod === 'positive']">
            </span>

            <span class="kpi-variance-delta-value {{data.comparisons.data[data.comparisons.previousPeriod].deltaColoringPeriod}}">
              {{::data.comparisons.data[data.comparisons.previousPeriod].percentageChangePeriod | formatNumber : 1 : numberFormatName}}
            </span>
          </div>

          <div class="col-xs-12 actual-value">
            <span class="value">
              {{::data.prefixSymbol}}{{::data.comparisons.data[data.comparisons.current].total | formatNumber : data.precision : numberFormatName}}{{::data.suffixSymbol}}
            </span>
            <br/>

            <div class="panel-heading row">
              <small class="period-label" translate> {{::data.labels[data.comparisons.current].totalsLabel}}</small>
            </div>
          </div>
        </div>

        <div class="col-xs-12 kpi-variance-compare"
             ng-if="data.comparisons.data[data.comparisons.previousYear] !== undefined"
             data-placement="top"
             data-trigger="hover"
             bs-popover="previousYearPopover"
             data-template-url="components/widgets/summary-widgets/kpi-variance/kpi-variance-popover.partial.html">

          <div class="kpi-panel-heading row">
            <small class="period-label" translate>{{data.labels[data.comparisons.previousYear].fromLabel}}</small>
          </div>

          <div class="value comparator row">
            <span
              class="sticon kpi-variance-compare-delta-icon
              {{data.comparisons.data[data.comparisons.previousYear].deltaColoringPeriod}}"
              ng-class="{true:'sticon-triangle-up',false:'sticon-triangle-down'}[data.comparisons.data[data.comparisons.previousYear].deltaColoringPeriod === 'positive']">
            </span>

            <span
              class="kpi-variance-delta-value {{data.comparisons.data[data.comparisons.previousYear].deltaColoringPeriod}}">
              {{::data.comparisons.data[data.comparisons.previousYear].percentageChangePeriod | formatNumber : 1 : numberFormatName}}
            </span>
          </div>
        </div>

        <div class="col-xs-12 kpi-variance-compare" ng-if="data.comparisons.data[data.comparisons.previousYear] === undefined">
          <div class="kpi-panel-heading row">
            <small class="period-label" translate>{{data.labels[data.comparisons.previousYear].fromLabel}}</small>
          </div>
          <div class="value comparator row nodata-label">
            <span translate>common.NODATA</span>
          </div>
        </div>
    </div>

      <div class="no-permission" ng-show="!data.isLoading && !data.hasPermission">
        <div class="kpi-panel-heading row">
          <h3 class="kpi-title" translate>{{::data.title}}</h3>
        </div>

        <div class="col-xs-12 permission-message">
          <!-- This will not work for all languages and will need to be looked at later -->
          <span translate>summaryKpiWidget.TOENABLE</span>:
          <strong>{{::data.permissionName | lowercase}}</strong>
        </div>

        <div class="col-xs-12 contact-message">
          <a href="mailto:sales@retailmanager.com" translate>summaryKpiWidget.CONTACTSALES</a>
        </div>
      </div>
      
      <div class="col-xs-12 text-center error-message"
        ng-show="!data.isLoading && !data.requestFailed && !data.hasData">
        <span translate>
          summaryKpiWidget.NODATA
        </span>
      </div>
      
      <div class="col-xs-12 text-center error-message" ng-show="data.requestFailed">
        <span translate>
          summaryKpiWidget.ERROR
        </span>
      </div>
      
    </div>
  </widget-body>
</div>
