<div class="popover kpi-variance-popover">
    <div class="col-xs-12 compare-period text-center">
        <label translate>{{comparePeriodTranskey}}</label>
    </div>

    <div class="col-xs-12 compare-period-dates text-center">
        {{::comparePeriod}}
    </div>

    <div class="col-xs-12 total-value text-center">
        {{::prefixSymbol}}{{::previousValue | formatNumber: precision : numberFormatName}}{{::suffixSymbol}}
    </div>

    <div class="col-xs-12 text-center">
        <small class="period-label" translate>
            {{::totalsLabel}}
        </small>
    </div>
</div>