.admin-breadcrumbs {

  padding: 12px 0;
  color: #ccc;
  text-align: right;
  border-bottom: 1px solid #ddd;

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 80%;
    text-transform: uppercase;

    > li {
      display: inline;

      a {
        cursor: pointer;
      }

      .separator {
        padding: 0 6px;
      }

      &:last-child {

        a {
          color: gray;
          text-decoration: none;
          cursor: default;
        }

        .separator {
          display: none;
        }
      }
    }
  }

}
