<ul class="{{parentDropDownClass}}">
  <li
    class="searching fetching"
    ng-if="isFetching">
  </li>
  <li
    id="{{controlId}}"
    ng-if="items.length > 0"
    class="dropdown"
    ng-class="{ 'open' : dropdownIsOpen }"
    ng-click="onClick($event)"
    off-click="offClick()">

    <a href class="dropdown-toggle">
      <span ng-if="!currentItem" translate>{{::selectHeader}}</span>
      <span ng-if="currentItem">{{currentItem[displayProperty]}}</span>
      <span class="caret" aria-hidden="true"></span>
    </a>

    <ul class="dropdown-menu" ng-class="getDropdownClass()">
      <li
        ng-if="items.length > 0 && currentItem && showParentLink"
        class="{{activeLinkHeaderClass}}">
        <a
          ui-sref="{{parentUiSrefPattern}}"
          translate> &larr; {{activeLinkHeader}}
        </a>
      </li>
      <li
        ng-repeat="item in items track by $index"
        ng-click="onItemSelect(item)">
        <a
          ng-if="itemUiSrefPattern"
          ui-sref="{{itemUiSrefPattern}}">
            {{item[displayProperty]}}
          </a>
        <span ng-if="!itemUiSrefPattern">{{item[displayProperty]}}</span>
      </li>

    </ul>
  </li>
</ul>