<div class="row" ng-if="vm.dateRangesLoaded">

  <div class="col-sm-12" ng-repeat="metricType in ::vm.metricsToShow track by metricType">
    <!-- Traffic (mobile) widget -->

    <line-high-chart-widget
      id="visitor-behavior-tab-traffic-line-chart-widget"
      ng-if="::metricType === 'visitor_behaviour_traffic'"
      widget-title="Traffic"
      kpi="vm.kpiValues[metricType]"
      kpi-label="Overall visitors"
      widget-icon="entrance"
      language="::vm.language"

      org-id="::vm.currentSite.organization.id"
      site-id="::vm.currentSite.site_id"
      location-id="vm.currentLocationId"

      date-range-start="vm.dateRange.start"
      date-range-end="vm.dateRange.end"
      compare-range-1-start="vm.compareRange1.start"
      compare-range-1-end="vm.compareRange1.end"
      compare-range-1-type="vm.compareRange1Type"
      compare-range-2-start="vm.compareRange2.start"
      compare-range-2-end="vm.compareRange2.end"
      compare-range-2-type="vm.compareRange2Type"

      current-organization="vm.currentOrganization"
      current-user="vm.currentUser"
      date-format-mask="vm.dateFormat"
      first-day-of-week-setting="vm.firstDayOfWeek"
      group-by="vm.viewData[metricType].groupBy"

      api-endpoint="kpis/traffic"
      api-return-key="total_traffic"
      separate-summary-requests="true"

      hide-export-icon="false"
      on-export-click="vm.exportWidget(metricType,false)"
      export-is-disabled="vm.widgetIsExported(metricType, vm.viewData[metricType])"
      set-selected-widget="vm.setSelectedWidget(metricType)"

      get-unique-returning="true"
      current-site="::currentSite"
      show-weather-metrics="false"
      show-metrics="false"

      operating-hours="operatingHours"
      selected-option="trafficOption.selectedMetric">
    </line-high-chart-widget>

    <!-- Gross Shopping Hours widget -->
    <line-high-chart-widget
      id="visitor-behavior-tab-gsh-line-chart-widget"
      ng-if="::metricType === 'gross_shopping_hours'"
      widget-title="Gross shopping hours"
      kpi="vm.kpiValues[metricType]"
      kpi-label="Total shopping time, hours"
      widget-icon="bag"
      language="::vm.language"

      org-id="::vm.currentSite.organization.id"
      site-id="::vm.currentSite.site_id"
      location-id="vm.currentLocationId"

      date-range-start="vm.dateRange.start"
      date-range-end="vm.dateRange.end"
      compare-range-1-start="vm.compareRange1.start"
      compare-range-1-end="vm.compareRange1.end"
      compare-range-1-type="vm.compareRange1Type"
      compare-range-2-start="vm.compareRange2.start"
      compare-range-2-end="vm.compareRange2.end"
      compare-range-2-type="vm.compareRange2Type"
      current-organization="::vm.currentOrganization"
      current-user="::vm.currentUser"
      date-format-mask="::vm.dateFormat"
      first-day-of-week-setting="::vm.firstDayOfWeek"
      group-by="vm.viewData[metricType].groupBy"

      api-endpoint="kpis/grossShoppingHours"
      api-return-key="gross_shopping_hours"
      get-unique-returning="false"
      separate-summary-requests="false"
      summary-averages="true"

      hide-export-icon="false"
      on-export-click="vm.exportWidget(metricType,false)"
      export-is-disabled="vm.widgetIsExported(metricType, vm.viewData[metricType])"
      set-selected-widget="vm.setSelectedWidget(metricType)"

      current-site="::currentSite"
      show-weather-metrics="false"
      show-metrics="false"

      operating-hours="operatingHours"
      selected-option="trafficOption.selectedMetric">
    </line-high-chart-widget>

    <!-- Dwell time widget -->
    <line-high-chart-widget
      id="visitor-behavior-tab-dwell-time-line-chart-widget"
      ng-if="::metricType === 'detail_dwell_time'"
      widget-title="Dwell time"
      kpi="vm.kpiValues[metricType]"
      kpi-label="Average dwell time, minutes"
      widget-icon="time"
      language="::vm.language"

      org-id="::vm.currentSite.organization.id"
      site-id="::vm.currentSite.site_id"
      location-id="vm.currentLocationId"

      date-range-start="vm.dateRange.start"
      date-range-end="vm.dateRange.end"
      compare-range-1-start="vm.compareRange1.start"
      compare-range-1-end="vm.compareRange1.end"
      compare-range-1-type="vm.compareRange1Type"
      compare-range-2-start="vm.compareRange2.start"
      compare-range-2-end="vm.compareRange2.end"
      compare-range-2-type="vm.compareRange2Type"
      current-organization="::vm.currentOrganization"
      current-user="::vm.currentUser"
      date-format-mask="::vm.dateFormat"
      first-day-of-week-setting="::vm.firstDayOfWeek"
      group-by="vm.viewData[metricType].groupBy"

      api-endpoint="kpis/dwellTime"
      api-return-key="average_dwelltime"
      get-unique-returning="false"
      separate-summary-requests="true"
      summary-averages="true"
      return-data-precision="1"

      hide-export-icon="false"
      on-export-click="vm.exportWidget(metricType,false)"
      export-is-disabled="vm.widgetIsExported(metricType, vm.viewData[metricType])"
      set-selected-widget="vm.setSelectedWidget(metricType)"

      current-site="::currentSite"
      show-weather-metrics="false"
      show-metrics="false"

      operating-hours="operatingHours"
      selected-option="trafficOption.selectedMetric">
    </line-high-chart-widget>

    <!-- Opportunity widget -->
    <line-high-chart-widget
      id="visitor-behavior-tab-opportunity-line-chart-widget"
      ng-if="::metricType === 'detail_opportunity'"
      widget-title="Opportunity"
      kpi="vm.kpiValues[metricType]"
      kpi-label="Overall passing traffic"
      widget-icon="two-way"

      org-id="::vm.currentSite.organization.id"
      site-id="::vm.currentSite.site_id"
      location-id="vm.currentLocationId"

      date-range-start="vm.dateRange.start"
      date-range-end="vm.dateRange.end"
      compare-range-1-start="vm.compareRange1.start"
      compare-range-1-end="vm.compareRange1.end"
      compare-range-1-type="vm.compareRange1Type"
      compare-range-2-start="vm.compareRange2.start"
      compare-range-2-end="vm.compareRange2.end"
      compare-range-2-type="vm.compareRange2Type"
      current-organization="::vm.currentOrganization"
      current-user="::vm.currentUser"
      date-format-mask="::vm.dateFormat"
      first-day-of-week-setting="::vm.firstDayOfWeek"
      group-by="vm.viewData[metricType].groupBy"

      api-endpoint="kpis/opportunity"
      api-return-key="total_opportunity"
      get-unique-returning="false"
      separate-summary-requests="false"
      summary-averages="false"

      hide-export-icon="false"
      on-export-click="vm.exportWidget(metricType,false)"
      export-is-disabled="vm.widgetIsExported(metricType, vm.viewData[metricType])"
      set-selected-widget="vm.setSelectedWidget(metricType)"

      current-site="::currentSite"
      show-weather-metrics="false"
      show-metrics="false"

      operating-hours="operatingHours"
      selected-option="trafficOption.selectedMetric">
    </line-high-chart-widget>

    <!-- Draw rate widget -->
    <line-high-chart-widget
      id="visitor-behavior-tab-draw-rate-line-chart-widget"
      ng-if="::metricType === 'detail_draw_rate'"
      widget-title="Draw Rate"
      kpi="vm.kpiValues[metricType]"
      kpi-label="% of people who enter vs. pass by"
      widget-icon="crossing"
      language="vm.language"

      org-id="::vm.currentSite.organization.id"
      site-id="::vm.currentSite.site_id"
      location-id="vm.currentLocationId"

      date-range-start="vm.dateRange.start"
      date-range-end="vm.dateRange.end"
      compare-range-1-start="vm.compareRange1.start"
      compare-range-1-end="vm.compareRange1.end"
      compare-range-1-type="vm.compareRange1Type"
      compare-range-2-start="vm.compareRange2.start"
      compare-range-2-end="vm.compareRange2.end"
      compare-range-2-type="vm.compareRange2Type"
      current-organization="::vm.currentOrganization"
      current-user="::vm.currentUser"
      date-format-mask="::vm.dateFormat"
      first-day-of-week-setting="::vm.firstDayOfWeek"
      group-by="vm.viewData[metricType].groupBy"

      api-endpoint="kpis/drawRate"
      api-return-key="average_draw_rate"
      get-unique-returning="false"
      separate-summary-requests="true"
      summary-averages="true"
      multiplier="100"
      return-data-precision="1"

      hide-export-icon="false"
      on-export-click="vm.exportWidget(metricType,false)"
      export-is-disabled="vm.widgetIsExported(metricType, vm.viewData[metricType])"
      set-selected-widget="vm.setSelectedWidget(metricType)"

      current-site="::currentSite"
      show-weather-metrics="false"
      show-metrics="false"

      operating-hours="operatingHours"
      selected-option="trafficOption.selectedMetric">
    </line-high-chart-widget>

    <!-- Abandonment rate widget -->
    <line-high-chart-widget
      id="visitor-behavior-tab-abandonment-rate-line-chart-widget"
      ng-if="::metricType === 'detail_abandonment_rate'"
      widget-title="Abandonment Rate"
      kpi="vm.kpiValues[metricType]"
      kpi-label="Average abandonment rate"
      widget-icon="u-turn"
      language="::vm.language"

      org-id="::vm.currentSite.organization.id"
      site-id="::vm.currentSite.site_id"
      location-id="vm.currentLocationId"

      date-range-start="vm.dateRange.start"
      date-range-end="vm.dateRange.end"
      compare-range-1-start="vm.compareRange1.start"
      compare-range-1-end="vm.compareRange1.end"
      compare-range-1-type="vm.compareRange1Type"
      compare-range-2-start="vm.compareRange2.start"
      compare-range-2-end="vm.compareRange2.end"
      compare-range-2-type="vm.compareRange2Type"
      current-organization="::vm.currentOrganization"
      current-user="::vm.currentUser"
      date-format-mask="::vm.dateFormat"
      first-day-of-week-setting="::vm.firstDayOfWeek"
      group-by="vm.viewData[metricType].groupBy"

      api-endpoint="kpis/abandonmentRate"
      api-return-key="average_abandonment_rate"
      return-data-precision="1"
      multiplier="100"
      get-unique-returning="false"
      separate-summary-requests="true"
      summary-averages="true"

      current-site="::currentSite"
      show-weather-metrics="false"
      show-metrics="false"

      hide-export-icon="false"
      on-export-click="vm.exportWidget(metricType,false)"
      export-is-disabled="vm.widgetIsExported(metricType, vm.viewData[metricType])"
      set-selected-widget="vm.setSelectedWidget(metricType)">
    </line-high-chart-widget>

    <shoppers-vs-others-detail-widget
      id="visitor-behavior-tab-shoppers-vs-others-line-chart-widget"
      ng-if="::metricType === 'average_percent_shoppers'"
      org-id="::vm.currentSite.organization.id"
      site-id="::vm.currentSite.site_id"
      location-id="vm.currentLocationId"
      date-range-start="vm.dateRange.start"
      date-range-end="vm.dateRange.end"
      language="::vm.language"
      kpi="vm.kpiValues[metricType]"

      compare-range-1-start="vm.compareRange1.start"
      compare-range-1-end="vm.compareRange1.end"
      compare-range-1-type="vm.compareRange1Type"
      compare-range-2-start="vm.compareRange2.start"
      compare-range-2-end="vm.compareRange2.end"
      compare-range-2-type="vm.compareRange2Type"
      current-organization="::vm.currentOrganization"
      current-user="::vm.currentUser"
      date-format-mask="::vm.dateFormat"
      first-day-of-week-setting="::vm.firstDayOfWeek"

      on-export-click="vm.exportWidget(metricType,false)"
      export-is-disabled="vm.widgetIsExported(metricType, vm.viewData[metricType])"
      set-selected-widget="vm.setSelectedWidget(metricType)"
      widget-icon="people">
    </shoppers-vs-others-detail-widget>

    <visiting-frequency-detail-widget
      ng-if="::metricType === 'loyalty'"
      org-id="::vm.currentSite.organization.id"
      site-id="::vm.currentSite.site_id"
      location-id="vm.currentLocationId"
      language="vm.language"

      date-range-start="vm.dateRange.start"
      date-range-end="vm.dateRange.end"
      compare-range-1-start="vm.compareRange1.start"
      compare-range-1-end="vm.compareRange1.end"
      compare-range-1-type="vm.compareRange1Type"
      compare-range-2-start="vm.compareRange2.start"
      compare-range-2-end="vm.compareRange2.end"
      compare-range-2-type="vm.compareRange2Type"
      current-organization="::vm.currentOrganization"
      current-user="::vm.currentUser"
      date-format-mask="::vm.dateFormat"
      first-day-of-week-setting="::vm.firstDayOfWeek"

      on-export-click="vm.exportWidget(metricType,false)"
      export-is-disabled="vm.widgetIsExported(metricType, vm.viewData[metricType])"
      set-selected-widget="vm.setSelectedWidget(metricType)"
      widget-title="Visiting frequency"
      widget-icon="calendar">
    </visiting-frequency-detail-widget>

  </div>

</div>
