$analytics-header-lg-breakpoint: 1100px;
$date-range-picker-breakpoint: 980px;

.date-range-picker {
  display:block;
  background: #fff;
  box-shadow: 0px 2px 5px lighten($gray-light,5%);
  margin-top:3px;
  width: 710px;
  max-width: 710px;
  position: absolute;
  top: 100%;
  z-index: 1001;
  right: 0;

  &.align-left {
    right:auto;
    left:0;
  }
}


@media (max-width: $analytics-header-lg-breakpoint) {
  .date-range-picker {
    left: 0;
  }
}

.date-range-picker-period-nav {
  overflow: hidden;
}

.date-range-picker-period-nav a {
  width:33.3333%;
  float:left;
  display:block;
  box-sizing: border-box;
  background:#fafafa;
  border:1px solid #ccc;
  border-top:0;
  min-height:60px;
  color:#000;
  cursor:pointer;

  &:first-of-type,
  &:last-of-type {
    border-left:0;
    border-right:0;
  }

  &.selected {
    border-bottom:0;
    background:transparent;
  }

  &:hover {
    text-decoration:none;
  }
}
.hide-one-compare > a {
  width: 50%;
  &:first-of-type {
    border-right:1px solid #ccc;
  }
}

.date-range-picker-period-nav-content {
  padding:10px;
  font-size:12px;

  span.warning {
    color: $brand-danger;
  }
}

.date-range-picker-header {
  padding:10px;

  &.compare-details {
    clear:both;
    font-size:12px;
    padding: 10px 15px;

    label {
      font-weight:400;
      cursor:pointer;
    }

    input[type="number"] {
      text-align:center;
      margin: -1px 3px 0;
      border-radius: 3px;
      outline: none;
      padding: 3px 1px;
      border: 1px solid #ccc;
      &:disabled{
        background: #DCDAD1;
      }
    }

    .save-as-default {
      margin-left:40px;
    }
  }
}

.date-range-picker-body {
  clear:both;
  overflow:hidden;
  border-top: 1px dotted #ccc;
  margin: 0 15px;
}



.date-range-picker-body .loading {
  float: left;
  overflow: hidden;
  width: 100%;
  height: 100px;
  padding: 0 60px;
  background-image: url(../assets/images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 30%;
  color: rgba(0, 0, 0, 0);
}

.date-input-wrapper {
  width:30%;
  float:left;
  padding:5px;
}

.date-input-label {
  font-size: 10px;
  color: $gray-light;
  text-transform:uppercase;
  font-weight:600;
}

.date-input {
  border:1px solid $gray-lighter;
  padding:5px;
  color:$gray;
  border-radius:3px;
  font-size: 12px;
  font-weight:400;
  text-align:center;
  cursor: pointer;
  position:relative;

  &:hover {
    border-color: lighten($gray-lighter,3%);
  }

  &.focus {
    border-color: $brand-primary;
    color:$brand-primary;

    .calendar-icon {
      color: $brand-primary;
    }

    &.compare-period {
      border-color: #feac02;
      color: #feac02;

      .calendar-icon {
        color:#feac02;
      }

    }
  }

  .calendar-icon {
    float:left;
    color:$gray;
    position:absolute;
    left:8px;
    top:8px;
  }
}

.shortcut-selector {
  float:left;
  width:20%;
}

.shortcut-selector .dropdown-toggle {
  margin-top: 5px;
  margin-left:5px;
  border-radius: 3px !important;
  padding: 4px 6px;
  font-size: 11px;
  font-weight:400;
  width:90%;
}

.date-range-actions {
  width:20%;
  float:left;
}

.date-range-actions .btn {
  margin-top: 5px;
  margin-left:5px;
  border-radius: 3px !important;
  padding: 4px 10px;
  font-size: 11px;
  font-weight:400;
}

.date-range-picker-body {
  overflow:auto;
}

.month-wrapper {
  width:33%;
  float:left;
  padding:10px;
  box-sizing: border-box;
}

.month-title {
  text-align: center;
  width: 100%;
  display: block;
  padding: 5px 0;
}

.prev-month-link {
  float:left;
  padding:0 10px;
  cursor:pointer;
  &:hover {
    text-decoration: none;
  }
}

.next-month-link {
  float:right;
  padding:0 10px;
  cursor:pointer;
  &:hover {
    text-decoration: none;
  }
}
.month-wrapper table {
  width:100%;
}
.month-wrapper table thead tr th {
  width: 12.5%;
  font-size:13px;
  padding:3px;
  text-align:center;
}
.month-wrapper table tbody tr td {
  width: 12.5%;
  font-size:13px;
  padding:6px 3px;
  text-align:center;
  cursor:pointer;

  &:hover {
    background:#efefef;
  }

  &.in-range {
    background: #ebf4f8 !important;
  }

  &.disabled {
    cursor: not-allowed !important;
    background: transparent !important;
  }

  &.selected {
    background: $brand-primary !important;
    color: #fff;
  }

  a {
    color: #000;
  }
}

.month-wrapper.compare-period table tbody tr td {
  &.in-range {
    background: #feeecc !important;
  }
  &.selected {
    background: #feac02 !important;
    color: #ffffff;
  }
}

.prev-month, .next-month {
  color: lighten($gray-light,10%);
}

.month-wrapper{
.week, .disabled {
  color: lighten($gray-light,10%);
  &:hover {
    background: transparent !important;
    cursor: default !important;
  }
}

.week {
  font-weight:600;
  font-size:11px !important;
  padding:6px 4px;
}
}

@media (max-width: $date-range-picker-breakpoint) {
  .date-range-picker {
    left: 0;
    width: 100%;
  }

  .date-range-picker-header {
    .date-input-wrapper {
      width: 50%;
    }
    .date-action {
      width: 50%;
      padding-bottom: 12px;

      &.shortcut-selector {
        float: left !important;
      }
      &.date-range-actions {
        text-align: right;
        padding-right: 6px;
        float: right !important;
      }
    }
  }

  .date-range-picker-body {
    .month-wrapper {
      display: none;
    }
    .month-wrapper:nth-child(2) {
      float: none;
      display: block;
      width: 290px;
      margin: 0 auto;
      padding: 20px 0 30px 0;

      > table {
        margin-left: -8px;
      }
    }
    // Show hidden arrows
    .month-wrapper:nth-child(2) .month-title > a {
      display: block !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .date-range-picker {
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .date-range-picker {
    .month-wrapper:nth-child(2) {
      width: 205px;
    }
  }
}
