
ul.custom-select{
        list-style: none;
        -webkit-appearance: menulist;
        width:100%;
}

ul.custom-select li{
    height: 99%;
    width:100%;
    padding: 0px;
    padding-left: 3px;
}

ul.custom-select li span{
    padding-left:5px;
}

ul.custom-select li:hover{
    cursor: pointer;
    background: #f5f5f5;
}

ul.custom-select li.open {
    background: none;
}


ul.custom-select ul{
    width:100%;
}

.search{
    background: #fff;
    z-index: 99999;
    padding: 3px 10px 10px 10px !important;
    width:100%;
}

li.search{
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #ededed;
  margin-bottom: 10px;
}

li.search a{
  padding:0;
}

li.searching-on{
  opacity: 0.2;
}

.search-loading{
  position: absolute;
  top: 200px !important;
}

.searching {
  top: 100%;
  float: left;
  overflow: hidden;
  color: #000;
  z-index:99999;
}

.fetching{
  background-image: url(../assets/images/loader.gif);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: auto 60% !important;
  width: 100%;
  min-width: 100px;
  margin-top: 15px;
}

.smaller{
  background-position: 50% 50%;
  padding:0;
  margin: 0;
}

.navbar-nav-retailmanager li.searching {
  border:0 !important;
  padding: 18px;
}

