<widget class="heatmap-widget">
  <widget-header
    widget-title="{{ 'kpis.kpiTitle.'+vm.kpi | translate}}"
    hide-export-icon="vm.hideExportIcon"
    disable-export="vm.exportIsDisabled"
    on-export-click="vm.onExportClick()"
    set-selected-widget="vm.setSelectedWidget()">
  </widget-header>

  <widget-body>
    <heatmap-widget-body
      org-id="vm.orgId"
      site-id="vm.siteId"
      date-range-start="vm.dateRangeStart"
      date-range-end="vm.dateRangeEnd"
      location-types="vm.locationTypes"
      floor="vm.floor"
      on-location-click="vm.onLocationClick"
      widget-title="vm.widgetTitle"
      kpi="oneAndDone"
      value-format="value | formatKPI : 'oneAndDone' : true : vm.numberFormatName"
      language="vm.language"
      is-loading-heatmap-values="vm.isLoading"
      hide-location-list="vm.hideLocationList">
    </heatmap-widget-body>
  </widget-body>
</widget>
