
body .page-parts {
	margin-top: 45px;
	padding-top:30px;
	border-top: 1px solid #dbd9da;
}

body .page-parts h1 {
	margin-bottom: 20px;
}

body .last-part {
	padding-bottom:45px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.top-buffer {
	margin-top:30px;
}

.form-group {
	margin-bottom: 30px;
}

.row h1 span {
	color: #56c0fa;
}

.row p.selected-properties {
	background: white;
	padding: 10px;
	border: 1px solid #dbd9da;
	margin-bottom: 0;
}

.row .remove-link a {
	color: #fa5422;
}

#preview-device {
	width:227px;
	height:470px;
	background:url(../assets/images/preview-device.png) top left no-repeat transparent;
}

#preview-image {
	width:227px;
	height:470px;
	background:url(../assets/images/preview-example.jpg) top left no-repeat transparent;
	background-position: 14px 56px;
	background-size: 205px 356px;
}

#trigger-point-search {
	width: 100%;
	margin-bottom:0;
}

.form-group .btn-primary {
	margin-right:20px;
}

