<widget class="heatmap-widget">
  <widget-header
    widget-title="Campaign correlation heat map"
    hide-export-icon="vm.hideExportIcon"
    disable-export="vm.exportIsDisabled"
    on-export-click="vm.onExportClick()">
  </widget-header>

  <widget-body>
    <heatmap-widget-body
      org-id="vm.orgId"
      site-id="vm.siteId"
      location-id="vm.locationId"
      date-range-start="vm.dateRangeStart"
      date-range-end="vm.dateRangeEnd"
      location-types="vm.locationTypes"
      floor="vm.floor"
      on-location-click="vm.onLocationClick"
      list-title="Also used:"
      kpi="trafficCorrelation"
      value-format="value | formatKPI : 'trafficCorrelation' : true : vm.numberFormatName"
      hide-location-list="vm.hideLocationList">
    </heatmap-widget-body>
  </widget-body>
</widget>
