.compare-view .widget-container {
  margin-bottom: 40px;
}
.compare-view .add-widget-section {
  border: 2px dashed rgba($gray-light, 0.3);
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.compare-view .add-widget-dropdown {
  display: inline-block;
}
.compare-view .locations-should-be-copied-checkbox {
  margin-left: 20px;
}
.compare-view .replace-widget-dropdown {
  display: inline-block;
}

.add-widget-dropdown a[disabled="disabled"] {
  cursor:not-allowed;
  color:#999999;
}

.compare-view {
  .add-to-custom-dashboard {
    display:none !important;
  }
}
