<button ng-click="vm.removeWidget(widget)" class="btn btn-default btn-xs" translate-namespace="compareWidget">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  <span translate>.REMOVE</span>
</button>
