<div class="dropdown inline-block multi-select-list" off-click="vm.menuOpen = false">
  <button
    class="btn btn-default  dropdown-toggle {{::vm.dropdownClass}}"
    type="button"
    title="{{ vm.btnTooltip | translate }}"
    data-toggle="dropdown"
    ng-click="vm.menuOpen = !vm.menuOpen"
    aria-haspopup="true"
    aria-expanded="true"
    ng-disabled= "vm.disabled">
    <span ng-if="!vm.hideButtonTitle" translate> {{vm.title}}</span>
    <span  class="{{vm.buttonIcon}}"></span>
  </button>
  <ul class="dropdown-menu" ng-class="{'show': vm.menuOpen}">
    <li ng-if="vm.showListTitle">
      <div class="col-xs-12 list-title">
        <label title="" translate>{{vm.listTitle}}</label>
        <label
          title=""
          class="{{vm.buttonIcon}} list-title-icon">
        </label>
      </div>
    </li>
    <li ng-repeat="item in vm.items track by $index"
      title="{{:: item[vm.titleProperty] | translate }}"
      ng-class="{'active': item.selected}">
      <a href="" disabled ng-show="vm.maxLengthReached && !item.selected" bs-tooltip="vm.tooltip">
        {{::item[vm.titleProperty]}}
      </a>
      <a href="" ng-click="vm.toggleSelection(item)" ng-show="!vm.maxLengthReached || item.selected">
        <i class="glyphicon glyphicon-ok pull-right padding-left-10" ng-show="item.selected"></i>
        <span translate>{{::item[vm.titleProperty]}}</span>
      </a>
    </li>
  </ul>
</div>
