.admin-organization-edit {
  >.action-bar {
    display: block;
  }
  h1 {
    display: inline;
  }
  .sticon-refresh-small {
    padding-top: 7px;
  }
  >.org {
    margin-top: 32px;
  }
  h2 {
    font-size: 18px;
    color: $gray-light;
  }
  h3 {
    font-size: 14px;
    font-weight: bold;
    color: #4c4a4b;
  }
  p {
    font-weight: bold;
  }
  .org-custom-tags-btn {
    margin-right: 5px;
    background-color: #0AAAFF;
    border: none;
    outline: 0;
    border-radius: 50%;
    padding: 0.1em;
    width: 30px;
    height: 30px;
    color: white;
  }

  .org-custom-tags-table {

    background-color: white;
    margin-top: 20px;

    .org-custom-tags-table-buttons {
      margin-right: 10px;
      cursor: pointer;
    }

    .org-custom-tags-table-delete {
      background-color: #D73E2E;
      padding: 5px;
      border-radius: 50%;
      font-size: 10px;
      color: $white;
      top: -1px;
    }

    .org-custom-tags-table-edit {
      color: #0AAAFF;
    }

  }

  .org-meta {
    display: flex;
    >.org-id {
      padding-right: 20px;
    }
  }
  .org-subscriptions {
    .row {
      margin: 0;
    }
    .options {
      display: flex;
      flex-flow: row wrap;
      text-transform: capitalize;
      >.option {
        flex: initial;
        padding: 9px 9px 9px 0;
        box-sizing: border-box;
        display: flex;
        >h3 {
          margin: 0 0 0 9px;
          padding-top: 2px;
        }
      }
    }
  }
  .org-time-settings,
  .org-timeouts {
    margin-top: 20px;
    .metrics {
      display: flex;
      flex-flow: row wrap;
      >.metric {
        flex: initial;
        min-width: 300px;
        padding: 9px 9px 9px 0;
        >h3 {
          margin: 0 9px 0 0;
          min-width: 190px;
        }
        >p {
          font-size: 12px;
          font-weight: lighter;
          margin: 0px;
        }
        >input {
          width: 80px;
          padding: 0 6px;
        }
      }
    }
    .metrics.usage-of-areas>.metric {
      >h3 {
        min-width: 190px;
      }
    }
  }
  .actions {
    margin: 32px 0;
    button {
      margin-right: 8px;
    }
  }
  .org-sites {
    border-top: 1px dashed #ddd;
    padding-top: 20px;
  }
  .org-users {
    border-top: 1px dashed #ddd;
    padding-top: 20px;
  }
  .osm-table {
    section {
      margin-bottom: 10px;
    }
    input[type="file"] {
      display: inline;
    }
    input[type="number"] {
      width: 50px;
      margin-right: 10px;
    }
    .osm-list {
      margin-bottom: 20px;
    }
    .remove-osm {
      .sticon-delete-small {
        background-color: #D73E2E;
        padding: 5px;
        border-radius: 50%;
        font-size: 10px;
        color: $white;
        top: -1px;
      }
    }
  }
  .custom-tags {

    margin-top: 20px;

    h2 {
      display: inline;
      padding-right: 10px;
    }
    .header-fixed {
      width: 100% 
    }

    .header-fixed>thead,
    .header-fixed>tbody,
    .header-fixed>thead>tr,
    .header-fixed>tbody>tr,
    .header-fixed>thead>tr>th,
    .header-fixed>tbody>tr>td {
      display: block;
    }

    .header-fixed>tbody>tr:after,
    .header-fixed>thead>tr:after {
      content: '';
      display: block;
      visibility: hidden;
      clear: both;
    }

    .header-fixed>tbody {
      overflow-y: auto;
    }

    .header-tag-name,
     {
      height: 100%;
      width: 15%;
      float: left;
    }

    .header-tag-values
     {
      width: 70%;
      height: 100% !important;
      float: left;
    }

    .header-tag-actions
     {
      width: 15% !important;
      float: left;
    }
    
    .custom-tags-sort {
      color: #62C7FF;
      cursor: pointer;
      min-width: 100px;
    }
    .custom-tags-header {
      margin-right: 3px;
    }

  }

  input.ng-invalid {
    background-color: #f5c4c0;
    border-color: #eb9389;
    color: #da3a20;
  }
  .admin-refresh {
    margin-top: -20px;
    margin-right: 15px;
  }
    .user-upload {
    margin-left: 28px;
  }
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.admin-organization-edit-sites {
  div.table-responsive {
    max-height: 455px;
    overflow: auto;

  }
}

.admin-organization-edit-users {
  div.table-responsive {
    max-height: 455px;
    overflow: auto;
  }
}