<div class="admin-organization-edit">

<div class="account-preferences-loading" ng-show="edit.loading">
  <div class="account-preferences-loading-spinner"></div>
  <div translate>common.LOADING</div>
</div>

  <div class="add-org-success alert alert-success" ng-if="edit.saveSuccessful" translate>
    .SAVESUCCESSFUL
  </div>

  <div class="add-org-error alert alert-danger" ng-if="edit.saveFailed">
    <span translate>.ERROR</span>: {{ ::edit.errorMessage }}
  </div>

  <div class="action-bar">

    <h1>{{ ::edit.name }}</h1>

    <div class="refresh-all-action pull-right" ng-click="edit.refresh()">
      <span class="icon icon-refresh">
        <span class="sticon sticon-refresh-small"></span>
      </span>
      <span class="label-text" translate>.REFRESH</span>
    </div>
  </div>

  <admin-refresh class="pull-right admin-refresh" date-format="edit.refreshDisplayFormat" status="edit.refreshState"></admin-refresh>

  <div class="org org-meta">
    <div>
      <p translate>.ID</p>
    </div>
    <div class="org-id text-muted">
      <p> {{ ::edit.id }}</p>
    </div>
    <div>
      <p translate>.TYPE</p>
    </div>
    <div class="org-id text-muted">
      <p> {{ ::edit.type}}</p>
    </div>
  </div>

  <div class="org org-subscriptions">
    <h2 translate>subscription.SUBSCRIPTIONS</h2>
    <div class="row options">
      <div class="col-xs-12 col-sm-6 col-md-4 option" ng-repeat="(key, value) in edit.subscriptions" ng-if="key !== 'large_format_mall'">
        <ui-switch chosen="edit.subscriptions[key]"></ui-switch>
        <h3>{{ 'subscription.' + key | translate }}</h3>
      </div>
    </div>
  </div>

  <div class="custom-tags">
    <div>
      <h2 translate>.CUSTOMTAGS</h2>
      <button class="org-custom-tags-btn" ng-click="edit.addCustomTag()" type="button">
        <span class="icon icon-add">
          <span class="sticon sticon-add"></span>
        </span>
      </button>
      <create-custom-tags-modal mode="edit.customTagMode" custom-tag="edit.customTag" custom-tag-index="edit.customTagIndex" add-edit="edit.updateTag(tag,index)"></create-custom-tags-modal>
      <span class="text-muted" translate>.ADDNEW</span>

     <label for="fileInput" class="btn btn-primary user-upload" ngf-select="edit.uploadCustomTags($files)"  accept=".csv">
            Import CSV
    </label>

    <p/>

    <div class="add-org-success alert alert-success" ng-if="edit.tagImportSuccesful">
      <div>{{ ::edit.successMessage }}</div>
    </div>

    <div class="add-org-error alert alert-danger" ng-if="edit.tagImportFailed">
      <div> {{ ::edit.failedMessage }} </div>
    </div>


      <div>
        <div class="org-custom-tags-table">
          <delete-custom-tags-modal message="edit.deleteMessage" delete-item="edit.deleteCustomTagItem()"></delete-custom-tags-modal>
          <table class="table table-responsive table-striped header-fixed">
            <thead>
              <tr>
                <th class="header-tag-name custom-tags-sort" ng-click="edit.reverseTable()">
                  <span class="custom-tags-header">Tag name</span><span class="sticon sticon-arrow-right ng-scope" ng-class="{ reverse: edit.sortReverse }"></span>
                </th>
                <th class="header-tag-values">Values</th>
                <th class="header-tag-actions">Actions</th>
              </tr>
            </thead>
            <tbody style="max-height:300px;">
              <tr ng-repeat="customTag in edit.customTags">

                  <td class="header-tag-name">
                    <span ng-hide="customTag.editing">{{ customTag.orgTagType }}</span>
                  </td>
                 
                  <td class="header-tag-values">
                    
                    <div ng-show="customTag.orgTagValues.length <= 10" >
                      <span ng-repeat="tag in customTag.orgTagValues">{{ $first ? '' : $last ? ' and ' : ', ' }}{{ tag.name }}</span>
                    </div>
                     
                    <div ng-show="customTag.orgTagValues.length > 10" >
                      <!-- Show the first 0-10 items -->
                      <div style="cursor:pointer;" title="more..." ng-click="tag.show_extra = !tag.show_extra" ng-show="!tag.show_extra"> <span ng-repeat="tag in customTag.orgTagValues | limitTo:10 ">{{ $first ? '' : $last ? ' and ' : ', ' }}{{ tag.name }}</span> <span class="btn-link">(+)</span> </div>
                    </div>
                    <span ng-show="customTag.orgTagValues.length > 10" >
                       <div style="cursor:pointer;" title="less..." ng-click="tag.show_extra = !tag.show_extra" ng-show="tag.show_extra"> <span ng-repeat="tag in customTag.orgTagValues ">{{ $first ? '' : $last ? ' and ' : ', ' }}{{ tag.name }}</span> <span class="btn-link">(-) </span> </div>
                    </span>

                  </td>

                  <td class="header-tag-actions">
                    <span class="org-custom-tags-table-buttons" ng-click="edit.editCustomTagItem($index)" data-title="{{ 'admin.EDITCUSTOMTAG' | translate }}" bs-tooltip>
                            <span class="sticon sticon-edit-small org-custom-tags-table-edit"></span>
                    </span>
                    <span class="org-custom-tags-table-buttons" ng-click="edit.showDeleteCustomTagModal($index)" data-title="{{ 'admin.DELETECUSTOMTAG' | translate }}" bs-tooltip>
                            <span class="sticon sticon-delete-small org-custom-tags-table-delete"></span>
                    </span>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="org org-time-settings">
    <form name="dwellTimeForm" novalidate>
      <h2 translate>.TIMEOUT</h2>
      <p/>

      <section class="metrics">

        <div class="metric">
          <h3>Shopper vs. Others</h3>
          <br/>
          <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.shoppers_vs_others" name="default_value"
            min="0" />
        </div>

        <div class="metric">
          <h3>Usage of Areas</h3>
          <p>(default value)</p>
          <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.usage_of_areas.default_value"
            name="default_value" min="0" />
        </div>

        <div class="metric">
          <h3>Usage of Areas</h3>
          <p>Traffic Percentage Correlation</p>
          <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.usage_of_areas.traffic_percentage_correlation"
            name="default_value" min="0" />
        </div>

        <div class="metric">
          <h3>Usage of Areas</h3>
          <p>First Visits</p>
          <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.usage_of_areas.first_visits"
            name="default_value" min="0" />
        </div>

        <div class="metric">
          <h3>Usage of Areas</h3>
          <p>One and Done</p>
          <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.usage_of_areas.one_and_done"
            name="default_value" min="0" />
        </div>

        <div class="metric">
          <h3>Usage of Areas</h3>
          <p>Locations After</p>
          <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.usage_of_areas.locations_after"
            name="default_value" min="0" />
        </div>

        <div class="metric">
          <h3>Usage of Areas</h3>
          <p>Locations Before</p>
          <input type="number" ng-pattern="edit.onlyPositiveNumbers" ng-model="edit.dwell_time_threshold.usage_of_areas.locations_before"
            name="default_value" min="0" />
        </div>

      </section>
    </form>
  </div>

  <br/>

  <div class="org org-time-settings">
    <h2 translate>.TIMESETTINGS</h2>

    <section class="metrics">
      <div class="metric">
        <h3>Date format</h3>
        <button type="button" class="btn btn-default" ng-model="edit.dateFormat.selectedItem" bs-options="item.value as item.label for item in edit.dateFormat.items"
          bs-select>
           MM / DD / YYYY <span class="caret"></span>
         </button>
      </div>

      <div class="metric">
        <h3>Calendar format</h3>
        <button type="button" class="btn btn-default" ng-model="edit.calendarFormat.selectedItem" bs-options="item.value as item.label for item in edit.calendarFormat.items"
          bs-select>
           NRF Calendar <span class="caret"></span>
         </button>
      </div>
    </section>
  </div>

  <section class="actions">
    <button ng-click="edit.saveChanges()" type="button" class="btn btn-primary" translate>
    .SAVE
  </button>
    <button ng-click="edit.cancel()" type="button" class="btn btn-default" translate>
    .CANCEL
  </button>
  </section>

</div>

<div class="admin-organization-edit-sites" ui-view="adminSites"></div>

<br/>

<div class="admin-organization-edit-users" ui-view="adminUsers"></div>


