/*------------------------------------------------------------------------------
    Atomic Text classes
------------------------------------------------------------------------------*/
.capitalize {
  text-transform: capitalize;
}

h1, .h1 {
  font-weight: 300;
}

/*------------------------------------------------------------------------------
    Atomic State classes
------------------------------------------------------------------------------*/
.error {
  color: red;
}
