/*------------------------------------------------------------------------------
    Mobile-First Breakpoint strategy
--------------------------------------------------------------------------------

    Display Scenarios:
    320-479px   (default)     Smartphone (portrait)
    480-767px   (xs)          Tablet (portrait), Smartphone (landscape)
    768-991px   (sm)          Desktop (small), Tablet (landscape)
    992-1199px  (md)          Desktop (medium), Tablet (landscape)
    1200px+     (lg)          Desktop (large)

    UX Scenarios:
    320-767px   (default,xs)  Limited-space experience: mobile-like
    768-991px   (sm)          Full experience: desktop-like
    992px+      (md)          Full experience: desktop-like
    1200px+     (lg)          Enhanced experience (TBD)

    Feature breakpoints:
    600px+      (sidebar)     Breakpoint for sidebar

    Always create/use mixins for breakpoints, like this:

    .some-selector {
      some-rule: some-value;
      @include media-lg {
      some-rule: some-other-value;
      }
      @include media-print {
      display:none;
      }
    }
*/

// Config ------------------------------------------------------------------
$breakpoint-js: true !default;
$breakpoint-overlay: $is-development !default;

// Boundaries ------------------------------------------------------------------
$screen-smallest-min:       320px !default;
$screen-xs-min:             480px !default;
$screen-sm-min:             768px !default;
$screen-md-min:             992px !default;
$screen-lg-min:             1280px !default;
$screen-xlg-min:            1920px !default;
$screen-smallest-max:       ($screen-xs-min - 1) !default;
$screen-xs-max:             ($screen-sm-min - 1) !default;
$screen-sm-max:             ($screen-md-min - 1) !default;
$screen-md-max:             ($screen-lg-min - 1) !default;
$screen-lg-max:             ($screen-xlg-min - 1) !default;
// Features:
$screen-sidebar-min:        600px !default;
$screen-sidebar-max:        ($screen-sidebar-min - 1) !default;


// Media queries ---------------------------------------------------------------
$media-up-to-xs:            'screen and (max-width: #{$screen-smallest-max})';
$media-xs:                  'screen and (min-width: #{$screen-xs-min})';
$media-only-xs:             'screen and (min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max})';
$media-up-to-sm:            'screen and (max-width: #{$screen-xs-max})';
$media-sm:                  'screen and (min-width: #{$screen-sm-min})';
$media-only-sm:             'screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})';
$media-up-to-md:            'screen and (max-width: #{$screen-sm-max})';
$media-md:                  'screen and (min-width: #{$screen-md-min})';
$media-only-md:             'screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})';
$media-up-to-lg:            'screen and (max-width: #{$screen-md-max})';
$media-lg:                  'screen and (min-width: #{$screen-lg-min})';
$media-only-lg:             'screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max})';
$media-up-to-xlg:            'screen and (max-width: #{$screen-lg-max})';
$media-xlg:                  'screen and (min-width: #{$screen-xlg-min})';
$media-only-xlg:             'screen and (min-width: #{$screen-xlg-min})';
// Other:
$media-print:               'print';
// Features:
$media-sidebar:             'screen and (min-width: #{$screen-sidebar-min})';
$media-up-to-sidebar:       'screen and (max-width: #{$screen-sidebar-max})';


// Mixins ----------------------------------------------------------------------
@mixin media-smallest() {
  @media #{$media-up-to-xs} {@content;}
}
@mixin media-up-to-xs() {
  @media #{$media-up-to-xs} {@content;}
}
@mixin media-xs() {
  @media #{$media-xs} {@content;}
}
@mixin media-only-xs() {
  @media #{$media-only-xs} {@content;}
}
@mixin media-up-to-sm() {
  @media #{$media-up-to-sm} {@content;}
}
@mixin media-sm() {
  @media #{$media-sm} {@content;}
}
@mixin media-only-sm() {
  @media #{$media-only-sm} {@content;}
}
@mixin media-up-to-md() {
  @media #{$media-up-to-md} {@content;}
}
@mixin media-md() {
  @media #{$media-md} {@content;}
}
@mixin media-only-md() {
  @media #{$media-only-md} {@content;}
}
@mixin media-up-to-lg() {
  @media #{$media-up-to-lg} {@content;}
}
@mixin media-lg() {
  @media #{$media-lg} {@content;}
}
@mixin media-only-lg() {
  @media #{$media-only-lg} {@content;}
}
@mixin media-xlg() {
  @media #{$media-xlg} {@content;}
}
@mixin media-only-xlg() {
  @media #{$media-only-xlg} {@content;}
}
// Other:
@mixin media-print() {
  @media #{$media-print} {@content;}
}
// Features:
@mixin media-sidebar() {
  @media #{$media-sidebar} {@content;}
}
@mixin media-up-to-sidebar() {
  @media #{$media-up-to-sidebar} {@content;}
}


// Dev helpers ------------------------------------------------------------------

@if $breakpoint-js == true {

  // Named breakpoints (for Javascript)
	@include media-up-to-xs { head{font-family:'media-smallest'}}
	@include media-xs { head{font-family:'media-xs'}}
  @include media-sidebar { head{font-family:'media-sidebar'}}
	@include media-sm { head{font-family:'media-sm'}}
	@include media-md { head{font-family:'media-md'}}
  @include media-lg { head{font-family:'media-lg'}}
  @include media-xlg { head{font-family:'media-xlg'}}

	// Breakpoint widths (for Javascript)
	title {font-family: '{_media-smallest_:_#{$screen-smallest-min}_,_media-xs_:_#{$screen-xs-min}_,_media-sm_:_#{$screen-sm-min}_,_media-md_:_#{$screen-md-min}_,_media-lg_:_#{$screen-lg-min}_,_media-xlg_:_#{$screen-xlg-min}_,_media-sidebar_:_#{$screen-sidebar-min}_}';}
}

@if $breakpoint-overlay == true {

  body:before {
	position:fixed;
	top:2px;
  left:60px;
	// left:50%;
	// transform:translateX(-50%);
	padding:0 4px 3px 4px;
	font-size:10px;
	color:$brand-primary;
  opacity:0.7;
	z-index:10000;
	display:inline-block;
	border-radius:0 0 3px 0;
  pointer-events:none;
	}

	@include media-up-to-xs { body:before {content:"media-smallest (0px to #{$screen-smallest-max})"} }
	@include media-xs { body:before {content:"media-xs (#{$screen-xs-min} to #{$screen-xs-max})"} }
  @include media-sidebar { body:before {content:"media-sidebar (#{$screen-sidebar-min} up)"} }
  @include media-sm { body:before {content:"media-sm (#{$screen-sm-min} to #{$screen-sm-max})"} }
  @include media-md { body:before {content:"media-md (#{$screen-md-min} to #{$screen-md-max})"} }
  @include media-lg { body:before {content:"media-lg (#{$screen-lg-min} to #{$screen-lg-max}))"} }
  @include media-xlg { body:before {content:"media-xlg (#{$screen-xlg-min} up)"} }
}


// Deprecated aliases (do not use):
$screen-xs:                  $screen-xs-min !default;
$screen-phone:               $screen-xs-min !default;
$screen-sm:                  $screen-sm-min !default;
$screen-tablet:              $screen-sm-min !default;
$screen-md:                  $screen-md-min !default;
$screen-desktop:             $screen-md-min !default;
$screen-lg:                  $screen-lg-min !default;
$screen-lg-desktop:          $screen-lg-min !default;
$screen-xlg:                 $screen-xlg-min !default;
$screen-xlg-desktop:         $screen-xlg-min !default;
