/*------------------------------------------------------------------------------
    Button styles
------------------------------------------------------------------------------*/
.btn {

  &-default {
    @include linear-gradient(#ffffff, $gray-lighter);
  }

  &-primary {
    @include linear-gradient($btn-primary-bg, darken($btn-primary-bg, 5%));
  }

  &-success {
    @include linear-gradient($btn-success-bg, darken($btn-success-bg, 5%));
  }

  &-info {
    @include linear-gradient($btn-info-bg, darken($btn-info-bg, 5%));
  }

  &-warning {
    @include linear-gradient($btn-warning-bg, darken($btn-warning-bg, 5%));
  }

  &-danger {
    @include linear-gradient($btn-danger-bg, darken($btn-danger-bg, 5%));
  }

  &-capsule {
    @include linear-gradient(#ffffff, $gray-lighter);
    border-radius: 1em;
    border-color: #ccc;

    &.active {
      background-color: $gray-lighter;
    }
  }
}
