/*------------------------------------------------------------------------------
    Environment
------------------------------------------------------------------------------*/
$is-development: false !default;

/*------------------------------------------------------------------------------
    Paths
------------------------------------------------------------------------------*/
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/*------------------------------------------------------------------------------
    Colors
------------------------------------------------------------------------------*/
$white: #ffffff;
$dark-blue: #000066;
$light-blue: #20ABFC;

$gray-darker:   #3e3c3c;
$gray-dark:     #4c4a4a;
$gray-light:    #929090;
$gray-lighter:  #edebeb;

$brand-primary: #0aaaff;
$brand-success: #9bc614;
$brand-info:    #0665b5;
$brand-danger:  #f75c38;

$primary-color: #03aff7;
$disabled-color: #918f90;
$border-color: #ddd;
$active-color: #09a9fe;

$border-grey: #e7e7e7;

$chart-colors: (
  #9bc614,#0aaaff,#be64f0,#ff5028,#feac00,#00abae,#929090, // Medium brightness
  #328214,#003291,#690ff6,#960000,#af6400,#005669,#303030, // Darkest
  #50af14,#0665b5,#9b37f0,#d23200,#dc8200,#007a8d,#565454, // Darker
  #b4eb14,#50d2ff,#d296f5,#ff8259,#ffdc00,#00dbba,#c6c3c3  // Lighter
);

$panel-default-heading-bg: #ffffff;

/*------------------------------------------------------------------------------
    Metrics
------------------------------------------------------------------------------*/
$border-radius-base:  3px !default;
$border-radius-large: 4px !default;
$border-radius-small: 2px !default;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-large:        22px;

$padding-base-vertical:   8px;
$padding-base-horizontal: 12px;
$panel-border-radius:      0px;

$widget-height: 418px;

/*------------------------------------------------------------------------------
    Strings
------------------------------------------------------------------------------*/
$ct-series-names: (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, x);

/*------------------------------------------------------------------------------
    Transitions         (Find animations in components/common/animations.scss)
------------------------------------------------------------------------------*/
$default-easing: $ease-in-out-quad;
$default-transition-duration: 240ms;
$default-transition: $default-transition-duration all $default-easing;

/*------------------------------------------------------------------------------
    Analytics Menu
------------------------------------------------------------------------------*/
$analytics-menu-width: auto;
$analytics-menu-color: #0C2341;
$analytics-menu-icon-color: #0aaaff;
$analytics-menu-icon-active-color: white;
$analytics-menu-icon-hover-color: tint($analytics-menu-icon-color, 55%);
$analytics-menu-sidebar-width: 46px;
$analytics-menu-sidebar-width-open: 190px;
$analytics-menu-sidebar-width-open-lg: 230px;
$analytics-menu-transition: .24s all $ease-in-out-quad; // Update JS if duration changes
$analytics-menu-item-height: 46px;
