.widget .widget-heading {
  border-bottom: 1px dotted $gray-light;
}

.widget .widget-actions {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  margin-bottom: -2px;
}

.widget .widget-actions .btn {
  border-radius: 15px;
}

.widget .widget-actions .btn-group .btn:first-child {
  padding-left: 7px;
}

.widget .widget-actions .btn-group .btn:last-child {
  padding-right: 7px;
}

.padding-left-7 {
  padding-left:7px;
}

.padding-right-7 {
  padding-right: 7px;
}
.padding-top-2 {
  padding-top: 2px;
}

.widget .export-widget {
  margin-top: -1px;
}

.widget .export-widget span {
  position: relative;
  top: -1px;
  vertical-align: middle;
  font-size: 16px;
}

.widget .export-widget a {
  @extend .btn;
  @extend .btn-default;
  display: block;
  padding: 0;
  width: 24px;
  height: auto;
  text-align: center;
  cursor: pointer;
  border: 1px solid $btn-default-border;
  text-align: center;
  line-height: 22px;
  color: $brand-primary;
}

.widget .export-widget.csv a {
  width: 55px;
}

@media (min-width: $screen-md-max) {
  .widget .export-widget.csv a {
    width: 55px;
  }
}


.widget .export-widget.is-disabled a {
  @extend .btn.disabled;
  color: $btn-default-border;
  background: transparent;
}

.panel-title.widget-title {
  min-height:25px;
  font-size: $font-size-large;
  margin-top: 0;
  margin-bottom: 0;
}

.disabled .panel-heading .panel-title.widget-title,
.disabled .panel-heading .widget-icon {
  min-height:25px;
  color: #bbb !important;
}
.no-padding {
  padding-left:0px;
  padding-right:0px;
}

.widget-icon {
  margin-top: -2px;
  top: 0.14em;
  padding-right: 0.4em;
  color: $brand-primary;
}

.widget .loader span {
  overflow: hidden;
  width: 32px;
  height: 32px;
  background-image: url(../assets/images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  color: rgba(0, 0, 0, 0);
}

.widget .error-message span,
.widget .loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inline-block {
  display: inline-block !important;
}

.padding-left-10 {
  padding-left: 10px;
}

.no-vertical-padding {
  padding-left:0;
  padding-right:0;
}

div.header {
  padding-top: 15px;
  padding-bottom: 15px;
  color: lighten($gray-light,5%);

  div.border-bottom {
    padding-left:12px;
    > div {
      border-bottom: 1px solid lighten($gray-light,18%);
      margin-top:10px;
    }
  }

  div.title {
    display: inline-block;
    position: relative;
    bottom: 10px;
    left: 7px;
    h1 {
      font-size: 16px;
      font-weight: 500;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  .sticon {
    margin-left: 10px;
  }
  .edit-btn {
    overflow:hidden;
    padding-top: 0px;
    margin-left: 20px;
    margin-top:0px;
    padding-top:0px;
    padding-bottom: 0px;
    height:37px;
    text-align: middle;
  }

  .sticon-settings {
    font-size: 35px;
    top: -7px;
    margin-left: 2px;
  }
  .edit {
    margin-top: 8px;
    padding-left: 6px;
  }
}
