/*------------------------------------------------------------------------------
    Modals
--------------------------------------------------------------------------------
    These base modal styles were introduced with Custom Dashboards 2.1.
------------------------------------------------------------------------------*/
.modal {

  &-compare {
    bottom: auto;
    text-align: inherit;
    padding-left: 0px;
    overflow-y: hidden;
    height: 95%;
    height: 95vh;
    margin-top: 2.5%;
    margin-top: 2.5vh;
    width: 95%;
    width: 95vw;
    margin-left: 2.5%;
    margin-left: 2.5vw;
    .chart-body {
      text-align: left;
    }
    .modal-title {
      text-align: left;
      font-size: 24px;
      margin-bottom: 15px;
    }
    .modal-body {
      table {
        label {
          text-align: center;
        }
      }
      label {
        display: inline-block;
      }
      .widget-action-buttons {
        text-align: left;
      }
    }
    .widget-title-name {
      text-align: left;
    }
  }

  &-dialog {
    background-color: $gray-lighter;
    border-radius:4px;
  }

  // Components:
  &-header {
    padding: 50px 50px 0px 50px;
    border-bottom: 0;

    &__icon {
      font-size: 40px;
      color: $gray-light;
      margin-bottom: 15px;
    }
    .close {
      margin-top: -12px;
    }
  }

  &-heading {
    font-size: 30px;
    color: $gray;
    margin-bottom: 25px;
    font-weight: 300;
  }

  &-subheading {
    font-size:15px;
    font-weight:300;
    color: #888;
  }

  &-content {
    background:none;
      &-compare {
      background-color: $white;
      overflow-x: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: auto;
      max-height:95%;
      width: 95%;
      .table {
        margin-bottom: -23px;
      }
    }
  }

  &-body {
    padding: 0 50px 0 50px;
    color: $gray;

    p {
      font-size: 16px;
      margin-bottom: 25px;
    }
    label {
      position: relative;
      text-align: left;
      display: block;
      margin-bottom: 10px;
    }
    input[type="text"] {
      display: block;
      width: 100%;
      height: 40px;
      padding: 0px 10px;
    }

    .alert {
      p {
        margin-bottom: 0;
      }
    }
  }

  &-footer {
    text-align: center;
    border: none;
    padding: 0px 50px 50px 50px;
  }

  &-subheading {
    font-size:15px;
    font-weight:300;
    color: #888;
  }

  &-backdrop {
    background: rgba(0,0,0,.4);
  }

  // States:
  &.is-disabled {
    pointer-events:none;

    .modal-content{
      opacity:0.4;
    }
  }
  &.is-waiting {
    .modal-dialog::after {
      content:'';
      background: url('/assets/images/loader.gif') center center no-repeat;
      background-size: 100% 100%;
      width:32px;
      height:32px;
      display:block;
      position:absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
  }

}

//modal style for adding widgets to custom dashboard on the custom compare page
.org-compare-view {
  .modal {
    &--custom-dashboard {
      .dashboard-list__create {
        &.active {
          pointer-events: none;
        }
      }
    }
  }
}
