<div class="modal modal-export-cart" ng-controller="ExportCartModalCtrl">



  <div class="modal-dialog">


    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">×</button>
        <h4 class="modal-title">Export</h4>
      </div>

      <div class="modal-body">
        <div ng-if="!loading">
          <div ng-repeat="(areaKey,area) in exportCart">
            <h4 class="area-title">{{ getExportAreaTitle(areaKey) }}</h4>
            <div ng-repeat="(rangeKey,range) in area">
              <div class="date-ranges">{{range.start | amDateFormat: 'MM/DD/YYYY'}} &ndash; {{range.end | amDateFormat: 'MM/DD/YYYY'}}</div>
              <ul class="list-group" ui-sortable="sortableOptions" ng-model="range.metrics">
                <li class="list-group-item export-item" ng-repeat="metric in range.metrics">
                  {{exportMetricNames[metric.name] ? exportMetricNames[metric.name] : metric.name}}
                  <span
                    class="glyphicon glyphicon-remove pull-right remove-export-item"
                    ng-click="removeMetric(areaKey, rangeKey, metric.name)"
                    aria-hidden="true">
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <p ng-if="isExportCartEmpty() && numExportsInProgress === 0">Nothing selected for export</p>
          <p ng-if="isExportCartEmpty() && numExportsInProgress > 0">
            Loading...
          </p>
          <div class="alert alert-danger" role="alert" ng-if="lastExportFailed">
            PDF export file could not be generated. Please try again later.
          </div>
        </div>
      </div>

      <div class="modal-footer" ng-switch="getNumKeys(exportCart) > 0">
        <button
          ng-switch-when="true"
          class="btn btn-primary pull-left"
          ng-click="exportCurrentCartToPdf()">
          Export PDF
        </button>
        <button
          ng-switch-when="false"
          class="btn btn-primary pull-left"
          disabled>
          Export PDF
        </button>
        <span
          ng-if="numExportsInProgress > 0"
          class="loading-spinner"
          aria-hidden="true">
        </span>

        <button
          ng-switch-when="true"
          class="btn btn-link"
          ng-click="clearExportCart()">
          Clear export
        </button>
        <button
        ng-switch-when="false"
          class="btn btn-link"
          disabled>
          Clear export
        </button>
      </div>

      <div class="previous-exports" ng-if="exportedCarts.length > 0">
        <div class="previous-exports-title">
          Previous exports
        </div>
        <div class="previous-exports-list">
          <div class="previous-export-item" ng-repeat="exportedCart in exportedCarts">
            <div class="row">
              <div class="col-xs-10">
                <div class="item-area" ng-repeat="(areaKey,area) in exportedCart">
                  <div><strong>{{ getExportAreaTitle(areaKey) }}</strong></div>
                  <div ng-repeat="(rangeKey,range) in area">
                    <div>{{range.start | amDateFormat: 'MM/DD/YYYY'}} &ndash; {{range.end | amDateFormat: 'MM/DD/YYYY'}}</div>
                    <span class="item-metric" ng-repeat="metric in range.metrics"><!--
                   -->{{exportMetricNames[metric.name] ? exportMetricNames[metric.name] : metric.name}}<!--
                 --></span>
                  </div>
                </div>
              </div>
              <div class="col-xs-2 item-actions">
                <button
                  class="btn btn-primary btn-xs"
                  ng-click="exportCartToPdf(exportedCart)">
                  Export PDF
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>



</div>
