<div class="row organization-csv-section csv-export-actions" ng-if="vm.formIsVisible">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

    <div ng-show="isSuccessfullySaved" class="alert alert-success fade" translate>
      .SAVEDREPORT
    </div>

    <div ng-show="isFailure" class="alert alert-danger fade" translate>
      .SAVINGERROR
    </div>

      <scheduled-report-widget
        schedule-type="csv"
        organization-id="vm.currentOrganization.organization_id"
        user="vm.currentUser"
        active-group="vm.activeGroup"
        business-hours="vm.businessHours"
        date-range="vm.dateRange"
        site-level="vm.siteLevel"
        site-id="vm.currentSite.site_id"
        selected-zones="vm.selectedZones"
        selected-locations="vm.selectedLocations"
        selected-sites="vm.selectedSites"
        selected-metrics="vm.selectedMetrics"
        load-schedules="vm.loadSchedules()"
        close-schedule="vm.toggleSchedulingForm()"
        current-organization="vm.currentOrganization"
        group-by-setting="vm.groupBySetting"
        current-user="vm.currentUser">
      </scheduled-report-widget>

      <div class="modal-footer">
      </div>
  </div>
</div>
