<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <h2 class="organization-csv-section-title" translate>.SELECTZONES</h2>
</div>

<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div class="csv-export-select-sites-dropdown-wrapper col-xs-12 col-md-6 odd">
    <div
      zone-selector-popover
      zones="vm.zones"
      language="vm.language"
      on-zone-click="vm.toggleZone(zoneId)"
      zone-is-selected="vm.zoneIsSelected(zoneId)"
      selected-zones-on-click="vm.selectAllZones(allZonesList)"
      show-select-all-button="true"
      class="csv-export-select-sites-dropdown">
      <span translate>.SELECTZONES</span>
      <span class="sticon sticon-chevron-down dropdown-icon"></span>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div class="csv-export-site-selector-wrapper col-xs-12">
    <div class="csv-export-site-selector" ng-if="vm.selectedZones.length > 10">
      <span class="csv-export-site-selector-highlighted">{{vm.selectedZones.length}}</span> <span translate>.ZONESSELECTED</span>
      <a
        class="csv-export-site-selector-show-hide-button"
        ng-click="vm.showZonesAlways=!vm.showZonesAlways"
        ng-if="!vm.showZonesAlways"
        translate>
        .SHOW
      </a>
      <a
        class="csv-export-site-selector-show-hide-button"
        ng-click="vm.showZonesAlways=!vm.showZonesAlways"
        ng-if="vm.showZonesAlways"
        translate>
        .HIDE
      </a>
      <span class="csv-export-remove-icon" ng-click="vm.removeAllZones()"></span>
    </div>
    <div class="csv-export-site-selector" ng-repeat="zoneId in vm.selectedZones track by $index" ng-if="vm.selectedZones.length <= 10 || vm.showZonesAlways">
      {{ vm.getZoneNameById(zoneId) }} <span class="csv-export-remove-icon" ng-click="vm.toggleZone(zoneId)"></span>
    </div>
  </div>
</div>
