<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <h2 class="organization-csv-section-title" translate>.SELECTSITES</h2>
</div>

<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div
    class="csv-export-select-sites-dropdown-wrapper col-xs-12 col-md-6 _odd">
    <div
      site-selector-popover
      sites="vm.sites"
      language="vm.language"
      on-site-click="vm.toggleSite(siteId)"
      select-all-sites="vm.selectAllSites()"
      is-selected="vm.siteIsSelected(siteId)"
      show-select-all-button="true"
      class="csv-export-select-sites-dropdown">
      <span class="sticon sticon-search"></span>
      <span translate>.SELECTSITES</span>
      <span class="sticon sticon-chevron-down dropdown-icon"></span>
    </div>
  </div>
</div>

<div class="csv-export-tag-filter-widget col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div
    ng-if="vm.organizationIsTypeRetail()"
    ng-click="!vm.tagDropdownIsDisabled() && (vm.tagFilterWidgetIsVisible=!vm.tagFilterWidgetIsVisible)"
    ng-class="{'disabled': vm.tagDropdownIsDisabled()}">

    <h2 class="organization-csv-section-title" translate>.SELECTFILTERS</h2>
    <div ng-if="true || vm.tagFilterWidgetIsVisible" off-click="vm.tagFilterWidgetIsVisible=false">
      <organization-filter-widget
        current-organization="vm.currentOrganization"
        update-selected-filters="vm.setSelectedFilters(filterTags, customTags)"
        selected-tag-data="vm.selectedTagData"
        open-main="false">
      </organization-filter-widget>
    </div>
    <div class="wrapper-cover"></div>
  </div>
</div>

<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div class="csv-export-site-selector-wrapper col-xs-12">

    <a
      ng-show="vm.tags.length > 0 || vm.selectedSites.length > 0"
      ng-click="vm.clearSitesAndFilters();"
      class="csv-export-clear" translate>
      .CLEARALL
    </a>

    <div class="csv-export-site-selector" ng-if="(vm.tags.length + vm.customTags.length) > 0">
      <span class="csv-export-site-selector-highlighted">{{ vm.tags.length + vm.customTags.length }}</span> <span translate>.TAGSSELECTED</span>
      <span class="csv-export-remove-icon" ng-click="vm.removeAllTags()"></span>
    </div>
    <div class="csv-export-site-selector" ng-if="vm.selectedSites.length > 10">
      <span class="csv-export-site-selector-highlighted">{{vm.selectedSites.length}}</span> <span translate>.SITESSELECTED</span>
      <a
        class="csv-export-site-selector-show-hide-button"
        ng-click="vm.showSitesAlways=!vm.showSitesAlways"
        ng-if="!vm.showSitesAlways"
        translate>
        .SHOW
      </a>
      <a
        class="csv-export-site-selector-show-hide-button"
        ng-click="vm.showSitesAlways=!vm.showSitesAlways"
        ng-if="vm.showSitesAlways"
        translate>
        .HIDE
      </a>
      <span class="csv-export-remove-icon" ng-click="vm.removeAllSites()"></span>
    </div>
    <div class="csv-export-site-selector" ng-repeat="siteId in vm.selectedSites track by siteId" ng-if="vm.selectedSites.length <= 10 || vm.showSitesAlways">
      {{ ::vm.getSiteNameById(siteId) }} <span class="csv-export-remove-icon" ng-click="vm.toggleSite(siteId)"></span>
    </div>
  </div>
</div>
