<widget class="entrance-contribution-pie-widget" translate-namespace="entranceContributionPieWidget" ng-if="vm.entranceItems.length > 1">
  <widget-header
    widget-title="{{ 'kpis.kpiTitle.entrance_contribution_pie' | translate}}"
    icon="entrance-fat"
    hide-export-icon="vm.hideExportIcon"
    disable-export="vm.exportIsDisabled"
    on-export-click="vm.onExportClick()"
    set-selected-widget="vm.setSelectedWidget()">
  </widget-header>

  <widget-body>
    <div
      ng-if="vm.requestFailed"
      class="text-center error-message">
      <span>.ERROR</span>
    </div>

    <div
      ng-if="!vm.isLoading && !vm.chartHasData"
      class="text-center error-message">
      <span translate="">common.NODATA</span>
    </div>

    <div class="loader" ng-if="vm.isLoading">
      <span>.LOADING</span>
    </div>

    <div
      ng-if="!vm.isLoading && !vm.requestFailed && vm.chartHasData"
      class="row">

      <div class="col-sm-12 col-md-12 col-lg-8 entrance-chart">
        <donut-pie-chart
          ng-if="!isLoading"
          chart-data="vm.chartData"
          chart-legend="vm.chartLegend"
          show-legend="false"
          show-labels="false">
        </donut-pie-chart>
      </div>

      <div ng-class="vm.pdf ? 'col-sm-12 site-list-container' : 'col-sm-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-0 site-list-container'">
        <ul class="site-list list-unstyled">
          <li ng-repeat="entranceItem in ::vm.entranceItems | orderBy:'-traffic' track by $index" class="item item-number-{{entranceItem.number}}">
              <strong>
                <span class="badge">{{ $index+1 }}</span>&nbsp; {{::entranceItem.name }}: {{::entranceItem.share.percentageShare | formatNumber: 1: vm.numberFormatName}}
              </strong>
          </li>
        </ul>
      </div>
    </div>

    <div
      ng-if="!vm.isLoading && vm.allRequestsSucceeded() && vm.chartData.series.length === 0"
      class="text-center error-message">
      <span>.NODATA</span>
    </div>
  </widget-body>
</widget>
