.daily-performance-widget {
  min-height: 418px;
  position:relative;
  .panel-body {
    padding-bottom: 30px;
    &.has-table {
      padding-bottom: 0;

      .table-toggle .btn {
        top:12px;
        .dashboard__widget & {
          top:28px
        }
      }
    }
    
    .table-toggle--show .btn {
      // top:12px;
      .dashboard__widget & {
        top:62px;
      }
    }

    .dashboard__widget.widget-layout-2x & {
      .chart-container > div {
        width:100%;
      }

      .table,
      .table-toggle {
        display:none;
      }
    }
  }

  .permission-message {
    color: $gray-light;
    margin-top:20px
  }

  .loader {
    min-height:250px;
  }
  h3 {
    margin-top:10px;
    font-size:15px;
  }

  .axis-title{
    color: $gray-light;
    font-size:12px;
  }

  .graph-container {
    height: 225px;
  }

  .chart-tooltip {
    min-width: 165px;

    table > tbody > tr > td {
      border:none;
      border-right:none;
      background-color: transparent;
      padding:3px !important;
    }
    table > tbody > tr > th, td {
      padding:3px !important;
      border-top:none;
    }

    h4 {
      font-size:14px;
      font-weight: bold;
    }
  }

  .table-toggle {
    margin-left:0px;
    .btn {
      position:relative;
      top:42px;
      padding: 1px 10px;
      text-transform: uppercase;
    }
  }

  .margin-top-40 {
    margin-top:40px;
  }

  .table {
    font-size:13px;
    border-left:none;
    border-right:none;
    &.table-bordered {
      border-color: $gray-lighter;
      thead > tr > th {
        border-color: $gray-lighter;
        border-bottom-width:1px;
        text-transform: uppercase;
        text-align: center;
        &:first-child {
          border-left:none;
        }
        &:last-child {
          border-right:none;
        }
        &.link {
          padding:0;
          a {
            display: block;
            height: 34px;
            width: 100%;
            padding-top: 8px;
          }
        }
        &.active a {
          color: $brand-primary;
          background-color: white;
        }
        a {
          color:$gray-dark;
        }
      }
      tbody > tr > td {
        border-color: $gray-lighter;
        text-align: center;
        &:first-child {
          border-left:none;
          text-align: left;
        }
        &:last-child {
          border-right:none;
        }
      }

      tbody > tr:last-child > td {
        border-bottom-color: black;
      }
      tfoot > tr > td {
        border-color: $gray-lighter;
        border-top-color: black;
        text-align: center;
        &:first-child {
          border-left:none;
          text-align: left;
        }
        &:last-child {
          border-right:none;
        }
      }
    }
    .border-left {
      border-left: 1px solid $brand-primary !important;
      border-color: $brand-primary;
    }
    .no-border-right{
      border-right:none
    }
    &.reduced-padding {
      tbody > tr > td,
      thead > tr > th,
      tfoot > tr > td {
        padding: 6px;
      }
    }
  }

  .highcharts-container svg > .highcharts-axis {
    path {
      stroke-dasharray: 1,3;
      stroke: rgb(201, 201, 201);
    }
  }

  .highcharts-tooltip {
    background-color: white;
    span {
      width: 165px;
    }

    .tooltip-header {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
    }

    .tooltip-option {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 5px;
      font-size: 13px;

      .tooltip-name {
        float: left;
        text-transform: capitalize;
        font-weight: bold;
        padding-left: 5px;
      }

      .tooltip-value {
        float: right;
        padding-right: 10px;
      }
    }
  }

  .right-chart {
    .pull-left {
      padding-left: 10px;
      span {
        padding-left: 0;
      }
    }
    .pull-right {
      padding-right: 10px;
      span {
        padding-right: 0;
      }
    }
  }

  .chart-legend {
    padding-left: 10px;
  }

  @media (max-width: 991px) {
    .graph-container {
      margin-bottom: 12px;
    }
  }
}

.pdf-export .daily-performance-widget {
  .left-chart, .right-chart {
    width: 100%;
  }
}
