<widget
  class="daily-performance-widget"
  ng-class="{
    'is-line-chart-as-bar-chart': vm.chartType === 'column'
  }"
  translate-namespace="dailyPerformance">
  <widget-header
    widget-title="{{:: 'dailyPerformance.DAILYPERFORMANCEINDICATORS' | translate }}"
    icon="daily-performance"
    disable-export="vm.exportIsDisabled"
    on-export-click="vm.onExportClick()"
    hide-export-icon="vm.hideExportIcon"
    set-selected-widget="vm.setSelectedWidget()">
    <left>
      <day-selector selected-days="vm.selectedDays" ng-show="!vm.hideExportIcon"></day-selector>
    </left>
    <right>
        <sales-categories-selector
        ng-if="::!vm.isPdf"
        categories="::vm.currentOrganization.portal_settings.sales_categories"
        selected-categories="vm.salesCategories">
        </sales-categories-selector>
    </right>
  </widget-header>

  <widget-body ng-class="{'has-table': vm.showTable}">
    <div class="row text-center error-message">
      <span class="col-xs-12 loader" ng-show="!vm.loaded">
        <span translate>.LOADING</span>
      </span>
      <span class="col-xs-12 overlay-message" ng-show="vm.showPermissionsMessage">
        <div class="row">
          <div class="col-xs-12 text-center permission-message">
            <span translate>.TOENABLESALESDATA</span>
          </div>
          <div class="col-xs-12 text-center permission-message">
            <a href="mailto:sales@retailmanager.com" translate>.CONTACTSALES</a>
          </div>
        </div>
      </span>
      <span ng-show="!vm.hasData && vm.loaded === true && !vm.showPermissionsMessage" translate>
        common.NODATA
      </span>
      <span ng-show="vm.loaded === true && !vm.showPermissionsMessage && vm.hasError" translate>
        common.ERROR
      </span>
    </div>
    <div class="data-section" ng-if="vm.loaded === true && !vm.showPermissionsMessage && !vm.hasError && vm.hasData">
      <div class="row chart-container">
        <div class="col-md-6 left-chart">
          <div class="col-md-12 text-uppercase text-center chart-title">
            <h3>{{ vm.leftChartTitle }}</h3>
          </div>
          <div class="col-md-12 y-axis-titles">
            <span class="axis-title">%</span>
          </div>
          <div class="col-md-12 chart-body">
            <div class="graph-container">
              <highchart id="chart-left" class="daily-perf-chart" config="vm.chartLeftConfig" ng-if="vm.chartLeftConfig">
              </highchart>
            </div>
            <div class="chart-legend">
              <span class="chart-legend-label" ng-repeat="metric in vm.chartDataLeft.metricsWithData track by metric">
                <label translate>{{ metric }}</label>
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-6 right-chart">
          <div class="col-md-12 text-uppercase text-center chart-title">
            <h3>{{ vm.rightChartTitle }}</h3>
          </div>
          <div class="col-md-12 y-axis-titles">
            <div class="col-xs-6 pull-left">
              <span class="pull-left text-uppercase axis-title">
                <span translate>kpis.shortKpiTitles.tenant_conversion</span> %
              </span>

            </div>
            <div class="col-xs-6 pull-right">
              <span ng-show="vm.hasLabor" class="pull-right text-uppercase axis-title" translate>
                kpis.shortKpiTitles.tenant_star
              </span>
            </div>
          </div>
          <div class="col-md-12 chart-body">
            <div class="graph-container">
              <highchart id="chart-right" class="daily-perf-chart" config="vm.chartRightConfig" ng-if="vm.chartRightConfig">
              </highchart>
            </div>
            <div class="chart-legend">
              <span class="chart-legend-label" ng-repeat="metric in vm.chartDataRight.metricsWithData track by metric">
                <label translate>{{ metric }}</label>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 text-center table-toggle table-toggle--show widget-actions" ng-if="vm.loaded" ng-show="!vm.showTable && !vm.showPermissionsMessage && !vm.hideExportIcon &&!vm.hasError && vm.hasData">
      <a href="" class="btn btn-default btn-xs" ng-click="vm.showTable = true">
        <span translate>.SHOWTABLE</span>
        <span class="caret"></span>
      </a>
    </div>
    <div class="row" ng-if="vm.showTable && vm.loaded">
      <div class="col-xs-12 no-vertical-padding margin-top-40 overflow-hidden">
        <table class="table table-striped table-bordered daily-performance-widget-table {{::vm.additionalTableCssClass}}">
          <thead>
            <tr>
              <th class="link" ng-class="{'active': vm.currentSort === 'dayOfWeekIndex'}">
                <a href="" ng-click="vm.orderBy('dayOfWeekIndex')">
                  <span class="sticon sticon-change"></span>
                </a>
              </th>
              <th
                class="link no-border-right"
                ng-class="{'border-left': $index > 0, 'active': vm.currentSort === metric.apiPropertyName}"
                ng-repeat-start="metric in vm.metricDisplayInfo track by metric.value"
                ng-click="vm.orderBy(metric.apiPropertyName)">
                <a href="" translate>
                  {{ ::metric.shortTranslationLabel }}
                </a>
              </th>
              <th
                class="link"
                ng-class="{'no-border-right': $index < (vm.metricDisplayInfo.length - 1), 'active': vm.currentSort === metric.apiPropertyName + '_contribution'}"
                ng-if="::!metric.hidePercentColumn"
                ng-repeat-end>
                <a
                  href=""
                  ng-click="vm.orderBy(metric.apiPropertyName + '_contribution')">
                  <span class="sticon sticon-change"></span>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in vm.tableData track by row.dayOfWeek">
              <td translate>{{ row.dayOfWeek }}</td>
              <td ng-class="{'border-left': $index > 0}" class="no-border-right" ng-repeat-start="metric in vm.metricDisplayInfo track by metric.value">
                <span ng-if="::row[metric.apiPropertyName]">{{ ::metric.prefixSymbol }}{{ row[metric.apiPropertyName] | formatNumber : metric.precision : vm.numberFormatName }}{{ ::metric.suffixSymbol }}</span>
                <span ng-if="::!row[metric.apiPropertyName]">
                  -
                </span>
              </td>
              <td
                class="no-border-right"
                ng-if="::!metric.hidePercentColumn"
                ng-repeat-end>

                <span ng-if="::row[metric.apiPropertyName + '_contribution']">
                  {{ row[metric.apiPropertyName + '_contribution'] | formatNumber : 1 : vm.numberFormatName }}%
                </span>
                <span ng-if="::!row[metric.apiPropertyName + '_contribution']">
                  -
                </span>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="text-uppercase" translate>{{::vm.averageTranskey}}</td>
              <td ng-repeat-start="metric in vm.metricDisplayInfo track by metric.value" >
                {{::metric.prefixSymbol}}{{vm.averages[metric.apiPropertyName] | formatNumber : metric.precision : vm.numberFormatName}}{{::metric.suffixSymbol}}
              </td>
              <td ng-if="::!metric.hidePercentColumn" ng-repeat-end></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-xs-12 text-center table-toggle widget-actions" ng-show="vm.showTable && !vm.hideExportIcon && vm.hasData">
        <a href="" class="btn btn-default btn-xs" ng-click="vm.showTable = false">
          <span translate>.HIDETABLE</span>
          <span class="caret up"></span>
        </a>
      </div>
    </div>
  </widget-body>
</widget>
